<p class="">The survey asked musicians about their recording credits, composing credits, and number of shows performed. Respondents could respond with a range of "0" to "more than 100" for each question. The overall survey data results suggested that anyone who answered more than 50 was a statistically significant achievement, and so this table shows the <% if FilterProfileName()=='All Musicians' %>musicians<% elsif FilterProfileName()=='Other musicians' %><strong>all-other-genres musicians</strong> <%else%><strong><%= FilterProfileName().downcase %></strong><%end%> who reached this threshold. </p><table>
    <%#			<li title="A union, trade association, PRO or service organization"><strong>[xx%] belong to a music organization</strong><li>%>
<%# l i title="Of those respondents who took the long path through the survey">< s trong>Musical credits</strong></li> %>
	<tr>
      		  <td><strong><%= @credits_pct_over_50_compositions %>%</strong></td>
	  <td><div>&hellip; of respondents had more than </div>
      			   50 composing credits 
		  <span title="Only <%= @credits_pct_answered_composing %>% of respondents in filtered sample answered this question" class="ncount">(N=<%= @credits_composing_ncount %>)</span>
      		  </td>
      		</tr>
	<tr>
      			<td><strong><%= @credits_pct_over_50_recordings %>%</strong></td>
	  <td><div>&hellip; of respondents had more than </div>
      			   50 recording credits 
      			  <span class="ncount" title="Only <%= @credits_pct_answered_recording %>% of respondents in filtered sample answered this question">(N=<%= @credits_recording_artist_ncount %>)</span>
	  </td>
  </tr>
    <%#>			<li>[xx%] had >  50 session credits</li> %>
	<tr>
      			<td><strong><%= @credits_pct_over_50_shows %>%</strong></td>
	  <td><div>&hellip; of respondents played more than </div>
      			   50 shows in the prior 12 months 
      			  <span class="ncount" title="Only <%= @credits_pct_answered_shows %>% of respondents in filtered sample answered this question"> (N=<%=@credits_show_performer_ncount%>)</span>
	  </td>
          </tr>
</table>