<p class="">Respondents were asked about recording credits, composing credits, and number of shows performed, and could select within a range of "0" to "more than 100" for each question.  The number 50 was the mid-range in the survey's choices, and is also a relatable value to quantify the selected group's creative activity and output over time.</p><table>
    <%#			<li title="A union, trade association, PRO or service organization"><strong class="special2">[xx%] belong to a music organization</strong><li>%>
<%# l i title="Of those respondents who took the long path through the survey">< s trong>Musical credits</strong></li> %>
	<tr>
      		  <td><strong class="special2"><%=number_with_precision(@credits_pct_over_50_compositions,:precision=>0, :significant=>false)%>%</strong></td>
	  <td><div>&hellip; of this group had more than </div>
      			   50 <strong class="special2">composing credits</strong>
		  <span title="Only <%= @credits_pct_answered_composing %>% of respondents in filtered sample answered this question" class="ncount">(N=<%= @credits_composing_ncount %>)</span> 
		  
      		  </td>
      		  <td><span class="special2 fa fa-icon fa-2x fa-pencil"></span></td>
      		</tr>
	<tr>
      			<td><strong class="special2"><%=number_with_precision(@credits_pct_over_50_recordings,:precision=>0, :significant=>false)%>%</strong></td>
	  <td><div>&hellip; of this group had more than </div>
      			   50 <strong class="special2">recording credits </strong>
      			  <span class="ncount" title="Only <%= @credits_pct_answered_recording %>% of respondents in filtered sample answered this question">(N=<%= @credits_recording_artist_ncount %>)</span>
	  </td>
      		  <td><span class="special2 fa fa-icon fa-2x fa-headphones"></span></td>
  </tr>
    <%#>			<li>[xx%] had >  50 session credits</li> %>
	<tr>
      			<td><strong class="special2"><%=number_with_precision(@credits_pct_over_50_shows,:precision=>0, :significant=>false)%>%</strong></td>
	  <td><div>&hellip; of this group played more than </div>
      			   50 <strong class="special2">performances</strong> in the prior 12 months 
      			  <span class="ncount" title="Only <%= @credits_pct_answered_shows %>% of respondents in filtered sample answered this question"> (N=<%=@credits_show_performer_ncount%>)</span>
	  </td>
      		  <td><span class="special2 fa fa-icon fa-2x fa-music"></span></td>
          </tr>
</table>

