<%= form_tag '/dashboard/show', authenticity_token: false, method: :get, class: "f_facets", remote: true do %>		
  <h5>Select a group: <a href="/">Reset</a></h5>
  <p class="current_group">
    <span class="has_tip">
      <span>
        <span class="ncount">
          Current group size
          <strong>(N) = <span class="total_n_count_from_ajax"><%= number_with_delimiter(@NCount, :delimiter => ',') %></span></strong>
        </span>
      </span>
      <%=makeHelpTip("The abbreviation (N) means the number of respondents (musicians). Within any given filtered group, not all musicians in that group may have answered all questions.")%>
    </span>
  </p>
  
	<div id="genre_facet">
 		<h6>Main $-Generating Genre</h6>
		<label class="all">
		  <%= radio_button_tag("mgenre", "ALL", true) %> All genres
		</label>
		<label>
		  <%= radio_button_tag("mgenre", 1, (params[:mgenre] == "1")) %> Classical
    </label>
		<label>
		  <%= radio_button_tag("mgenre", 2, (params[:mgenre] == "2")) %> Jazz
		</label>
		<label>
		  <div class="has_tip">
  		  <span><%= radio_button_tag("mgenre", 3, (params[:mgenre] == "3")) %> Rock</span>
  		  <%=makeHelpTip("Includes rock, alt-rock, indie, punk and metal.")%>
  		</div>
		</label>
		<label>
		  <div class="has_tip">
		    <span><%= radio_button_tag("mgenre", 4, (params[:mgenre] == "4")) %> Country</span>
		    <%=makeHelpTip("Includes country, Americana, bluegrass, folk and singer-songwriter.")%>
		  </div>
		</label>
		<label>
		  <div class="has_tip">
		    <span><%= radio_button_tag("mgenre", 0, (params[:mgenre] == "0") ) %> All other genres</span>
		    <%=makeHelpTip("This includes: A Capella, Avant Garde, Blues, Celtic, Childrens, Christian, Composer, DJ, Electronic, Experimental, Funk, Gospel, Hawaiian, Not applicable, Pop, R&B, Rap/Hip-Hop, Reggae, Religious, Soul, Vernacular/Traditional, World")%>
		  </div>
		</label>
	</div>
  <div id="role_facet">
		<h6>
  		<span class="has_tip">
    		<span>Musician Role(s) Claimed</span>
    		<%=makeHelpTip("Musicians were asked to check all roles they spent time on (regardless of income). Most musicians selected several roles. ")%>
  		</span>
    </h6>
    <%if false %>
    <%# <%= check_box_tag("role", "ALL", (@role == "ALL" )) All types %>
	  <label class="checkbox">
	  	<%= hidden_field_tag :role_composer, "false", :id => "dummy1" %>
		  <div class="has_tip">
  		  <span>
  		    <%= check_box_tag(:role_composer,  "false"!=params[:role_composer]) %>
  		    Composes music and/or lyrics
  		  </span>
  		  <%=makeHelpTip("Musicians performing their own music, or that of other composers, in a live setting. Includes concerts/gigs, broadcast TV or radio, orchestra or chamber music performance. Out of all of the survey respondents, #{number_with_delimiter(@Composers, :delimiter => ',')} claimed this as one of their roles.")%>
		  </div>
    </label>
    <label class="checkbox">  
  		<%= hidden_field_tag :role_recording, "false", :id => "dummy2" %>
  		<div class="has_tip">
  		  <span>
  		    <%= check_box_tag(:role_recording,   "false"!=params[:role_recording]) %>
  		    Records music/recording artist
     		</span>
     		<%=makeHelpTip("Records music they wrote, or that of other composers. Earns money from record label support, recorded music sales, sound recording performance royalties, synch licenses. Out of all of the survey respondents, #{number_with_delimiter(@RecordingArtists, :delimiter => ',')} claimed this as one of their roles.")%>    
  		</div>
		</label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_salaried, "false", :id => "dummy3" %>
  		<div class="has_tip">
  		  <span>
  		    <%= check_box_tag(:role_salaried,   "false"!=params[:role_salaried]) %>
  		    Salaried player
		    </span>
  		  <%=makeHelpTip("Paid a regular salary to perform as part of a band, ensemble or orchestra. Out of all of the survey respondents, #{number_with_delimiter(@Salarieds, :delimiter => ',')} claimed this as one of their roles.")%>
  		</div>
    </label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_performer, "false", :id => "dummy4" %>
  		<div class="has_tip">
  		  <span>
  		    <%= check_box_tag(:role_performer,   "false" !=params[:role_performer]) %>
  		    Performer
		    </span>
  		<%=makeHelpTip("Performs their music or that of other composers in a live setting.  Out of all of the survey respondents, #{number_with_delimiter(@Performers, :delimiter => ',')} claimed this as one of their roles.")%>
  		</div>
    </label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_session, "false", :id => "dummy5" %>
  		<div class="has_tip">
  		  <span>
  		    <%= check_box_tag(:role_session,   "false"!=params[:role_session]) %>
  		    Session musician/freelancer
		    </span>
  		<%=makeHelpTip("Hired by other musicians/producers/record labels to play or sing in the studio or in a live setting. Out of all of the survey respondents, #{number_with_delimiter(@SessionPlayers, :delimiter => ',')} claimed this as one of their roles.")%>
  		</div>
    </label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_teacher, "false", :id => "dummy6" %>
  		<div class="has_tip">
  		  <span>
  		    <%= check_box_tag(:role_teacher,   "false"!=params[:role_teacher]) %>
  		    Teacher
		    </span>
  		<%=makeHelpTip("Hired to teach music performance or craft to individuals or in a group setting. Out of all of the survey respondents, #{number_with_delimiter(@Teachers, :delimiter => ',')} claimed this as one of their roles.")%>
  		</div>
    </label>
    <%end%>
    <%=render :partial => 'role_radios'%>
	</div> 
  <div id="exact_role_facet" class="none">
    <h6>Match Style for Roles</h6>
    <label class="checkbox">
		  <%= radio_button_tag("roles_exact", "false", true) %> Loose match: View the (<strong class="loose_count_from_ajax"><%= number_with_delimiter(@loose_count, :delimiter => ',') %></strong>) musicians who claimed <span class="roles_selected_phrase"></span>.</span>
    </label>
    <label class="checkbox">
		  <%= radio_button_tag("roles_exact", "true", (params[:roles_exact] == "true" )) %> Exact match: View the (<strong class="exact_count_from_ajax"><%= number_with_delimiter(@exact_count, :delimiter => ',') %></strong>) musicians who claimed all <span class="roles_selected_phrase role_selected_phrase_exact"></span> and possibly others.
    </label>
  </div>
	<div id="fulltime_facet">
		<h6>Music-Only Career</h6>
		<label class="checkbox">
  		<%= hidden_field_tag :ft, "false", :id => "ft1" %>
  		<div class="has_tip">
    		<span><%= check_box_tag(:ft, "true", "true" == params[:ft]) %> Limit to full-time musicians only: those with 75%+ of their income coming from music, and spending a min. of 36 hrs/wk on music</span>
    		<%=makeHelpTip("Note: 33% (1,736) of survey respondents met the criteria for full-time status.")%> 
  		</div>
		</label>
	</div>
	<div id="career_facet">
		<h6>Years of Experience</h6>
    <label class="all">
  		<%= radio_button_tag("careerexp", "ALL", true ) %> All experience levels
    </label>
    <label>
		  <%= radio_button_tag("careerexp", "1", (params[:careerexp] == "1" )) %> Emerging <span class="quiet">(Less than 16 yrs)</span>
    </label>
    <label>
		  <%= radio_button_tag("careerexp", "2", (params[:careerexp] == "2" )) %> Established <span class="quiet">(16 to 30 yrs)</span>
    </label>
    <label>
		  <%= radio_button_tag("careerexp", "3", (params[:careerexp] == "3" )) %> Old School <span class="quiet">(More than 30 yrs)</span>
		</label>
	</div>
	<div id="emi_facet">
		<h6><div class="has_tip"><span>Gross Estimated Music Income</span><%=makeHelpTip("EMI, or Estimated Music Income = (personal gross income) x (percent of income derived from music). See definitions page for details.")%></div></h6>
    <label class="all">		
      <%= radio_button_tag("emigroup", "ALL", true) %> All income levels
    </label>
    <label>	
  		<%= radio_button_tag("emigroup", "1", (params[:emigroup] == "1" )) %> $1 to $24,999
    </label>
    <label>	
  		<%= radio_button_tag("emigroup", "2", (params[:emigroup] == "2" )) %> $25,000 to $74,999
    </label>
    <label>	
  		<%= radio_button_tag("emigroup", "3", (params[:emigroup] == "3" ))%> $75,000 or more
    </label>
	</div>
	<div id="education_facet">
		<h6>Educated in Music</h6>
		<label class="checkbox">
		  <%= hidden_field_tag :trained, "false", :id => "train1" %>
		  <%= check_box_tag(:trained, "true", "true"==params[:trained])%> Limit to musicians who attended a music industry school, performance school or conservatory		
		</label>
	</div>
	<div id="gender_facet">
		<h6>Gender</h6>
    <label class="checkbox">
  		<%= hidden_field_tag :gender_male, "false", :id => "gend1" %>
      <%= check_box_tag(:gender_male, "true", "false"!=params[:gender_male])%> Male
    </label>
    <label class="checkbox">
  		<%= hidden_field_tag :gender_female, "false", :id => "gend2" %>
  		<%= check_box_tag(:gender_female, "true", "false"!=params[:gender_female])%> Female
      </label>
    <label class="checkbox">
   		<%= hidden_field_tag :gender_transgender, "false", :id => "gend3" %>
	  	<%= check_box_tag(:gender_transgender, "true", "false"!=params[:gender_transgender])%> Transgender
    </label>
    <label class="checkbox">
      <%= hidden_field_tag :gender_unanswered, "false", :id => "gend4" %>
	  	<%= check_box_tag(:gender_unanswered, "true", "false"!=params[:gender_unanswered])%> Did not answer
    </label>
	</div>
	<p class="footnote">* The abbreviation (N) means the number of respondents (musicians) who answered that particular question. Within any given filtered group, not all musicians in that group necessarily answered all questions.</p>
<%# = submit_tag () %>
<% end %> <%# END form_tag %>
<%=render "about_content"%>