<%= form_tag '/dashboard/show', authenticity_token: false, method: :get, class: "f_facets", remote: true do %>		
  <h5>Select a group: <a href="/dashboard/show/">Reset</a></h5>
  <p class="current_group"><span class="ncount">Current group size <strong>(N) = <span class="total_n_count_from_ajax"><%= number_with_delimiter(@NCount, :delimiter => ',') %></span></strong>  </span><%=makeHelpTip("The abbreviation (N) means the number of respondents (musicians). Within any given filtered group, not all musicians in that group may have answered all questions.")%> </p>
  
	<div id="genre_facet">
 		<h6>Main $-Generating Genre</h6>
		<label class="all">
		  <%= radio_button_tag("mgenre", "ALL", true) %> All genres
		</label>
		<label>
		  <%= radio_button_tag("mgenre", 1, (params[:mgenre] == "1")) %> Classical
    </label>
		<label>
		  <%= radio_button_tag("mgenre", 2, (params[:mgenre] == "2")) %> Jazz
		</label>
		<label>
		  <%= radio_button_tag("mgenre", 3, (params[:mgenre] == "3")) %> Rock <%=makeHelpTip("Includes rock, alt-rock, indie, punk and metal.")%></span><br/>
		</label>
		<label>
		  <%= radio_button_tag("mgenre", 4, (params[:mgenre] == "4")) %> Country
		  <%=makeHelpTip("Includes country, Americana, bluegrass, folk and singer-songwriter.")%>
		</label>
		<label>
		  <%= radio_button_tag("mgenre", 0, (params[:mgenre] == "0") ) %> All other genres <%=makeHelpTip("This includes: A Capella, Avant Garde, Blues, Celtic, Children's, Christian, Composer, DJ, Electronic, Experimental, Funk, Gospel, Hawaiian, Not applicable, Pop, R&B, Rap/Hip-Hop, Reggae, Religious, Soul, Vernacular/Traditional, World")%>
		</label>
	</div>
  <div id="role_facet">
		<h6>Musician Roles <%=makeHelpTip("Musicians were asked to check all roles they spent time on (regardless of income). Most musicians selected several roles. ")%></h6>
    <%# <%= check_box_tag("role", "ALL", (@role == "ALL" )) All types %>
	  <label class="checkbox">
	  	<%= hidden_field_tag :role_composer, "false", :id => "dummy1" %>
		  <%= check_box_tag(:role_composer, :true, "false"!=params[:role_composer]) %> Composes music and/or lyrics <br />
		  <span class="ncount">(<%=@Composers%>)</span>
  		<%=makeHelpTip("Composes music and/or lyrics. Earns money from mechanicals, performance royalties, commissions, synch licenses.")%>
    </label>
    <label class="checkbox">  
  		<%= hidden_field_tag :role_recording, "false", :id => "dummy2" %>
  		<%= check_box_tag(:role_recording, :true, "false"!=params[:role_recording]) %> Records music/recording artist<br />
		  <span class="ncount">(<%=@RecordingArtists%>)</span>
  		<%=makeHelpTip("Records music they wrote, or covers of other composers' music. Earns money from record label support, recorded music sales, sound recording performance royalties, synch licenses.")%>    
		</label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_salaried, "false", :id => "dummy3" %>
  		<%= check_box_tag(:role_salaried, :true, "false"!=params[:role_salaried]) %> Salaried orchestra player<br />
		  <span class="ncount">(<%=@Salarieds%>)</span>
  		<%=makeHelpTip("Paid a regular salary to perform as part of a band, ensemble or orchestra.")%>
    </label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_performer, "false", :id => "dummy4" %>
  		<%= check_box_tag(:role_performer, :true, "false" !=params[:role_performer]) %>
  		Performer<br />
		  <span class="ncount">(<%=@Performers%>)</span>
  		<%=makeHelpTip("Performs their music or other composers' music in a live setting. Includes concerts/gigs, broadcast TV or radio, orchestra or chamber music performance. Includes DJs and live remixers.")%>
    </label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_session, "false", :id => "dummy5" %>
  		<%= check_box_tag(:role_session, :true, "false"!=params[:role_session]) %>
  		Session musician/freelancer<br />
		  <span class="ncount">(<%=@SessionPlayers%>)</span>
  		<%=makeHelpTip("Hired by other musicians/producers/record labels to play or sing in the studio or in a live setting.")%>
    </label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_teacher, "false", :id => "dummy6" %>
  		<%= check_box_tag(:role_teacher, :true, "false"!=params[:role_teacher]) %> Teacher<br />
		  <span class="ncount">(<%=@Teachers%>)</span>
  		<%=makeHelpTip("Hired to teach music performance or craft to individuals or in a group setting.")%>
    </label>
    <%# multi-line comment: %>
		<% if false %>
  		<label>
    		<%= hidden_field_tag :roles_exact, "false", :id => "dummy7" %>
    		<%= check_box_tag(:roles_exact, :true, "true"==params[:roles_exact]) %>
    		Exactly match above choices <!-- Exclude those with additional roles -->
  		</label>
  		<label>
    		<%= hidden_field_tag :role_other, "false", :id => "dummy8" %>
    		<%= check_box_tag(:role_other, :true, "true"==params[:role_other]) %>
    		Include other types
  		</label>
  		<label>
        <%= hidden_field_tag :role_missing, "false", :id => "dummy6" %>
    		<%= check_box_tag(:role_missing, :true, "false"!=params[:role_missing]) %>
    		Did not answer
  		</label>
		<% end %>
	</div> 
  <div id="exact_role_facet">
    <h6>Match Style for Roles</h6>
    <label class="checkbox">
		  <%= radio_button_tag("roles_exact", "false", true) %> Loose match: View the (<strong class="total_n_count_from_ajax">(<%= number_with_delimiter(@NCount, :delimiter => ',') %>)</strong>) musicians who claimed <span class="roles_selected_phrase"></span>, and possibly additional roles.</span>
    </label>
    <label class="checkbox">
		  <%= radio_button_tag("roles_exact", "true", (params[:roles_exact] == "true" )) %> Exact match: View the <strong>(488)</strong> musicians who claimed exactly <span class="roles_selected_phrase"></span> and no others.
    </label>
  </div>
	<div id="fulltime_facet">
		<h6>Music-Only Career</h6>
		<label class="checkbox">
  		<%= hidden_field_tag :ft, "false", :id => "ft1" %>
  		<%= check_box_tag(:ft, "true", "true" == params[:ft]) %> Limit to full-time musicians only: those with 75%+ of their income coming from music, and spending a min. of 36 hrs/wk on music <%=makeHelpTip("FYI: Only 33% (1,736) in the survey met these requirements for full-time status.")%> 
		</label>
	</div>
	<div id="career_facet">
		<h6>Years of Experience</h6>
    <label class="all">
  		<%= radio_button_tag("careerexp", "ALL", true ) %> All experience levels
    </label>
    <label>
		  <%= radio_button_tag("careerexp", "1", (params[:careerexp] == "1" )) %> Emerging <span class="quiet">(Less than 16 yrs)</span>
    </label>
    <label>
		  <%= radio_button_tag("careerexp", "2", (params[:careerexp] == "2" )) %> Established <span class="quiet">(16 to 30 yrs)</span>
    </label>
    <label>
		  <%= radio_button_tag("careerexp", "3", (params[:careerexp] == "3" )) %> Old School <span class="quiet">(More than 30 yrs)</span>
		</label>
	</div>
	<div id="emi_facet">
		<h6>Gross Estimated Music Income  <%=makeHelpTip("EMI, or Estimated Music Income = (personal gross income) x (percent of income derived from music). See [definitions page] for details.")%></h6>
    <label class="all">		
      <%= radio_button_tag("emigroup", "ALL", true) %> All income levels
    </label>
    <label>	
  		<%= radio_button_tag("emigroup", "1", (params[:emigroup] == "1" )) %> $1 to $24,999
    </label>
    <label>	
  		<%= radio_button_tag("emigroup", "2", (params[:emigroup] == "2" )) %> $25,000 to $74,999
    </label>
    <label>	
  		<%= radio_button_tag("emigroup", "3", (params[:emigroup] == "3" ))%> $75,000 or more
    </label>
	</div>
	<div id="education_facet">
		<h6>Educated in Music</h6>
		<label class="checkbox">
		  <%= hidden_field_tag :trained, "false", :id => "train1" %>
		  <%= check_box_tag(:trained, "true", "true"==params[:trained])%> Limit to musicians who attended a music industry school, performance school or conservatory		
		</label>
	</div>
	<div id="gender_facet">
		<h6>Gender</h6>
    <label class="checkbox">
  		<%= hidden_field_tag :gender_male, "false", :id => "gend1" %>
      <%= check_box_tag(:gender_male, "true", "false"!=params[:gender_male])%> Male
    </label>
    <label class="checkbox">
  		<%= hidden_field_tag :gender_female, "false", :id => "gend2" %>
  		<%= check_box_tag(:gender_female, "true", "false"!=params[:gender_female])%> Female
      </label>
    <label class="checkbox">
   		<%= hidden_field_tag :gender_transgender, "false", :id => "gend3" %>
	  	<%= check_box_tag(:gender_transgender, "true", "false"!=params[:gender_transgender])%> Transgender
    </label>
    <label class="checkbox">
      <%= hidden_field_tag :gender_unanswered, "false", :id => "gend4" %>
	  	<%= check_box_tag(:gender_unanswered, "true", "false"!=params[:gender_unanswered])%> Did not answer
    </label>
	</div>
	<p class="footnote">* The abbreviation (N) means the number of respondents (musicians) who answered that particular question. Within any given filtered group, not all musicians in that group necessarily answered all questions.</p>
<%# = submit_tag () %>
<% end %> <%# END form_tag %>
<%=render "about_content"%>