<%= form_tag '/dashboard/show', authenticity_token: false, method: :get, class: "f_facets" do %>		
  <p class="reset_link"><a href="/dashboard/show/">reset filters</a></p>
	<div id="genre_facet">
 		<h6>Main money-generating genre</h6>
		<label class="all">
		  <%= radio_button_tag("mgenre", "ALL", true) %> All Genres
		</label>
		<label>
		  <%= radio_button_tag("mgenre", 1, (params[:mgenre] == "1")) %> Classical
    </label>
		<label>
		  <%= radio_button_tag("mgenre", 2, (params[:mgenre] == "2")) %> Jazz
		</label>
		<label>
		  <%= radio_button_tag("mgenre", 3, (params[:mgenre] == "3")) %> Rock <span style="text-align:right;" title="Includes rock, alt-rock, indie, punk and metal."><%= image_tag "help_icon.png", :size => "16x16" %></span><br/>
		</label>
		<label>
		  <%= radio_button_tag("mgenre", 4, (params[:mgenre] == "4")) %> Country
		  <span style="text-align:right;" title="Includes country, Americana, bluegrass, folk and singer-songwriter."><%= image_tag "help_icon.png", :size => "16x16" %></span>
		</label>
		<label>
		  <%= radio_button_tag("mgenre", 0, (params[:mgenre] == "0") ) %> All other genres
		</label>
	</div>
  <div id="role_facet">
		<h6>Musician roles <%=makeHelpTip("Musical role(s) of respondents. More than one answer allowed.")%></h6>
    <%# <%= check_box_tag("role", "ALL", (@role == "ALL" )) All types %>
	  <label class="checkbox">
	  	<%= hidden_field_tag :role_composer, "false", :id => "dummy1" %>
		  <%= check_box_tag(:role_composer, :true, "false"!=params[:role_composer]) %> Composer
  		<%=makeHelpTip("Composes music and/or lyrics. Earns money from mechanicals, performance royalties, commissions, synch licenses.")%>
    </label>
    <label class="checkbox">  
  		<%= hidden_field_tag :role_recording, "false", :id => "dummy2" %>
  		<%= check_box_tag(:role_recording, :true, "false"!=params[:role_recording]) %> Records music/recording artist
  		<%=makeHelpTip("Records music they wrote, or covers of other composers' music. Earns money from record label support, recorded music sales, sound recording performance royalties, synch licenses.")%>    
		</label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_salaried, "false", :id => "dummy3" %>
  		<%= check_box_tag(:role_salaried, :true, "false"!=params[:role_salaried]) %> Salaried orchestra player
  		<%=makeHelpTip("Paid a regular salary to perform as part of a band, ensemble or orchestra.")%>
    </label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_performer, "false", :id => "dummy4" %>
  		<%= check_box_tag(:role_performer, :true, "false" !=params[:role_performer]) %>
  		Performer
  		<%=makeHelpTip("Performs their music or other composers' music in a live setting. Includes concerts/gigs, broadcast TV or radio, orchestra or chamber music performance. Includes DJs and live remixers.")%>
    </label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_session, "false", :id => "dummy5" %>
  		<%= check_box_tag(:role_session, :true, "false"!=params[:role_session]) %>
  		Session musician/freelancer")
  		<%=makeHelpTip("Hired by other musicians/producers/record labels to play or sing in the studio or in a live setting.")%>
    </label>
    <label class="checkbox"> 
  		<%= hidden_field_tag :role_teacher, "false", :id => "dummy6" %>
  		<%= check_box_tag(:role_teacher, :true, "false"!=params[:role_teacher]) %> Teacher
  		<%=makeHelpTip("Hired to teach music performance or craft to individuals or in a group setting.")%>
    </label>
    <%# multi-line comment: %>
		<% if false %>
  		<label>
    		<%= hidden_field_tag :roles_exact, "false", :id => "dummy7" %>
    		<%= check_box_tag(:roles_exact, :true, "true"==params[:roles_exact]) %>
    		Exactly match above choices <!-- Exclude those with additional roles -->
  		</label>
  		<label>
    		<%= hidden_field_tag :role_other, "false", :id => "dummy8" %>
    		<%= check_box_tag(:role_other, :true, "true"==params[:role_other]) %>
    		Include other types
  		</label>
  		<label>
        <%= hidden_field_tag :role_missing, "false", :id => "dummy6" %>
    		<%= check_box_tag(:role_missing, :true, "false"!=params[:role_missing]) %>
    		Did not answer
  		</label>
		<% end %>
	</div> 
	<div id="fulltime_facet">
		<h6>Full time musicians</h6>
		<label class="checkbox">
  		<%= hidden_field_tag :ft, "false", :id => "ft1" %>
  		<%= check_box_tag(:ft, "true", "true" == params[:ft]) %> Full-time musicians only
  		<%=makeHelpTip("Limits results to respondents working 36 hours/week or more on music, and deriving 75% or more of income from music")%>
		</label>
	</div>
	<div id="career_facet">
		<h6>Career experience</h6>
    <label class="all">
  		<%= radio_button_tag("careerexp", "ALL", true ) %> All musicians
    </label>
    <label>
		  <%= radio_button_tag("careerexp", "1", (params[:careerexp] == "1" )) %> Emerging (Less than 16 yrs)
    </label>
    <label>
		  <%= radio_button_tag("careerexp", "2", (params[:careerexp] == "2" )) %> Established (16 to 30 yrs)
    </label>
    <label>
		  <%= radio_button_tag("careerexp", "3", (params[:careerexp] == "3" )) %> Old School (More than 30 yrs)
		</label>
	</div>
	<div id="emi_facet">
		<h6>Gross Estimated Music Income (EMI)<span style="text-align:right;" title="Estimated Music Income = (personal gross income) x (percent of income derived from music)"><%= image_tag "help_icon.png", :size => "16x16" %></span></h6>
    <label class="all">		
      <%= radio_button_tag("emigroup", "ALL", true) %> All income levels
    </label>
    <label>	
  		<%= radio_button_tag("emigroup", "1", (params[:emigroup] == "1" )) %> $1 to $24,999
    </label>
    <label>	
  		<%= radio_button_tag("emigroup", "2", (params[:emigroup] == "2" )) %> $25,000 to $74,999
    </label>
    <label>	
  		<%= radio_button_tag("emigroup", "3", (params[:emigroup] == "3" ))%> $75,000 or more
    </label>
	</div>
	<div id="education_facet">
		<h6>Music education</h6>
		<label class="checkbox">
		  <%= hidden_field_tag :trained, "false", :id => "train1" %>
		  <%= check_box_tag(:trained, "true", "true"==params[:trained])%> Attended a music school or conservatory		
		</label>
	</div>
	<div id="gender_facet">
		<h6>Gender</h6>
    <label class="checkbox">
  		<%= hidden_field_tag :gender_male, "false", :id => "gend1" %>
      <%= check_box_tag(:gender_male, "true", "false"!=params[:gender_male])%> Male
    </label>
    <label class="checkbox">
  		<%= hidden_field_tag :gender_female, "false", :id => "gend2" %>
  		<%= check_box_tag(:gender_female, "true", "false"!=params[:gender_female])%> Female
      </label>
    <label class="checkbox">
   		<%= hidden_field_tag :gender_transgender, "false", :id => "gend3" %>
	  	<%= check_box_tag(:gender_transgender, "true", "false"!=params[:gender_transgender])%> Transgender
    </label>
    <label class="checkbox">
      <%= hidden_field_tag :gender_unanswered, "false", :id => "gend4" %>
	  	<%= check_box_tag(:gender_unanswered, "true", "false"!=params[:gender_unanswered])%> Did not answer
    </label>
	</div>
	<%# = submit_tag () %>
<% end %> <%# END form_tag %>