<table class="income_trend">
  <tbody>
    <tr>
      <th>Of those who answered&hellip;</th>
      <th class="increased"><div><span>Income increased:</span><span class="fa fa-arrow-circle-up fa-2x"></span></div></th>
      <th class="quiet">% saying role was applicable to their career?</th>
    </tr>
  	<% @inc_trends_up.each do |trend| %>
      <tr>
        <td><div><%=trend[0]%>%</div>  more said</td>
        <td class="increased"><% if trend[1]=='salaried'%>Salaried player<%else%><%=init_cap(trend[1])%><%end%></td>
        <td class="quiet"><div><%=trend[2]%>%</div><div class="progressbar"><div class="quiet" style="width: <%=trend[2]%>px "></div></div></td>
      </tr>
  	<%end%>
    <tr class="decrease_output">
      <th></th>
      <th class="decreased"><div><span>Income decreased:</span><span class="fa fa-arrow-circle-down fa-2x"></span></div></th>
      <th></th>
    </tr>
  	<% @inc_trends_down.each do |trend| %>
      <tr>
        <td><div><%=trend[0]%>%</div>  more said</td>
        <td class="decreased"><% if trend[1]=='salaried'%>Salaried player<%else%><%=init_cap(trend[1])%><%end%></td>
        <td class="quiet"><div><%=trend[2]%>%</div><div class="progressbar"><div class="quiet" style="width: <%=trend[2]%>px "></div></div></td>
      </tr>
  	<%end%>
  </tbody>
</table>