<table>
  <thead>
    <tr>
      <th>Must have</th>
      <th>Don't care</th>
      <th>Must <em>not</em> have</th>
    </tr>
  </thead>
  <tbody>
    <%[:composer,:recording,:salaried,:performer,:session,:teacher].each do |parm| %>
      <tr><td colspan="3"><%=init_cap(parm)%> </td></tr>
      <tr>
        <td><label>
          <span class="none">Must have chosen the role: <%=parm%></span>
          <input type="radio" name="role_<%=parm%>" value="require"/>
        </label></td>
        <td><label>
          <span class="none">Don't care if this role was chosen</span>
          <input type="radio" value="indifferent" checked="checked" name="role_<%=parm%>"/>
        </label></td>
        <td><label>
          <span class="none">Must not have chosen this role</span>
          <input type="radio" value="exclude" name="role_<%=parm%>"/>
        </label></td>
      </tr>
    <%end%>
  </tbody>
</table>