<% tiptext = ["Musicians performing their own music, or that of other composers, in a live setting. Includes concerts/gigs, broadcast TV or radio, orchestra or chamber music performance. Out of all of the survey respondents, #{number_with_delimiter(@Composers, :delimiter => ',')} claimed this as one of their roles.",
"Records music they wrote, or that of other composers. Earns money from record label support, recorded music sales, sound recording performance royalties, synch licenses. Out of all of the survey respondents, #{number_with_delimiter(@RecordingArtists, :delimiter => ',')} claimed this as one of their roles.",
"Paid a regular salary to perform as part of a band, ensemble or orchestra. Out of all of the survey respondents, #{number_with_delimiter(@Salarieds, :delimiter => ',')} claimed this as one of their roles.",
"Performs their music or that of other composers in a live setting.  Out of all of the survey respondents, #{number_with_delimiter(@Performers, :delimiter => ',')} claimed this as one of their roles.",
"Hired by other musicians/producers/record labels to play or sing in the studio or in a live setting. Out of all of the survey respondents, #{number_with_delimiter(@SessionPlayers, :delimiter => ',')} claimed this as one of their roles.",
"Hired to teach music performance or craft to individuals or in a group setting. Out of all of the survey respondents, #{number_with_delimiter(@Teachers, :delimiter => ',')} claimed this as one of their roles."]
%><table>
  <thead>
     <tr>
      <th>Must have</th>
      <th>Don't care</th>
      <th>Must <em>not</em> have</th>
    </tr> 
  </thead>
  <tbody>
    <%[:composer,:recording,:salaried,:performer,:session,:teacher].each_with_index do |parm,i| %>
      <tr><td colspan="3"><%=init_cap(parm)%> <%=makeHelpTip(tiptext[i])%></td></tr>
      <tr>
        <td colspan="3">
            <div class="toggle_radio">
              <input type="radio" class="toggle_option require" id="role_<%=parm%>_require" name="role_<%=parm%>" value="require">
              <input type="radio" checked class="toggle_option indifferent" id="role_<%=parm%>_indifferent" name="role_<%=parm%>" value="indifferent">
              <input type="radio" class="toggle_option exclude" id="role_<%=parm%>_exclude" name="role_<%=parm%>" value="exclude">
              <label class="require" for="role_<%=parm%>_require"><span class="fa fa-icon fa-circle"></span></label>
              <label class="indifferent clicked " for="role_<%=parm%>_indifferent"><span class="fa fa-icon fa-dot-circle-o"></span></label>
              <label class="exclude" for="role_<%=parm%>_exclude"><span class="fa fa-icon fa-circle-o"></span></label>
              <div class="toggle_option_slider">
              </div>
            </div>
        </td>
      </tr>
      <!--
      <tr>
        <td><label>
          <span class="none">Must have chosen the role: <%=parm%></span>
          <input type="radio" name="role_<%=parm%>" value="require"/>
        </label></td>
        <td><label>
          <span class="none">Don't care if this role was chosen</span>
          <input type="radio" value="indifferent" checked="checked" name="role_<%=parm%>"/>
        </label></td>
        <td><label>
          <span class="none">Must not have chosen this role</span>
          <input type="radio" value="exclude" name="role_<%=parm%>"/>
        </label></td>
      </tr>-->
    <%end%>
  </tbody>
</table>

<%if false %>

  <%=makeHelpTip("Musicians performing their own music, or that of other composers, in a live setting. Includes concerts/gigs, broadcast TV or radio, orchestra or chamber music performance. Out of all of the survey respondents, #{number_with_delimiter(@Composers, :delimiter => ',')} claimed this as one of their roles.")%>

  <%=makeHelpTip("Records music they wrote, or that of other composers. Earns money from record label support, recorded music sales, sound recording performance royalties, synch licenses. Out of all of the survey respondents, #{number_with_delimiter(@RecordingArtists, :delimiter => ',')} claimed this as one of their roles.")%>    

  <%=makeHelpTip("Paid a regular salary to perform as part of a band, ensemble or orchestra. Out of all of the survey respondents, #{number_with_delimiter(@Salarieds, :delimiter => ',')} claimed this as one of their roles.")%>

  <%=makeHelpTip("Performs their music or that of other composers in a live setting.  Out of all of the survey respondents, #{number_with_delimiter(@Performers, :delimiter => ',')} claimed this as one of their roles.")%>

  <%=makeHelpTip("Hired by other musicians/producers/record labels to play or sing in the studio or in a live setting. Out of all of the survey respondents, #{number_with_delimiter(@SessionPlayers, :delimiter => ',')} claimed this as one of their roles.")%>

  <%=makeHelpTip("Hired to teach music performance or craft to individuals or in a group setting. Out of all of the survey respondents, #{number_with_delimiter(@Teachers, :delimiter => ',')} claimed this as one of their roles.")%>

<%end%>
