<% logger.info("show.js.erb is running") %>

var sample_ncount='<%= @NCount -%>';
var sample_pct='<%= @NCount_pct -%>';

// Outputs

SampleSizeMode = function (ncount, sample_pct) {

	htmlstring='This is <span class="total_pct_from_ajax">'+sample_pct+'</span>% of our 4,453 respondents';
  mode = 'ok';
	if (ncount <401 && ncount>100 ) {
    mode = 'warn';
		htmlstring='<strong>'+htmlstring+' and a statistically small sample size from which to draw conclusions: </strong>';
	} else if (ncount<101) {
		htmlstring='Forget about it! ';
    mode = 'alert';
  } 
	return  { "mode":mode , "htmlstring":htmlstring } ;
}


// % of sample output/warning of low sample size
// TODO maybe create a utility method that returns the desired htmlstring and mode (ok, warn, alert) based on sample_ncount
$('.total_n_count_from_ajax').html("<%= number_with_delimiter(@NCount, :delimiter => ',') %>");
$('.total_pct_from_ajax').html("<%= @NCount_pct %>");

ss = SampleSizeMode(sample_ncount,sample_pct);
if ('warn'==ss.mode) {
	$('#outputs').addClass("twelve");
	$('#outputs').removeClass("toolow seven");
	$('#sample_size_message').parent().addClass('very_low');	
  $('#sample_size_message').html(ss.htmlstring);
	$('#sample_size_progressbar').animate({width: "<%= @NCount_pct %>%"});
} else if ("alert"===ss.mode) {
	//$('#sample_size_message').parent().addClass('very_low');	
  //$('#sample_size_message').html(ss.htmlstring);	
	$('#outputs').removeClass("twelve");
	$('#outputs').addClass("toolow seven");
} else {
	$('#outputs').addClass("twelve");
	$('#outputs').removeClass("toolow seven");
  $('#sample_size_message').parent().removeClass('very_low');
  $('#sample_size_message').html(ss.htmlstring);
	$('#sample_size_progressbar').animate({width: "<%= @NCount_pct %>%"});
}


// Show & Hide GenreIncome Output based on controller's visibility indicator
if ("true"==="<%= @genre_income_on.to_s -%>" && "alert"!=ss.mode) {
  $("#genreincome").fadeIn(0,function () {$('#genreincomechart').highcharts().reflow(); }); // anti-genre =0, genre = 1
  var chart = $('#genreincomechart').highcharts();
	chart.series[0].setData(
		<%= if @antigenre_pcts then @antigenre_pcts.map {|x| number_with_precision(x,:precision=>2,:significant=>true).to_f}.to_json.html_safe else [] end %>,
		 false);
	chart.series[1].setData(
		<%= if @genre_pcts then @genre_pcts.map {|x| number_with_precision(x,:precision=>2,:significant=>true).to_f}.to_json.html_safe else [] end  %>,
		false);
	chart.redraw();
} else {
  $("#genreincome").fadeOut();
}

// Genres in group
if ("true"==="<%=@genre_bar_on.to_s-%>" && "alert"!=ss.mode) {
  $('#genresingroup').show(0, function () { $('#genresingroupchart').highcharts().reflow(); });
	$('#genresingroupchart').highcharts().series[0].setData(<%= @genre_counts.to_json %>, false);
	$('#genresingroupchart').highcharts().redraw();
} else {
  $("#genresingroup").fadeOut();
}

  //$('#concentrationmap').highcharts().setData([] , true);
  //$('#annincbycat').highcharts().series[0].setData([]);

// % of sample output
$('.total_n_count_from_ajax').html("<%= number_with_delimiter(@NCount, :delimiter => ',') %>");
$('.total_pct_from_ajax').html("<%= @NCount_pct == 0 ? '<1' : @NCount_pct   %>");
$('#sample_size_progressbar').animate({width: "<%= @NCount_pct %>%"});
<% if @NCount <401 && @NCount > 100 then  %>
  $('.low_n_size_message').html("and a statistically small sample size from which to draw conclusions");
  $('.current_n_size').addClass('very_low');
<% else %>
  $('.current_n_size').removeClass('very_low');
  $('.low_n_size_message').html("");
<%end%>
// % of this group have 16+ years of experience
$('#aboutpctexperiencedtxt').html("<%= @AboutPctExperienced  == 0 ? '<1' : @AboutPctExperienced %>%");
$('#pctfulltime_progressbar').animate({width: "<%= @pctfulltime %>%"});
$('#pctfulltimetxt').html("<%= @pctfulltime  == 0 ? '<1' : @pctfulltime %>%");

// Avg Ann Income from music/ EMI
$('#aveannincheader').html("<%= number_to_currency(@avg_emi, :precision=>0) %>"); <%# avg ann inc for sample %>
$('#aveannincheader').attr("title","<%= @emi_pct_answered %>% of respondents in filtered sample provided EMI");
$('#aveannincncount').html("<%= number_with_delimiter(@emi_ncount, :delimiter => ',') %>");  <%# N for this output %>
$('#annincbycat').highcharts().series[0].setData(<%= @avg_pct_incomes.to_json.html_safe %>, true);

// Income by Age
$('#ageincomechart').highcharts().series[0].setData(<%= @nonmusic_inc_by_age.as_json %>, true);
$('#ageincomechart').highcharts().yAxis[0].removePlotLine('ageincomeplotline');
$('#ageincomechart').highcharts().yAxis[0].addPlotLine({
	id: 'ageincomeplotline',
  color: '#FF7D2C', 
  dashStyle: 'Dash',
  value: <%= @avg_emi %>,
  width: '2', 
  label: {
    text: 'Avg. EMI: <%= number_to_currency(@avg_emi, :precision=>0) %>',
    rotation: '0',
    verticalAlign: 'bottom',
    style: {
      textAlign: 'left',
      marginTop: '-1em',
      color: '#FF7D2C',
      fontSize: '.917em',
      fontWeight: 'bold'
    }
  }
});
$('#ageincomechart').highcharts().series[1].setData(<%= @music_inc_by_age.as_json %>, true);

// Income Trend
//$('#emincount').html("123,123,123");

//Other Music Income Sources
htmlstring ="<%= escape_javascript( render :partial => 'otherincbody') %>";
$('#otherincomebody').html(htmlstring);
htmlstring = "<%= escape_javascript( render :partial => 'abouthisgroup_body') %>";
$('#aboutthisgroup > span').html(htmlstring);
<% if @NCount < 101 then  %>
  $('#toolow_warning').show();
  $('#rightoutputs').hide();
  $('#leftoutputs').hide();
<%else%>
  $('#toolow_warning').hide();
  $('#rightoutputs').show();
  $('#leftoutputs').show();
<% end %>
//Set title tag for SEO and bookmarking and sharing
//Also set the mobile label tags that display showing current filter state for all future ajax calls:
var title_text='Survey results: '
//Get GENRE
var genre=$('input[name=mgenre]:checked').parent().text();
var genre_html='<span class="label">'+genre+'</span>';
//Get experience
var careerexp='';
var careerexp_html='';
if ($('input[name=careerexp]:checked').val()!='ALL') {
  var careertext=$('input[name=careerexp]:checked').parent().text();
  careerexp='[ '+careertext+' ]';
  careerexp_html='<span class="label">'+careertext+'</span>';
}
//Get emi group / income
var emigroup='';
var emigroup_html='';
if ($('input[name=emigroup]:checked').val()!='ALL') {
  var emigrouptext=$('input[name=emigroup]:checked').parent().text();
  emigroup='[ '+emigrouptext+' ]';
  emigroup_html='<span class="label">'+emigrouptext+'</span>';
}
//Get GEnders
var genders='';
var genders_html='';
if ($('#gender_facet input[type=checkbox]:checked').length!=$('#gender_facet input[type=checkbox]').length) {
  //append each gender
  genders='[Genders=';
  genders_html='<span class="label">Genders=';
  $('#gender_facet input[type=checkbox]:checked').each(function(i){
      genders=genders+'['+$(this).parent().text()+']';
      genders_html=genders_html+'['+$(this).parent().text()+']';
  });
  //Close tags
  genders=genders+']';
  genders_html=genders_html+'</span>';
}
//Educated in music?
var trained='';
var trained_html='';
if ($('#trained').is(':checked')==true) {
  trained='[ Educated in Music ]';
  trained_html='<span class="label">Educated in Music</span>';
}

//Get FullTime status
var ft='';
var ft_html='';
if ($('#ft').is(':checked')==true) {
  ft='[ Full Time Musicians Only ]';
  ft_html='<span class="label">Full Time Musicians Only</span>';
}
//Get ROLES
var roles = '';
var roles_html = '';
var role_matching = '';
var role_matching_html = '';
//Only put role in title if NOT all 5 are checked
if ($('#role_facet input[type=checkbox]:checked').length!=$('#role_facet input[type=checkbox]').length) {
  //Set matching mode
  var role_matching='[Exact Role Matching]';
  var role_matching_html='<span class="label">'+role_matching+'</span>';
  if ($('#roles_exact_false').prop('checked')==true) {
    role_matching='[Loose Role Matching]';
    roles_matching_html='<span class="label">Loose Role Matching</span>';
  }
  //append roles
  $('#role_facet input[type=checkbox]:checked').each(function(){
    if ($(this).parent().text()!='') {
      roles=roles + '['+$(this).parent().text().replace(/\(.*?\)/g,'')+']';
      roles_html=roles_html + '<span class="label">'+$(this).parent().text().replace(/\(.*?\)/g,'')+'</span>';
    }
  });
}
title_text = title_text + genre + roles +role_matching+ ft + careerexp + emigroup + trained + genders;
$('.current_filter_state').html(genre_html + roles_html + role_matching_html + ft_html + careerexp_html + emigroup_html + trained_html + genders_html);
$('title').text(title_text);
