<div id="page" class="super-container full-width">
	<div class="container">
		<header>
				<div class="sixteen columns">
			 
			 
									<style type="text/css">.logospace{text-align: center;}</style>			
						 
			 
					<!-- Branding -->
					<div class="six columns alpha logospace sixteen omega">
						<a href="http://money.futureofmusic.org/" title="Artist Revenue Streams">.
							<h1 id="logo" style="margin-top: 40px; margin-bottom: 30px;">
						    		    		
			        			<img id="logotype" src="http://money.futureofmusic.org/wordpress/wp-content/uploads/2012/02/ARSprojectheader940x70.png" alt="Artist Revenue Streams" />
			         		</h1>
						</a>
					</div>
					<!-- /End Branding -->
			
			
					<!-- Promo Space -->
								<!-- /Promo Space -->
			
			
					<hr class="remove-bottom"/>
				</div>
		
						<!-- Menu -->
				<div class="sixteen columns" id="menu"> 
			
						
					<div class="twelve columns alpha navigation sixteen omega">
				
						<!-- DEFAULT NAVIGATION -->
<!-- DEFAULT NAV removed by Ira -->						
						<%= image_tag ("filter_selector_fake.png") %>
						 <!-- /DEFAULT NAVIGATION -->
				 
				 
						 <!-- TODO RESPONSIVE NAVIGATION FLIP -->
<!-- REMOVED by Ira -->
						<!-- /END RESPONSIVE NAV -->
							 
					</div>	
			
						
					<hr class="remove-top"/>
				</div>		 
				<!-- /End Menu -->			
				</header>
				<!-- /End Header -->
				
		
		
<div id="facets">
	<div style="background-color:#F0F0F0; width:100%; display:inline-block">
		<div style="float:left;margin:.5em">
			<%= image_tag("person_icon.png")%>
		</div>
		<div style="float:left;">
			<span style="font-weight:bold;">N = <%= @sample_size %> musicians</span><br>based on current choices
		</div>
	</div>
 <div style="clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;"></div>
	<%= form_tag ({controller: "dashboard", action: "show"}) do %>
    	<div id="role_facet">
			<h6>Musician Type</h6> 
<%#			<%= check_box_tag("role", "ALL", (@role == "ALL" )) % > %>
<%#			<%= label_tag("role_ALL", "All types")% ><br/> %>
			<%= hidden_field_tag :role_composer, "false", :id => "dummy1" %>
			<%= check_box_tag(:role_composer, :true, "false"!=params[:role_composer]) %>
			<%= label_tag(:role_composer, "Composer")%><br/>

			<%= hidden_field_tag :role_recording, "false", :id => "dummy2" %>
			<%= check_box_tag(:role_recording, :true, "false"!=params[:role_recording]) %>
			<%= label_tag(:role_recording, "Recording artist")%><br/>

			<%= hidden_field_tag :role_salaried, "false", :id => "dummy3" %>
			<%= check_box_tag(:role_salaried, :true, "false"!=params[:role_salaried]) %>
			<%= label_tag(:role_salaried, "Salaried orchestra player")%><br/>

			<%= hidden_field_tag :role_performer, "false", :id => "dummy4" %>
			<%= check_box_tag(:role_performer, :true, "false" !=params[:role_performer]) %>
			<%= label_tag(:role_performer, "Performer")%><br/>

			<%= hidden_field_tag :role_session, "false", :id => "dummy5" %>
			<%= check_box_tag(:role_session, :true, "false"!=params[:role_session]) %>
			<%= label_tag(:role_session, "Session musician/freelancer")%><br/>

			<%= hidden_field_tag :role_missing, "false", :id => "dummy6" %>
			<%= check_box_tag(:role_missing, :true, "false"!=params[:role_missing]) %>
			<%= label_tag(:role_missing, "Did not answer")%><br/>
		</div>
		<p>
		<div id="genre_facet">
	 		<h6>Main-$ Genre</h6>
			<%= radio_button_tag("mgenre", "ALL", (@mgenre == "ALL" )) %>
			<%= label_tag("mgenre_ALL", "All genres")%><br/>
			<%= radio_button_tag("mgenre", 1, (@mgenre == "1")) %>
			<%= label_tag("mgenre_1", "Classical")%><br/>
			<%= radio_button_tag("mgenre", 2, (@mgenre == "2")) %>
			<%= label_tag("mgenre_2","Jazz")%><br/>
			<%= radio_button_tag("mgenre", 3, (@mgenre == "3")) %>
			<%= label_tag("mgenre_3","Rock/Alt-Rock/Indie")%><br/>
			<%= radio_button_tag("mgenre", 4, (@mgenre == "4")) %>
			<%= label_tag("mgenre_4","Country/Americana/Bluegrass")%><br/>
			<%= radio_button_tag("mgenre", 0, (@mgenre == "0") ) %>
			<%= label_tag("mgenre_0", "All Other Genres")%><br/>
		</div> <%# genre %>
	</p><p>
		<div id="fulltime_facet">
			<h6>Full Time Musicians</h6>
			<%= check_box_tag("ft")%>
			<%= label_tag("ft", "F/T musicians only")%>
		</div>
	</p><p>
		<div id="education_facet">
			<h6>Music Education</h6>
			<%= check_box_tag("trained")%>
			<%= label_tag("trained", "Trained musicians only")%>
		</div>
	</p><p>
		<div id="career_facet">
			<h6>Career Experience</h6>
			<%# TODO Remove this debug<p>careerexp == <% @careerexp </p> %>
			<%= radio_button_tag("careerexp", "ALL", (@careerexp == "ALL" )) %>
			<%= label_tag("careerexp_ALL", "All musicians")%><br/>
			<%= radio_button_tag("careerexp", "1", (@careerexp == "1" )) %>
			<%= label_tag("careerexp_1", "Emerging (<16 yrs)")%><br/>
			<%= radio_button_tag("careerexp", "2", (@careerexp == "2" )) %>
			<%= label_tag("careerexp_2", "Established (16-30 yrs)")%><br/>
			<%= radio_button_tag("careerexp", "3", (@careerexp == "3" )) %>
			<%= label_tag("careerexp_2", " Old School (>30 yrs)")%><br/>
		</div>
	</p><p>
<%#		<div id="emi_facet">
			<h2>Gross Estimated Music Income (EMI)</h2>
			<%= radio_button_tag("emigroup", "ALL", (@emigroup == "ALL" )) % >
			<%= label_tag("emigroup_ALL", "All reported income levels")% ><br/>
			<%= radio_button_tag("emigroup", "1", (@emigroup == "1" )) % >
			<%= label_tag("emigroup_1", "$1 to $24,999")% ><br/>
			<%= radio_button_tag("emigroup", "2", (@emigroup == "2" )) % >
			<%= label_tag("emigroup_2", "$25,000 to $$74,999")% ><br/>
			<%= radio_button_tag("emigroup", "3", (@emigroup == "3" )) % >
			<%= label_tag("emigroup_3", "$75,000 or more")% ><br/>
		</div>
		<p></p>
%>
		<div id="gender_facet">
			<h6>Gender</h6>
			<%= check_box_tag("male", "male", true)%>
			<%= label_tag("male", "Male")%><br>
			<%= check_box_tag("female", "female", true)%>
			<%= label_tag("female", "Female")%><br>
			<%= check_box_tag("transgender", "transgender", true)%>
			<%= label_tag("transgender", "Transgender")%><br>
			<%= check_box_tag("unanswered", "unanswered", true)%>
			<%= label_tag("unanswered", "Did not answer")%>			
		</div>
		<p></p>
		<%= submit_tag () %>
	<% end %> <%# form_tag %>
<br/>	
</div>
<p><br/></p>
<div id="outputs">
	<%#
		Annual Income Chart
	%>

	<div id="AnnInc" style="width:100%; height:400px;"></div>

<%# 
  FTCLAIM 
%>

	<div id="aboutthisgroup" class="textual_output">
		<span class="output_title">About This Group</span><span style="text-align:right;" title="Characteristics of this selected group of survey respondents"><%= image_tag "help_icon.png", :size => "16x16" %></span><br>
		<ul class="textual_output">
			<li title="15 or more years of experience"><strong>[xx%] are experienced</strong></li>
			<li title="A union, trade association, PRO or service organization"><strong>[xx%] belong to a music organization</strong><li>
		<li title="Of those respondents who took the long path through the survey"><strong>Musical credits</strong></li>
			<li>[xx%] had more than 50 composing credits</li>
			<li>[xx%] had more than 50 recording credits</li>
<%#>			<li>[xx%] had more than 50 session credits</li> %>
			<li>[xx%] played more than 50 shows in the prior 12 months</li>
	</ul>
</div>
<p></p>
<div id="ftclaim"><%=render "ftclaim/theoutput"%></div>
<p></p>
</div>
</div>
</div> <%# container %>
</div> <%# super-container %>
<%= debug(params) %>
<!-- Super Container - SubFooter Space -->
<div class="super-container full-width" id="section-sub-footer">

<!-- 960 Container -->
<div class="container">

<div class="sixteen columns">
<span class="copyright"><p><img alt="" src="http://money.futureofmusic.org/wordpress/wp-content/uploads/2012/02/FMClogonameblackback300.png" /></p></span><ul class="social">
<li><a href="http://twitter.com/future_of_music"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/twitter_32.png" alt="twitter" title="Twitter"/></a></li><li><a href="http://facebook.com/Futureofmusiccoalition"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/facebook_32.png" alt="facebook" title="Facebook" /></a></li><li><a href="http://money.futureofmusic.org/feed/" target="_blank"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/rss_32.png" alt="RSS" title="RSS" /></a></li>
</ul>
<span class="colophon"><p>&nbsp;</p>
<p style="text-align: left;"><span style="color: #c0c0c0;">Future of Music Coalition | 1615 L Street NW, Suite 520, Washington, DC 20036 | (202) 822-2051.</span><br /> <span style="color: #c0c0c0;"> The Artist Revenue Streams site is powered by Wordpress. Super-Skeleton theme by Brandon R. Jones.</span></p></span></div>

</div>
<!-- /End 960 Container -->

</div>
<!-- /End Super Container -->
<script>
$(function () { 
    $('#AnnInc').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Gross estimated music income: <%= number_to_currency(@AvgEMI) %> '
        },
		subtitle:{
			text: "Allocation of music-related income by category over past 12 months, and perceived changes in income over prior 5 years. N=<%= @EMI_sample_count %>."
		},
        xAxis: {
            categories: ['Live performance', 'Teaching', 'Salaried player', 'Session work ', 'Compositions ', 'Sound recordings ', 'Merchandise and branding', 'Other' ]
        },
        yAxis: {
            title: {
                text: 'Ave % of Income'
            }
        },
        series: [{
            name: 'Filtered Respondents',
            data: [35, 17, 13, 8,5,3,1,1]
        }]
    });
});
</script>
