<% otherIncomeLabels= {"rev_produce"=>"Producing",
"afm_srsp"=>"Sound Recording Special Payments Fund",
"rev_honoraria"=>"Honoraria",
"rev_grants"=>"Grants",
"afm_2"=>"Film Musicians Secondary Markets Fund",
"rev_fanfund"=>"Fan funding",
"rev_corp"=>"Corporate sponsorship",
"afm_aftra"=>"AFM/SAG-AFTRA Intellectual Property Rights Distribution Fund",
"ascaplus"=>"ASCAPLUS Awards",
"rev_acting"=>"Acting",
"rev_webads"=>"WebAds",
"aarc"=>"AARC royalties",
"rev_endorse"=>"Product endorsements",
"label_settle"=>"Label settlements",
"rev_sample"=>"Sample licensing",
"rev_pubadvance"=>"Publisher advance",
"rev_youtube"=>"YouTube Partnership Program",
"rev_persona"=>"Persona licensing",
"rev_fanclub"=>"Fan club",
"aftra_csp"=>"AFTRA Contingent Scale",
""=>""}
outputheight='200px'
 %> 
 
<div id="mobile_menu_toggle" class="twelve columns alpha omega ">
  <a href="" class="facets_on">Filters (genre, roles, and more...)</a>
  <a href="" class="facets_off hide_exit_filtering_affordance">&lt;</a>
</div> 
<div id="facets" class="four columns alpha" style="margin-bottom: 6px;">
	  <%=render "facet_stack.html.erb" %>
</div>
<div id="outputs" class=" columns omega<%= if @NCount<=100 then " toolow seven" else " twelve" end %>" style="position:relative;">
  <%# TOO LOW %>
  <div id="toolow_warning" class="textual_output output" >
    <div>
    <%= image_tag "caution.png" %>
    <p><strong>There weren't enough musicians matching your filter criteria to display accurate results. Please broaden your search filters.</strong></p>
    </div>
  </div> 
	<div id="leftoutputs" class="six columns alpha"><main>
    <!-- About this group -->
  	<div id="ftclaim"  class="textual_output output">
    	<%=render "ftclaim/theoutput"%>
    </div>
    <div class="output textual_output">
      <h2><%= @AboutPctExperienced %>% of this group&hellip;</h2>
      <ul>
        <li>&hellip;have 16+ years of experience </li>
        <li><%= @pctfulltime %>%  are full-time musicians</li>
      </ul>
    </div>
		<%# Percent who perceive increase in [category] income over prior 5 years: xx%
				Annual Income by Cat Chart
		%>
			<div class="output">
				<h2>Annual Income: <span class=" special"  title="<%= @EMIPctAnswered %>% of respondents in filtered sample provided EMI"><%= number_to_currency(@AvgEMI, :precision=>0) %></span>&hellip;</h2>
				<p class="subtitle"><%= number_with_delimiter(@EMISampleSize, :delimiter => ',') %> musicians in this group answered the Gross Estimated Music Income (EMI) question. Here's how their income sources broke down over  the last 12 months: </p>
  			<div id="annincbycat"  class="has_highchart" style="height: 300px; "></div>
			</div>
			<div class="output">
				<h2>Income Trend <%=makeHelpTip("Trend displays the number of musicians who perceived, over the prior 5 years, either an increase or decrease in income for the respective category of work. The percent difference is also displayed.")%></h2>
				<p class="subtitle">Perceived changes in income over prior 5 years. <span class="ncount">(N=<%= number_with_delimiter(@EMISampleSize, :delimiter => ',') %>)</span></p>
		    <div id="anninctrend"  class="has_highchart" style="height: 450px;">Change</div>
		  </div>
		<%#
				Other Income Text Box
		%>
		<div id="otherincome" class="textual_output output">
		  <h2>Other Music Income Sources <%=makeHelpTip("% of these musicians that have ever received any music-related income from&hellip;")%></h2>
			<table>
				<%   
				 @OtherIncomeDist.select { |k,v| 5.0<=v }.sort_by { |k,v| -1.0*v}.each do |e|  %>
			  	<tr>
  				 <td><strong><%=number_with_precision(e[1],:precision=>2, :significant=>true)%>%</strong></td>
					 <td><div>earned $ from</div><strong class="special2"><%=otherIncomeLabels[e[0]]%></strong></td>
					 </tr>
				<% end %>
			</table>
			<p>&hellip; although <strong>fewer than 5%</strong> of this group earned any money from <%  sep=""
				 @OtherIncomeDist.select { |k,v| v<5 }.sort_by { |k,v| -1.0*v}.each do |e| 
					 outp=(sep ? sep : "")+otherIncomeLabels[e[0]]
					 %><%= outp 
					 %><% sep=", "; end %> 
				</p>
			</ul>
		</div>
		<%#
				Primary Income Chart
		
				This chart displays only if at least one genre has been excluded from facets
		%>		
  	<% if @genreincomeOn %>	
  		<div id="genreincome" class=" output" >
  			<div id="genreincometitle">
  				<h2>Impact of Genre On This Group's Income <%=makeHelpTip("Allocation of annual music-related income by category")%></h2>
  				<%#
  	Live performance	Compositions (mechanicals, PRO royalties, commissions)
  	Teaching	Sound recordings (sales, streams, synchs, SoundExchange)
  	Salaried player	Merchandise and branding
  	Session/freelance work (studio and/or live)	Other %>
  			</div>
  				<div id="genreincomechart" class="has_highchart" style="height: 500px;"></div>
  			</ul>
  		</div>
  	<% end %>
	</div> <%# leftoutputs %>
<%#

   RIGHT HAND OUTPUTS 

%>
<div id="rightoutputs" class="six columns omega">
	<div id="aboutthisgroup" class="output textual_output" >
		<h2>Credits and Activity <%=makeHelpTip("Respondents who took the long path survey answered these questions")%></h2>
		<ul class="">
<%#			<li title="A union, trade association, PRO or service organization"><strong>[xx%] belong to a music organization</strong><li>%>
		<%# l i title="Of those respondents who took the long path through the survey">< s trong>Musical credits</strong></li> %>
			<li><%= @AboutPctOver50Compositions %>% had >  50 composing credits. 
				<span title="Only <%= @AboutCompositionsPctAnswered %>% of respondents in filtered sample answered this question" class="ncount">(N=<%= @AboutCompositionsNCount %>)</span></li>
			<li><%= @AboutPctOver50Recordings %>% had >  50 recording credits <span class="ncount" title="Only <%= @AboutRecordingsPctAnswered %>% of respondents in filtered sample answered this question">(N=<%= @AboutRecordingsNCount %>)</span></li>
<%#>			<li>[xx%] had >  50 session credits</li> %>
			<li><%= @AboutPctOver50Shows %>% played > 50 shows in the prior 12 months<span class="ncount" title="Only <%= @AboutShowsPctAnswered %>% of respondents in filtered sample answered this question"> (N=<%=@AboutShowsNCount%>)</span></li>
		</ul>
	</div>
	<div id="genresingroup" class="output" >
		<h2>Primary Genres for This Group <%=makeHelpTip("% of the musicians who specified this genre as their primary focus. It may not be the genre generating the most income. Musicians may have listed working in other genres also, which is not reflected in this chart.") %></h2>	  
				<%#
	Live performance	Compositions (mechanicals, PRO royalties, commissions)
	Teaching	Sound recordings (sales, streams, synchs, SoundExchange)
	Salaried player	Merchandise and branding
	Session/freelance work (studio and/or live)	Other %> 
		<div id="genresingroupchart" class="has_highchart" style="height: <%=outputheight%>"></div>
	</div>
	<div id="roles" class="output" >
		<h2>Other Roles This Group Fills</h2>
		<div id="roleschart" class="has_highchart" style="height: <%=outputheight%>;">Lovely chart goes here</div>
	</div> 
	<div id="ageincome" class="output" >
		<h2>Music vs. Non-Music Income by Age</h2>
		<p class="subtitle">Music-related income as a total of gross income by age strata</p>
		<div id="ageincomechart" class="has_highchart" style="height: 400px">Lovely chart goes here</div>
	</div>  
	<div id="concentration" class="output">
			<h2>Where This Group Lives <%=makeHelpTip("Allocation of annual music-related income by category")%></h2>
		<div id="concentrationmap" class="has_highchart" style="height: 350px;">Nifty map goes right here! yes </div>
		<%#
			Live performance	Compositions (mechanicals, PRO royalties, commissions)
			Teaching	Sound recordings (sales, streams, synchs, SoundExchange)
			Salaried player	Merchandise and branding
			Session/freelance work (studio and/or live)	Other 
		%>
	</div>
</div> <%# rightoutputs %>
</div>
</div>
</div> <%# container %>
</div> <%# super-container %>

 <%# = debug(params) %>
<footer>
<!-- Super Container - SubFooter Space -->
<div class="super-container full-width" id="section-sub-footer">

<!-- 960 Container -->
<div class="container">

<div class="sixteen columns">
<span class="copyright"><p><img alt="" src="http://money.futureofmusic.org/wordpress/wp-content/uploads/2012/02/FMClogonameblackback300.png" /></p></span><ul class="social">
<li><a href="http://twitter.com/future_of_music"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/twitter_32.png" alt="twitter" title="Twitter"/></a></li><li><a href="http://facebook.com/Futureofmusiccoalition"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/facebook_32.png" alt="facebook" title="Facebook" /></a></li><li><a href="http://money.futureofmusic.org/feed/" target="_blank"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/rss_32.png" alt="RSS" title="RSS" /></a></li>
</ul>
  <footer><div class="colophon">
    <p>Future of Music Coalition | 1615 L Street NW, Suite 520, Washington, DC 20036 | (202) 822-2051.</p>
    <p>The Artist Revenue Streams site is powered by Wordpress. Super-Skeleton theme by Brandon R. Jones.</p>
    <p>Data portal design by <a href="http://rhythmspice.com">rhythmspice</a> and <a href="http://twitter.com/orchestrotica">@orchestrotica</a></p>
  </div></footer>
</main>
</div>
<!--           title
  text: 'Gross estimated music income: <%= number_to_currency(@AvgEMI) %> <%#<tspan title="<%= @EMIPctAnswered % >% of respondents in filtered sample provided EMI"></span>%>'
subtitle 
			text: "Allocation of music-related income by category over past 12 months, and perceived changes in income over prior 5 years. N=<%= @EMISampleSize %>."
-->
<script src="http://code.highcharts.com/mapdata/countries/us/us-all-all.js"></script>
<%=render "charting.js"  %>
</footer>