<% genre_text=["All Others", "Classical", "Jazz", "Rock", "Country"] %>
<% otherIncomeLabels= {"rev_produce"=>"Producing",
"afm_srsp"=>"Sound Recording Special Payments Fund",
"rev_honoraria"=>"Honoraria",
"rev_grants"=>"Grants",
"afm_2"=>"Film Musicians Secondary Markets Fund",
"rev_fanfund"=>"Fan funding",
"rev_corp"=>"Corporate sponsorship",
"afm_aftra"=>"AFM/SAG-AFTRA Intellectual Property Rights Distribution Fund",
"ascaplus"=>"ASCAPLUS Awards",
"rev_acting"=>"Acting",
"rev_webads"=>"WebAds",
"aarc"=>"AARC royalties",
"rev_endorse"=>"Product endorsements",
"label_settle"=>"Label settlements",
"rev_sample"=>"Sample licensing",
"rev_pubadvance"=>"Publisher advance",
"rev_youtube"=>"YouTube Partnership Program",
"rev_persona"=>"Persona licensing",
"rev_fanclub"=>"Fan club",
"aftra_csp"=>"AFTRA Contingent Scale",
""=>""}

 %> 
	<div id="page" class="super-container full-width">

	<div class="container">
		<header>
				<div class="sixteen columns">
			 
			 
									<style type="text/css">.logospace{text-align: center;}</style>			
						 
			 
					<!-- Branding -->
					<div class="six columns alpha logospace sixteen omega">
						<a href="http://money.futureofmusic.org/" title="Artist Revenue Streams">.
							<h1 id="logo" style="margin-top: 40px; margin-bottom: 30px;">
						    		    		
			        			<img id="logotype" src="http://money.futureofmusic.org/wordpress/wp-content/uploads/2012/02/ARSprojectheader940x70.png" alt="Artist Revenue Streams" />
			         		</h1>
						</a>
					</div>
					<!-- /End Branding -->

			
					<!-- Promo Space -->
								<!-- /Promo Space -->
			
			
					<hr class="remove-bottom"/>
				</div>
		
						<!-- Menu -->
				<div class="sixteen columns" id="menu"> 
			
						
					<div class="twelve columns alpha navigation sixteen omega">
				
						<!-- DEFAULT NAVIGATION -->
<!-- DEFAULT NAV removed by Ira -->						
						<div><div style="float:left;margin-right:35px;"><h1 style="color:#00748E;padding-top:5px;margin-bottom:1px;"><%= FilterProfileName() %></h1></div> 
						<div style="float:left;margin-left:5px;margin-bottom:4px;"><div><span style="color:#FF7D2C"># Musicians represented by current filters:</span><br>&nbsp;<%= @NCount %> (<%= (100*@NCount/4453).to_i %>%) of 4,453 survey respondents:</div><div id="progressbar"><div style="width:<%= (100*@NCount/4453).to_i %>%"></div></div></div></div>
<div style="float:right;"><a style="hover:" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Ffmc%2dars%2d0.herokuapp.com%2Fdashboard%2Fshow&t=Future%20of%20Music%2dArtists%20Revenue%20Portal" target="_blank"><%= image_tag("fbicon.png")%></a>
<a href="https://twitter.com/intent/tweet?status=Future%20of%20Music%2dArtists%20Revenue%20Portal%20http%3A%2F%2Ffmc%2dars%2d0.herokuapp.com%2Fdashboard%2Fshow" target="_blank"><%= image_tag("twiticon.png")%></a>
</div>

						 <!-- /DEFAULT NAVIGATION -->
				 
				 
						 <!-- TODO RESPONSIVE NAVIGATION FLIP -->
<!-- REMOVED by Ira -->
						<!-- /END RESPONSIVE NAV -->
							 
					</div>	
			
						
					<hr class="remove-top"/>
				</div>		 
				<!-- /End Menu -->			
				</header>
				<!-- /End Header -->
				
		
		
<div id="facets" class="four columns alpha">
	<div style="background-color:#F0F0F0; width:100%; display:inline-block">
		<div style="float:left;margin:.5em">
			<%= image_tag("person_icon.png")%>
		</div>
		<div style="float:left;">
			<span style="font-weight:bold;">N = <%= @sample_size %> musicians</span><br>based on current choices
		</div>
	</div>
 <div nostyle="clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;"></div>
	<%= form_tag '/dashboard/show', authenticity_token: false, method: :get do %>
    	<div id="role_facet">
			<h6>Musician type</h6> 
<%#			<%= check_box_tag("role", "ALL", (@role == "ALL" )) % > %>
<%#			<%= label_tag("role_ALL", "All types")% ><br/> %>
			<%= hidden_field_tag :role_composer, "false", :id => "dummy1" %>
			<%= check_box_tag(:role_composer, :true, "false"!=params[:role_composer]) %>
			<%= label_tag(:role_composer, "Composer")%><br>

			<%= hidden_field_tag :role_recording, "false", :id => "dummy2" %>
			<%= check_box_tag(:role_recording, :true, "false"!=params[:role_recording]) %>
			<%= label_tag(:role_recording, "Recording artist")%><br>

			<%= hidden_field_tag :role_salaried, "false", :id => "dummy3" %>
			<%= check_box_tag(:role_salaried, :true, "false"!=params[:role_salaried]) %>
			<%= label_tag(:role_salaried, "Salaried orchestra player")%><br>

			<%= hidden_field_tag :role_performer, "false", :id => "dummy4" %>
			<%= check_box_tag(:role_performer, :true, "false" !=params[:role_performer]) %>
			<%= label_tag(:role_performer, "Performer")%><br>

			<%= hidden_field_tag :role_session, "false", :id => "dummy5" %>
			<%= check_box_tag(:role_session, :true, "false"!=params[:role_session]) %>
			<%= label_tag(:role_session, "Session musician/freelancer")%><br>

			<%= hidden_field_tag :role_teacher, "false", :id => "dummy6" %>
			<%= check_box_tag(:role_teacher, :true, "false"!=params[:role_teacher]) %>
			<%= label_tag(:role_teacher, "Teacher")%><br>
			<p style="margin:0.75em;"></p>
			<%# <hr style=" border: 0; height: 1px; margin:0; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); "> %>
			<%# REMOVE THE FOLLOWING TWO CHECKBOXES 
			<%= hidden_field_tag :roles_exact, "false", :id => "dummy7" % >
			<%= check_box_tag(:roles_exact, :true, "true"==params[:roles_exact]) % >
			<%= label_tag(:roles_exact, "Exactly match above choices")% ><br> <%# Exclude those with additional roles % >

			<%= hidden_field_tag :role_other, "false", :id => "dummy8" % >
			<%= check_box_tag(:role_other, :true, "true"==params[:role_other]) % >
			<%= label_tag(:role_other, "Include \"Other\" types")% ><br>
			REMOVED PREVIOUS TWO CHECKBOXES %>
			
<%#			<%= hidden_field_tag :role_missing, "false", :id => "dummy6" % >
			<%= check_box_tag(:role_missing, :true, "false"!=params[:role_missing]) % >
			<%= label_tag(:role_missing, "Did not answer")% ><br/> %>
		</div>
		<p>
		<div id="genre_facet">
	 		<h6>Main money-generating genre</h6>
			<%= radio_button_tag("mgenre", "ALL", true) %>
			<%= label_tag("mgenre_ALL", "All genres")%><br/>
			
			<%= radio_button_tag("mgenre", 1, (params[:mgenre] == "1")) %>
			<%= label_tag("mgenre_1", "Classical")%><br/>
			
			<%= radio_button_tag("mgenre", 2, (params[:mgenre] == "2")) %>
			<%= label_tag("mgenre_2","Jazz")%><br/>
			
			<%= radio_button_tag("mgenre", 3, (params[:mgenre] == "3")) %>
			<%= label_tag("mgenre_3","Rock...")%><span style="text-align:right;" title="Rock, Alt-Rock & Indie combined"><%= image_tag "help_icon.png", :size => "16x16" %></span><br/>
			
			<%= radio_button_tag("mgenre", 4, (params[:mgenre] == "4")) %>
			<%= label_tag("mgenre_4","Country...")%><span style="text-align:right;" title="Country, Americana & Bluegrass combined"><%= image_tag "help_icon.png", :size => "16x16" %></span><br/>
			
			<%= radio_button_tag("mgenre", 0, (params[:mgenre] == "0") ) %>
			<%= label_tag("mgenre_0", "All other genres")%><br/>
		</div> <%# genre %>
		</p><p>
		<div id="fulltime_facet">
			<h6>Full time musicians</h6>
			<%= hidden_field_tag :ft, "false", :id => "ft1" %>
			<%= check_box_tag(:ft, "true", "true" == params[:ft]) %>
			<%= label_tag(:ft, "Full-time musicians only")%><span style="text-align:right;" title="Spending 36+ hrs/week on music &
deriving 75%+ of income from music"><%= image_tag "help_icon.png", :size => "16x16" %></span>
		</div>
		</p><p>
		<div id="education_facet">
			<h6>Music education</h6>
			<%= hidden_field_tag :trained, "false", :id => "train1" %>
			<%= check_box_tag(:trained, "true", "true"==params[:trained])%>
			<%= label_tag(:trained, "Attended a music school or conservatory", :title=>"Attended a music industry school or conservatory")%>
		</div>
		</p><p>
		<div id="career_facet">
			<h6>Career experience</h6>

			<%= radio_button_tag("careerexp", "ALL", true ) %>
			<%= label_tag("careerexp_ALL", "All musicians")%><br/>

			<%= radio_button_tag("careerexp", "1", (params[:careerexp] == "1" )) %>
			<%= label_tag("careerexp_1", "Emerging (Less than 16 yrs)")%><br/>

			<%= radio_button_tag("careerexp", "2", (params[:careerexp] == "2" )) %>
			<%= label_tag("careerexp_2", "Established (16 to 30 yrs)")%><br/>

			<%= radio_button_tag("careerexp", "3", (params[:careerexp] == "3" )) %>
			<%= label_tag("careerexp_3", " Old School (More than 30 yrs)")%><br/>
		</div>
		</p><p>
		<div id="gender_facet">
			<h6>Gender</h6>
			<%= hidden_field_tag :gender_male, "false", :id => "gend1" %>
			<%= check_box_tag(:gender_male, "true", "false"!=params[:gender_male])%>
			<%= label_tag(:gender_male, "Male")%><br>

			<%= hidden_field_tag :gender_female, "false", :id => "gend2" %>
			<%= check_box_tag(:gender_female, "true", "false"!=params[:gender_female])%>
			<%= label_tag(:gender_female, "Female")%><br>

			<%= hidden_field_tag :gender_transgender, "false", :id => "gend3" %>
			<%= check_box_tag(:gender_transgender, "true", "false"!=params[:gender_transgender])%>
			<%= label_tag(:gender_transgender, "Transgender")%><br>

			<%= hidden_field_tag :gender_unanswered, "false", :id => "gend4" %>
			<%= check_box_tag(:gender_unanswered, "true", "false"!=params[:gender_unanswered])%>
			<%= label_tag(:gender_unanswered, "Did not answer")%>			
		</div>
		</p><p>
		<div id="emi_facet">
			<h6>Gross Estimated Music Income (EMI)</h6>
			<%= radio_button_tag("emigroup", "ALL", true) %>
			<%= label_tag("emigroup_ALL", "All income levels")%><br/>
			
			<%= radio_button_tag("emigroup", "1", (params[:emigroup] == "1" )) %>
			<%= label_tag("emigroup_1", "$1 to $24,999")%><br/>
			
			<%= radio_button_tag("emigroup", "2", (params[:emigroup] == "2" )) %>
			<%= label_tag("emigroup_2", "$25,000 to $74,999")%><br/>
			
			<%= radio_button_tag("emigroup", "3", (params[:emigroup] == "3" ))%>
			<%= label_tag("emigroup_3", "$75,000 or more") %><br/>
		</div>
		</p><p>
		<%= submit_tag () %>
		</p>
	<% end %> <%# form_tag %>
<br/>	
</div>
<p><br/></p>
<%#

   THE OUTPUTS 

%>
<div id="outputs" class="twelve columns omega">
<%#

   LEFT HAND OUTPUTS 

%>
	<div id="leftoutputs" class="six columns alpha">
		<%# Percent who perceive increase in [category] income over prior 5 years: xx%
				Annual Income Chart
		%>
		<div id="anninc" class="six columns alpha" >
			<div id="anninctitle" class="six columns chartheader" >
				<span class="output_title" style="text-align:center;padding-right:1em;">Gross estimated music income: </span><br><span class="output_title"  title="<%= @EMIPctAnswered %>% of respondents in filtered sample provided EMI"><%= number_to_currency(@AvgEMI, :precision=>0) %> </span><br>
				<span class="output_subtitle" style="font-size:small;text-align:center">Allocation of music-related income by category over past 12 months, and perceived changes in income over prior 5 years. (N=<%= @EMISampleSize %>).</span>
				<span style="text-align:right;" title="Trend displays the number of musicians who perceived, over the prior 5 years, either an increase or decrease in income for the respective category of work. The percent difference is also displayed."><%= image_tag "help_icon.png", :size => "16x16" %></span>
			</div>
			<div id="annincbycat"  style="width:75%;height:300px;margin:0;padding:0;float:left;"></div>
			<div id="anninctrend"  style="width:25%;height:300px;margin:0;padding:0;float:right;">Change</div>
		</div>
		<p>&nbsp;</p>
		<%#
				Other Income Text Box
		%>
		<div id="otherincome">
			<ul class="textual_output" style="padding:0 1em;">
				<span class="output_title">Other sources of income from music</span>
				<span style="text-align:right;" title="% of [selected group] that have ever received any music-related income from…"><%= image_tag "help_icon.png", :size => "16x16" %></span><br>
				<li>&nbsp;</li>
				<p><%  sep=""
				 @OtherIncomeDist.select { |k,v| 5.0<=v }.sort_by { |k,v| -1.0*v}.each do |e| 
					 outp=(sep ? sep.html_safe : "")+otherIncomeLabels[e[0]]+" ("+number_with_precision(e[1],:precision=>2, :significant=>true)+"%)"
					 %><%= outp 
					 %><% sep="<br>"; end %></p>
				<li>&nbsp;</li>
				<li style="text-align:left;font-size:small;font-weight:bold;"> Fewer than 5% of these musicians earned from...</li>
				<p style="font-size:smaller"><%  sep=""
				 @OtherIncomeDist.select { |k,v| v<5 }.sort_by { |k,v| -1.0*v}.each do |e| 
					 outp=(sep ? sep : "")+otherIncomeLabels[e[0]]
					 %><%= outp 
					 %><% sep=", "; end %></p>
			</ul>
		</div>
		<p>&nbsp;</p>
		<%#
				Primary Income Chart
		
				This chart displays only if at least one genre has been excluded from facets
		%>		
	<% if @genreincomeOn %>	
		<div id="genreincome" >
			<div id="genreincometitle" class="textual_output chartheader">
				<span class="output_title">Comparing revenue allocation by genre</span>
				<span style="text-align:right;" title="Allocation of annual music-related income by category"><%= image_tag "help_icon.png", :size => "16x16" %></span><br>
				<%#
	Live performance	Compositions (mechanicals, PRO royalties, commissions)
	Teaching	Sound recordings (sales, streams, synchs, SoundExchange)
	Salaried player	Merchandise and branding
	Session/freelance work (studio and/or live)	Other %>
			</div>
				<div id="genreincomechart" style="height:500px;"></div>
			</ul>
		</div>
	<% end %>

	</div> <%# leftoutputs %>
<%#

   RIGHT HAND OUTPUTS 

%>
<div id="rightoutputs" class="six columns omega">
	
	<%# 
				FTCLAIM 
	%>
	<div id="ftclaim" class="six columns"><%=render "ftclaim/theoutput"%></div>
	<div>&nbsp;</div>
	<%#
				About This Group
	%>
	<div id="aboutthisgroup" class="six columns textual_output">
		<span class="output_title">Credits and Activity</span><span style="text-align:right;" title="Respondents who took the long path survey answered these questions"><%= image_tag "help_icon.png", :size => "16x16" %></span><br>
		<ul class="textual_output">
<%#			<li title="A union, trade association, PRO or service organization"><strong>[xx%] belong to a music organization</strong><li>%>
		<%# l i title="Of those respondents who took the long path through the survey">< s trong>Musical credits</strong></li> %>
			<li><%= @AboutPctOver50Compositions %>% had more than 50 composing credits. 
				<span title="Only <%= @AboutCompositionsPctAnswered %>% of respondents in filtered sample answered this question">(N=<%= @AboutCompositionsNCount %>)</span></li>
			<li><%= @AboutPctOver50Recordings %>% had more than 50 recording credits <span title="Only <%= @AboutRecordingsPctAnswered %>% of respondents in filtered sample answered this question">(N=<%= @AboutRecordingsNCount %>)</span></li>
<%#>			<li>[xx%] had more than 50 session credits</li> %>
			<li><%= @AboutPctOver50Shows %>% played more than 50 shows in the prior 12 months<span title="Only <%= @AboutShowsPctAnswered %>% of respondents in filtered sample answered this question"> (N=<%=@AboutShowsNCount%>)</span></li>
		</ul>
	</div>
	<p>&nbsp;</p>
	<%#
					Primary genres
	%>
<%# unless @mgenre && 'ALL'!=@mgenre.upcase %>	
	<div id="genresingroup" >
		<div class="textual_output chartheader">
			<ul>
				<span class="output_title">Primary genres for this group</span>
				<span style="text-align:right;" title="% of the musicians who specified this genre as their primary focus. It may not be the genre generating the most income. Musicians may have listed working in other genres also, which is not reflected in this chart."><%= image_tag "help_icon.png", :size => "16x16" %></span><br>
				<%#
	Live performance	Compositions (mechanicals, PRO royalties, commissions)
	Teaching	Sound recordings (sales, streams, synchs, SoundExchange)
	Salaried player	Merchandise and branding
	Session/freelance work (studio and/or live)	Other %>
			</ul>
		</div>
		<div id="genresingroupchart" style="height:300px"></div>
	</div>
<%# end %>
	<p>&nbsp;</p>
	<%#
					Other roles 
	%>
	<div id="roles" >
		<div id="ageinctitle" style="background:#EFEFEF;text-align:center;">
			<span class="output_title" style="text-align:center;padding-right:1em;">&nbsp;&nbsp;Other roles these musicians fill</span>
		</div>
		<div id="roleschart" style="height:300px;">Lovely chart goes here</div>
	</div>
	<p>&nbsp;</p>

	<%#
				Income by Age Group
	%>
	
	<div id="ageincome" >
		<div id="ageinctitle" style="background:#EFEFEF;text-align:center;">
			<span class="output_title" style="text-align:center;padding-right:1em;">&nbsp;&nbsp;Total income and music-related income</span>
			<span class="output_subtitle" style="font-size:small;text-align:center">Music-related income as a total of gross income by age strata</span>
		</div>
		<div id="ageincomechart" style="300px">Lovely chart goes here</div>
	</div>
	<p>&nbsp;</p>
	
	<%#
				Map
	%>
	<div id="concentration" >
		<div id="concentrationtitle" class="textual_output" style="background:#EFEFEF;text-align:center;" style="padding:0 1em;">
			<span class="output_title">Largest clusters of musicians</span>
			<span style="text-align:right;" title="Allocation of annual music-related income by category"><%= image_tag "help_icon.png", :size => "16x16" %></span><br>
		</div>
		<div id="concentrationmap" style="height:350px;">Nifty map goes right here! yes </div>
		
		<%#
			Live performance	Compositions (mechanicals, PRO royalties, commissions)
			Teaching	Sound recordings (sales, streams, synchs, SoundExchange)
			Salaried player	Merchandise and branding
			Session/freelance work (studio and/or live)	Other 
		%>
		</ul>
	</div>


</div> <%# rightoutputs %>
</div>
</div>
</div> <%# container %>
</div> <%# super-container %>

 <%# = debug(params) %>
<!-- Super Container - SubFooter Space -->
<div class="super-container full-width" id="section-sub-footer">

<!-- 960 Container -->
<div class="container">

<div class="sixteen columns">
<span class="copyright"><p><img alt="" src="http://money.futureofmusic.org/wordpress/wp-content/uploads/2012/02/FMClogonameblackback300.png" /></p></span><ul class="social">
<li><a href="http://twitter.com/future_of_music"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/twitter_32.png" alt="twitter" title="Twitter"/></a></li><li><a href="http://facebook.com/Futureofmusiccoalition"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/facebook_32.png" alt="facebook" title="Facebook" /></a></li><li><a href="http://money.futureofmusic.org/feed/" target="_blank"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/rss_32.png" alt="RSS" title="RSS" /></a></li>
</ul>
<span class="colophon"><p>&nbsp;</p>
<p style="text-align: left;"><span style="color: #c0c0c0;">Future of Music Coalition | 1615 L Street NW, Suite 520, Washington, DC 20036 | (202) 822-2051.</span><br /> <span style="color: #c0c0c0;"> The Artist Revenue Streams site is powered by Wordpress. Super-Skeleton theme by Brandon R. Jones.</span></p></span></div>

</div>
<!-- /End 960 Container -->

</div>
<!-- /End Super Container -->
<!--           title
  text: 'Gross estimated music income: <%= number_to_currency(@AvgEMI) %> <%#<tspan title="<%= @EMIPctAnswered % >% of respondents in filtered sample provided EMI"></span>%>'
subtitle 
			text: "Allocation of music-related income by category over past 12 months, and perceived changes in income over prior 5 years. N=<%= @EMISampleSize %>."
-->
<script src="http://code.highcharts.com/mapdata/countries/us/us-all-all.js"></script>
<script>


$(function () {


    var data = <%= @MusiciansByCounties.to_json.html_safe %>,
        countiesMap = Highcharts.geojson(Highcharts.maps['countries/us/us-all-all']),
	lines = Highcharts.geojson(Highcharts.maps['countries/us/us-all-all'], 'mapline'),
	options;

    // Add state acronym for tooltip
    Highcharts.each(countiesMap, function (mapPoint) {
        mapPoint.name = mapPoint.name + ' (' + mapPoint.properties['hc-key'].substr(3, 2).toUpperCase()+ ')';
    });

    options = {
        chart : {
//            borderWidth : 1//,
//            marginRight: 50 // for the legend
        },

        title : {
            text : null// 'Largest Clusters of Musicians'
        },
        subtitle : {
            text : 'Distribution of filtered group by zipcode'
        },

        legend: {
            title: {
                text: "Musicians By County",
                style: {
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            },
            floating: false,
        },
		credits: {
			enabled: false
		},
        mapNavigation: {
            enabled: true,
			buttonOptions: {
				verticalAlign: 'bottom'
			}
        },

        colorAxis: { 
			minColor: '#F6B179',
            maxColor: '#FF2C2E'
        },
		
        plotOptions: {
            mapline: {
                showInLegend: false,
                enableMouseTracking: false
            }
        },

        series : [{
            mapData : countiesMap,
            data: data,
            joinBy: 'fips',
            name: 'County of',
            tooltip: {
                valueSuffix: ' musicians'
            },
            borderWidth: 0.5,
			allAreas: false,
            states: {
                hover: {
                    color: '#bada55'
                }
            }
        }, {
            type: 'mapline',
            name: 'State borders',
            data: [lines[0]],
            color: 'silver'
        }, {
            type: 'mapline',
            name: 'Separator',
            data: [lines[1],lines[2]],
            color: 'silver'
        }]
    };
	
    // Instantiate the map
    $('#concentrationmap').highcharts('Map', options);
});



$(function () { 
    $('#annincbycat').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
			text:null
        },
		subtitle:{
			text: 'Income'
		},
        xAxis: {
            categories: ['Live performance', 'Teaching', 'Salaried player', 'Session work', 'Compositions', 'Sound recordings', 'Merch', 'Other' ]
        },
        yAxis: {
            title: null,
			nothing: {
                text: 'Ave % of Income'
            },
            labels: {
            	enabled: false
            }			
        },
        tooltip: {
			headerFormat: '{point.key}:<br>',
			pointFormat: "{point.y:,.0f}% of music-related income",
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true,
					crop: false,
					overflow: 'none',
					format: '{y}%'
                }
            }
        },
		legend: {
			enabled: false
		},
		credits: {
			enabled: false
		},
        series: [{
            name: '% of Income',
			color: '#00748E',
            data: [<%= @AvgPctLive.to_i %>, <%= @AvgPctTeach.to_i %> , <%= @AvgPctSalary.to_i %>, <%= @AvgPctSession.to_i %>,<%= @AvgPctComposition.to_i %>,<%= @AvgPctRecord.to_i %>,<%= @AvgPctMerch.to_i %>,<%= @AvgPctOther.to_i%>]
        }]
    });
});

$(function () { 
    $('#anninctrend').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
			text: null
		},
		subtitle:{
			text: 'Trend',
			x: -7
		},
		tooltipnot: {
			enabled: false
		},
        xAxis: {
            categories: ['Live perf.', 'Teaching', 'Salaried player', 'Session work', 'Compositions', 'Sound recordings', 'Merch', 'Other' ],
            tickPositions: [],
            labels: {
                enabled: false
            }
        },
        yAxis: {
            title: null,
            labels: {
            	enabled: false
            },
			nothing: {
                text: 'Ave % of Income'
            }
        },
        tooltip: {
			headerFormat: '<span style="font-size: 10px">{series.name}</span><br><span style="font-size: 10px">{point.key}:</span><br>',
			pointFormat: '<span style="font-size: 10px">{point.y:,.0f} people</span>',
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true,
					crop: false,
					overflow: 'none',
					x: -2,
					y: -2,
					format: '{point.options.delt}'
                }
            }
        },
		legend: {
			enabled: false
		},
		credits: {
			enabled: false
		},
        series: [{           
				name: 'Decreased',
				negativeColor: '#FF0000',
				color: '#c81c1f',
				data: [<%= @DecrIncLive.to_i %>, <%= @DecrIncTeach.to_i %> , <%= @DecrIncSalary.to_i %>, <%= @DecrIncSession.to_i %>,<%= @DecrIncComposition.to_i %>,<%= @DecrIncRecording.to_i %>,<%= @DecrIncMerch.to_i %>,<%= @DecrIncOther.to_i%>]
			}, 
			{
	            name: 'Increased',
	            negativeColor: '#FF0000',
				color: '#579333',
					
				data: [
					{y: <%= @IncrIncLive.to_i %>,delt:'<%= delta_percent_to_s(@IncrIncLive, @DecrIncLive) %>'},
					{y: <%= @IncrIncTeach.to_i %>,delt:'<%= delta_percent_to_s(@IncrIncTeach, @DecrIncTeach) %>'},
					{y: <%= @IncrIncSalary.to_i %>,delt:'<%= delta_percent_to_s(@IncrIncSalary, @DecrIncSalary) %>'},
					{y: <%= @IncrIncSession.to_i %>,delt:'<%= delta_percent_to_s(@IncrIncSession, @DecrIncSession) %>'},
					{y: <%= @IncrIncComposition.to_i %>,delt:'<%= delta_percent_to_s(@IncrIncComposition, @DecrIncComposition) %>'},
					{y: <%= @IncrIncRecording.to_i %>,delt:'<%= delta_percent_to_s(@IncrIncRecording, @DecrIncRecording) %>'},
					{y: <%= @IncrIncMerch.to_i %>,delt:'<%= delta_percent_to_s(@IncrIncMerch, @DecrIncMerch) %>'},
					{y: <%= @IncrIncOther.to_i %>,delt: '<%= delta_percent_to_s(@IncrIncOther,@DecrIncOther) %>'}]
//[<%= @IncrIncLive.to_i %>, <%= @IncrIncTeach.to_i %> , <%= @IncrIncSalary.to_i %>, 
//<%= @IncrIncSession.to_i %>,<%= @IncrIncComposition.to_i %>,<%= @IncrIncRecording.to_i %>,
//<%= @IncrIncMerch.to_i %>,<%= @IncrIncOther.to_i%>]
        }]
    });
});

$(function () {
    $('#ageincomechart').highcharts({
        chart: {
            type: 'column',
			marginTop: 40
        },
        title: {
			text:null
        },
		subtitle:{
			text: null
		},
		credits: {
			enabled: false
		},
        xAxis: {
			title: {
				text: 'Age Strata (years)'
			},
            categories: ['18-29','30-39','40-49','50-59','60+']
        },
        plotOptions: {
            series: {
                stacking: 'normal'
			}
        },
        series: [{
			name: 'Non-Music income',
			color: '#B2B9FF',
			borderWidth: 0,
			type: 'column',
            data: <%= @NonMusicIncbyAge.as_json %>

        }, {
			name: 'Income direct from music',
			color: '#00748E',
			borderWidth: 0,
			type: 'column',
			data: <%= @MusicIncbyAge.as_json %>
        }],
		yAxis: {
			title: {
				text: 'Total Gross Income'
			},
			stackLabels: {
				enabled: true,
				format: '${total:,.0f}'
			},
			plotLines: [{
			    color: 'black', // Color value
			    dashStyle: 'Dash', // Style of the plot line. Default to solid
			    value: <%= @AvgGross %>, // Value of where the line will appear
				width: '2', // Width of the line    
				zIndex: 4,
                label: {
                    text: '<%= number_to_currency(@AvgGross, :precision=>0) %>',
                    align: 'left'
                }
				
			  }]
		},
        tooltip: {
			headerFormat: '{point.key} years old<br>',
            pointFormat: 'Average {series.name}: $<b>{point.y}</b><br/>',
			zIndex: 5
        }
    });
});

$(function () {
//	if 'true' == '<%= params.has_key?(:mgenre) %>' && 'ALL' != '<%= params[:mgenre]%>' {
    $('#genreincomechart').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: null
        },
        subtitle: {
            text: null
        },
        xAxis: { 
            categories: ['Live performance','Teaching','Salaried player','Session work','Compositions','Sound recordings','Merchandise and branding','Other'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Pct of Income'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
			headerFormat: '<span style="font-size: 10px">{series.name}</span><br/>{point.key}:',
			pointFormat: "{point.y:,.1f}%",
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true,
					crop: false,
					overflow: 'none',
					format: '{y}%'
                }
            }
        },
        legend: {
            labelFormatter: function () {
                return this.name + ' (EMI='+this.options.emi+')';
            },
            layout: 'vertical',
            align: 'center',
            verticalAlign: 'top',
			reversed: true,
            x: -0,
            y: 0,
            floating: false,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Non-<%= genre_text[params[:mgenre].to_i] %> Genres',
			emi: '<%= number_to_currency(@AvgEMI_antigenre, :precision=>0) %>',
			color: '#FF7D2C',
            data: <%= if @GenrePcts then @GenrePcts.map {|x| number_with_precision(x,:precision=>2,:significant=>true).to_f}.to_json.html_safe else [] end  %>
			
        }, {
            name: '<%= genre_text[params[:mgenre].to_i] %> Genre',
			emi: '<%= number_to_currency(@AvgEMI, :precision=>0) %>',
			color: '#00748E',
            data: <%= if @AntiGenrePcts then @AntiGenrePcts.map {|x| number_with_precision(x,:precision=>2,:significant=>true).to_f}.to_json.html_safe else [] end %>
        }]
    });
	//}
});

$(function () {
    $('#genresingroupchart').highcharts({
        chart: {
			type: 'bar'//,
//            plotBackgroundColor: null //,
//            plotBorderWidth: null,
//            plotShadow: false
        },
        title: {
            text: null
        },
		subtitle: {
			text: null
		},
        tooltip: {
            pointFormat: '<b>{point.y}</b> musicians'
        },
        xAxis: {
            categories: ['Classical','Jazz','Rock','Country','All others','No answer']
		},
		yAxis: {
			title: {
				text: '# of musicians'
			}
		},
		legend: {
			enabled: false
		},
        plotOptions: {
            bar: {
				//overflow: 'none',
				//size: '100%',
                dataLabels: {
					//distance: -55,
					//distance: 15,
					distance: 5,
                    format: '<b>{point.short}</b><br>{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: '# of Musicians',
			color: '#00748E',
            data: <%= @GenreSeries.to_json.html_safe %>
        }]
    });
});

$(function () {
    $('#roleschart').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
			text: null
        },
		yAxis: {
			title: {
				text: '# of musicians'
			}
		},
		legend: {
			enabled: false
		},
		credits: {
			enabled: false
		},
        xAxis: {
            categories: ['Composer','Recording Artist','Salaried Player','Performer','Session player','Teacher'],
			labels: {
				rotation: 0
			}
        },

        plotOptions: {
			bar: {
                dataLabels: {
                    enabled: true
                }
			}
        },

        series: [{
			name: '# of musicians',
			color: '#00748E',
			data: [<%= @Composers %>,<%= @RecordingArtists %>, <%= @Salarieds %>, <%= @Performers %>, <%= @SessionPlayers %>, <%= @Teachers %>]
        }],

        tooltip: {
            pointFormat: '{point.y} musicians'
        }
    });
});

</script>
