<% logger.info("show.js.erb is running") %>

var sample_ncount='<%= @NCount -%>';
var sample_pct='<%= @NCount_pct -%>';

// Outputs

SampleSizeMode = function (ncount, sample_pct) {

	htmlstring='This is <span class="total_pct_from_ajax">'+sample_pct+'</span>% of our 4,453 respondents';
  mode = 'ok';
	if (ncount <401 && ncount>100 ) {
    mode = 'warn';
		htmlstring='<strong>'+htmlstring+'and is a statistically small sample size from which to draw conclusions: </strong>';
	} else if (ncount<101) {
		htmlstring='Forget about it! ';
    mode = 'alert';
  } 
	return  { "mode":mode , "htmlstring":htmlstring } ;
}


// % of sample output/warning of low sample size
// TODO maybe create a utility method that returns the desired htmlstring and mode (ok, warn, alert) based on sample_ncount
$('.loose_count_from_ajax').html("<%= number_with_delimiter(@loose_count, :delimiter => ',') %>");
$('.exact_count_from_ajax').html("<%= number_with_delimiter(@exact_count, :delimiter => ',') %>");
$('.total_n_count_from_ajax').html("<%= number_with_delimiter(@NCount, :delimiter => ',') %>");
$('.total_pct_from_ajax').html("<%= @NCount_pct %>");
ss = SampleSizeMode(sample_ncount,sample_pct);
if ('warn'==ss.mode) {
	$('#outputs').addClass("twelve");
	$('#outputs').removeClass("toolow seven");
	$('#sample_size_progressbar').animate({width: "<%= @NCount_pct %>%"});
	$('.low_n_size_message').html("and is a statistically small sample size from which to draw conclusions");
  $('.current_n_size').addClass('very_low');
} else if ("alert"===ss.mode) {
	//$('#sample_size_message').parent().addClass('very_low');	
  //$('#sample_size_message').html(ss.htmlstring);	
	$('#outputs').removeClass("twelve");
	$('#outputs').addClass("toolow seven");
	$('.current_n_size').removeClass('very_low');
  $('.low_n_size_message').html("");
} else {
	$('#outputs').addClass("twelve");
	$('#outputs').removeClass("toolow seven");
	$('#sample_size_progressbar').animate({width: "<%= @NCount_pct %>%"});
	$('.current_n_size').removeClass('very_low');
  $('.low_n_size_message').html("");
} 

//HANDLE EXACT COUNT
//reset this to be displayed:
$('#roles_exact_true').closest('label').slideDown(100,function() {
  <% if @exact_count < 101 %>
  $('#roles_exact_true').closest('label').addClass('disabled');
  $('#roles_exact_true').attr('disabled',true);
  <%else%>
  $('#roles_exact_true').closest('label').removeClass('disabled');
  $('#roles_exact_true').attr('disabled',false);
  <%end%>
});


// Show & Hide GenreIncome Output based on controller's visibility indicator
if ("true"==="<%= @genre_income_on.to_s -%>" && "alert"!=ss.mode) {
  $("#genreincome").fadeIn(0,function () {$('#genreincomechart').highcharts().reflow(); }); // anti-genre =0, genre = 1
  var chart = $('#genreincomechart').highcharts();
	chart.series[0].setData(
		<%= if @antigenre_pcts then @antigenre_pcts.map {|x| number_with_precision(x,:precision=>2,:significant=>true).to_f}.to_json.html_safe else [] end %>,
		 false);
	chart.series[1].setData(
		<%= if @genre_pcts then @genre_pcts.map {|x| number_with_precision(x,:precision=>2,:significant=>true).to_f}.to_json.html_safe else [] end  %>,
		false);
	chart.redraw();
} else {
  $("#genreincome").fadeOut();
}

// Genres in group
if ("true"==="<%=@genre_bar_on.to_s-%>" && "alert"!=ss.mode) {
  $('#genresingroup').show(0, function () { $('#genresingroupchart').highcharts().reflow(); });
	$('#genresingroupchart').highcharts().series[0].setData(<%= @genre_counts.to_json %>, false);
	$('#genresingroupchart').highcharts().redraw();
} else {
  $("#genresingroup").fadeOut();
}

  //$('#concentrationmap').highcharts().setData([] , true);
  //$('#annincbycat').highcharts().series[0].setData([]);

// % of sample output
$('.total_n_count_from_ajax').html("<%= number_with_delimiter(@NCount, :delimiter => ',') %>");
$('.total_pct_from_ajax').html("<%= @NCount_pct == 0 ? '<1' : @NCount_pct   %>");
$('#sample_size_progressbar').animate({width: "<%= @NCount_pct %>%"});
// % of this group have 16+ years of experience
$('#aboutpctexperiencedtxt').html("<%= @AboutPctExperienced  == 0 ? '<1' : @AboutPctExperienced %>%");
$('#pctfulltime_progressbar').animate({width: "<%= @pctfulltime %>%"});
$('#pctfulltimetxt').html("<%= @pctfulltime  == 0 ? '<1' : @pctfulltime %>%");

// Avg Ann Income from music/ EMI
$('#aveannincheader').html("<%= number_to_currency(@avg_emi, :precision=>0) %>"); <%# avg ann inc for sample %>
$('#aveannincheader').attr("title","<%= @emi_pct_answered %>% of respondents in filtered sample provided EMI");
$('#aveannincncount').html("<%= number_with_delimiter(@emi_ncount, :delimiter => ',') %>");  <%# N for this output %>
$('#annincbycat').highcharts().series[0].setData(<%= @avg_pct_incomes.to_json.html_safe %>, true);

// Income by Age
$('#ageincomechart').highcharts().series[0].setData(<%= @music_inc_by_age.as_json %>, true);
$('#ageincomechart').highcharts().yAxis[0].removePlotLine('ageincomeplotline');
$('#ageincomechart').highcharts().yAxis[0].addPlotLine({
	id: 'ageincomeplotline',
  color: '#FF7D2C', 
  dashStyle: 'Dash',
  value: <%= @avg_emi %>,
  width: '2', 
  label: {
    text: 'Avg. EMI: <%= number_to_currency(@avg_emi, :precision=>0) %>',
    rotation: '0',
    verticalAlign: 'bottom',
    style: {
      textAlign: 'left',
      marginTop: '-1em',
      color: '#FF7D2C',
      fontSize: '.917em',
      fontWeight: 'bold'
    }
  }
});
$('#ageincomechart').highcharts().series[1].setData(<%= @nonmusic_inc_by_age.as_json %>, true);

// Income Trend
//$('#emincount').html("123,123,123");

//Other Music Income Sources
htmlstring ="<%= escape_javascript( render :partial => 'otherincbody') %>";
$('#otherincomebody').html(htmlstring);
htmlstring = "<%= escape_javascript( render :partial => 'abouthisgroup_body') %>";
$('#aboutthisgroup > span').html(htmlstring);
<% if @NCount < 101 then  %>
  $('#toolow_warning').show();
  $('#rightoutputs').hide();
  $('#leftoutputs').hide();
  $('.hide_exit_filtering_affordance').addClass('toolow');
<%else%>
  $('#toolow_warning').hide();
  $('#rightoutputs').show();
  $('#leftoutputs').show();
  $('.hide_exit_filtering_affordance').removeClass('toolow');
<% end %>
