<div id="page" class="super-container full-width">
	<div class="container">
		<header>
				<div class="sixteen columns">
			 
			 
									<style type="text/css">.logospace{text-align: center;}</style>			
						 
			 
					<!-- Branding -->
					<div class="six columns alpha logospace sixteen omega">
						<a href="http://money.futureofmusic.org/" title="Artist Revenue Streams">.
							<h1 id="logo" style="margin-top: 40px; margin-bottom: 30px;">
						    		    		
			        			<img id="logotype" src="http://money.futureofmusic.org/wordpress/wp-content/uploads/2012/02/ARSprojectheader940x70.png" alt="Artist Revenue Streams" />
			         		</h1>
						</a>
					</div>
					<!-- /End Branding -->
			
			
					<!-- Promo Space -->
								<!-- /Promo Space -->
			
			
					<hr class="remove-bottom"/>
				</div>
		
						<!-- Menu -->
				<div class="sixteen columns" id="menu"> 
			
						
					<div class="twelve columns alpha navigation sixteen omega">
				
						<!-- DEFAULT NAVIGATION -->
						<ul id="menu-top-nav" class="sf-menu light"><li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://money.futureofmusic.org/about-the-project/" ><strong>About the Project</strong></a>
		<ul class="sub-menu">
			<li id="menu-item-396" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/research-questions/" >Research Questions</a></li>
			<li id="menu-item-395" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/methodology/" >Methodology</a></li>
			<li id="menu-item-394" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/population-of-study/" >Population of Study</a></li>
			<li id="menu-item-638" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/revenue-types/" >Revenue Types</a></li>
			<li id="menu-item-393" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/anticipated-outcomes/" >Anticipated Outcomes</a></li>
			<li id="menu-item-392" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/research-team-and-advisors/" >Research Team, Advisors and Funding</a></li>
			<li id="menu-item-3446" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/faq-project/" >FAQ about the project</a></li>
		</ul>
		</li>
		<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://money.futureofmusic.org/40-revenue-streams/" ><strong>42 Revenue Streams</strong></a>
		<ul class="sub-menu">
			<li id="menu-item-2579" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/revenue-streams-existing-expanded-new/" >Revenue Streams: Existing, Expanded and New</a></li>
			<li id="menu-item-639" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/revenue-types/" >Revenue Types</a></li>
		</ul>
		</li>
		<li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/findings/" ><strong>Data Memos</strong></a></li>
		<li id="menu-item-2673" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/financial-case-studies/" ><strong>Financial Case Studies</strong></a></li>
		<li id="menu-item-458" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://money.futureofmusic.org/contact/" ><strong>Contact</strong></a>
		<ul class="sub-menu">
			<li id="menu-item-677" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://money.futureofmusic.org/for-researchers/" >For Other Researchers</a></li>
		</ul>
		</li>
		<li id="menu-item-1804" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://futureofmusic.org/donate" ><strong>Support</strong></a></li>
		</ul>				 <!-- /DEFAULT NAVIGATION -->
				 
				 
						 <!-- RESPONSIVE NAVIGATION FLIP -->
						<form id="responsive-nav" action="" method="post">
						<select class="chzn-select">
						<option value="">Navigation</option>
						<option value="http://money.futureofmusic.org/3ms/">3MS</option><option value="http://money.futureofmusic.org/40-revenue-streams/">42 Revenue Streams</option><option value="http://money.futureofmusic.org/about-the-artists-who-participated/">About the Artists Who Participated</option><option value="http://money.futureofmusic.org/about-the-project/">About the Project</option><option value="http://money.futureofmusic.org/ama/">Americana Music Association</option><option value="http://money.futureofmusic.org/ama14/">Americana Music Association 2014</option><option value="http://money.futureofmusic.org/anticipated-outcomes/">Anticipated Outcomes</option><option value="http://money.futureofmusic.org/busa/">BUSA</option><option value="http://money.futureofmusic.org/busa14/">BUSA14</option><option value="http://money.futureofmusic.org/cashsummit/">CASH Summit</option><option value="http://money.futureofmusic.org/contact/">Contact</option><option value="http://money.futureofmusic.org/findings/">Data Memos and Reports</option><option value="http://money.futureofmusic.org/dms/">Denver Music Summit</option><option value="http://money.futureofmusic.org/dmfe/">DMFE</option><option value="http://money.futureofmusic.org/faq-project/">FAQ about the project</option><option value="http://money.futureofmusic.org/financial-case-studies/">Financial Case Studies</option><option value="http://money.futureofmusic.org/for-researchers/">For Other Researchers</option><option value="http://money.futureofmusic.org/hypotheses/">Hypotheses</option><option value="http://money.futureofmusic.org/jazzconnect/">JazzConnect</option><option value="http://money.futureofmusic.org/methodology/">Methodology</option><option value="http://money.futureofmusic.org/money-from-music-survey-protocol/">Money from Music survey protocol</option><option value="http://money.futureofmusic.org/money-from-music-survey-questions/">Money from Music Survey Questions</option><option value="http://money.futureofmusic.org/population-of-study/">Population of Study</option><option value="http://money.futureofmusic.org/press-mentions/">Press mentions</option><option value="http://money.futureofmusic.org/research-questions/">Research Questions</option><option value="http://money.futureofmusic.org/research-team-and-advisors/">Research Team, Advisors and Funding</option><option value="http://money.futureofmusic.org/revenue-streams-existing-expanded-new/">Revenue Streams: Existing, Expanded and New</option><option value="http://money.futureofmusic.org/revenue-streams-who-sets-the-rates/">Revenue Streams: who sets the rates</option><option value="http://money.futureofmusic.org/revenue-types/">Revenue Types</option><option value="http://money.futureofmusic.org/sfmt/">SFMT</option><option value="http://money.futureofmusic.org/survey-data-demographics/">Survey data: demographics</option><option value="http://money.futureofmusic.org/survey-data-revenue/">Survey data: revenue</option><option value="http://money.futureofmusic.org/vienna14/">Vienna Music Business Research Days</option><option value="http://money.futureofmusic.org/vienna-music-research/">Vienna Music Business Research Workshop</option><option value="http://money.futureofmusic.org/wipo/">WIPO</option><option value="http://money.futureofmusic.org/zip-code-map-of-survey-respondents/">Zipcode Map of Survey Respondents</option>				</select>
						</form>
						<!-- /END RESPONSIVE NAV -->
							 
					</div>	
			
						
					<hr class="remove-top"/>
				</div>		 
				<!-- /End Menu -->			
				</header>
				<!-- /End Header -->
				
		
		
<div id="facets">
	<%= image_tag("person_icon.png")%>
	<div style="font-weight:bold">N = <%= @sample_size %> musicians</div>
	based on current choices<br/>
	<%= form_tag ({controller: "dashboard", action: "show"}) do %>
    	<div id="role_facet">
			<p>
			<h6>Musician Type</h6>
			<%= radio_button_tag("role", "ALL", (@role == "ALL" )) %>
			<%= label_tag("role_ALL", "All types")%><br/>
			<%= radio_button_tag("role", "COMPOSER", (@role == "COMPOSER" )) %>
			<%= label_tag("role_COMPOSER", "Composer")%><br/>
			<%= radio_button_tag("role", "RECORDING", (@role == "RECORDING" )) %>
			<%= label_tag("role_RECORDING", "Recording artist")%><br/>
			<%= radio_button_tag("role", "SALARIED", (@role == "SALARIED" )) %>
			<%= label_tag("role_SALARIED", "Salaried player")%><br/>
			<%= radio_button_tag("role", "PERFORMER", (@role == "PERFORMER" )) %>
			<%= label_tag("role_PERFORMER", "Performer")%><br/>
			<%= radio_button_tag("role", "SESSION", (@role == "SESSION" )) %>
			<%= label_tag("role_SESSION", "Session musician/freelancer")%><br/>
		</div>
	</p><p>
		<div id="genre_facet">
	 		<h6>Main-$ Genre</h6>
			<%= radio_button_tag("mgenre", "ALL", (@mgenre == "ALL" )) %>
			<%= label_tag("mgenre_ALL", "All genres")%><br/>
			<%= radio_button_tag("mgenre", 1, (@mgenre == "1")) %>
			<%= label_tag("mgenre_1", "Classical")%><br/>
			<%= radio_button_tag("mgenre", 2, (@mgenre == "2")) %>
			<%= label_tag("mgenre_2","Jazz")%><br/>
			<%= radio_button_tag("mgenre", 3, (@mgenre == "3")) %>
			<%= label_tag("mgenre_3","Rock/Alt-Rock/Indie")%><br/>
			<%= radio_button_tag("mgenre", 4, (@mgenre == "4")) %>
			<%= label_tag("mgenre_4","Country/Americana/Bluegrass")%><br/>
			<%= radio_button_tag("mgenre", 0, (@mgenre == "0") ) %>
			<%= label_tag("mgenre_0", "All Other Genres")%><br/>
		</div> <%# genre %>
	</p><p>
		<div id="fulltime_facet">
			<h6>Full Time Musicians</h6>
			<%= check_box_tag("ft")%>
			<%= label_tag("ft", "F/T musicians only")%>
		</div>
	</p><p>
		<div id="education_facet">
			<h6>Music Education</h6>
			<%= check_box_tag("trained")%>
			<%= label_tag("trained", "Trained musicians only")%>
		</div>
	</p><p>
		<div id="career_facet">
			<h6>Career Level (Yrs as FT Musician)</h6>
			<%# TODO Remove this debug<p>careerexp == <% @careerexp </p> %>
			<%= radio_button_tag("careerexp", "ALL", (@careerexp == "ALL" )) %>
			<%= label_tag("careerexp_ALL", "All full-time musicians")%><br/>
			<%= radio_button_tag("careerexp", "1", (@careerexp == "1" )) %>
			<%= label_tag("careerexp_1", "Emerging (<16 yrs)")%><br/>
			<%= radio_button_tag("careerexp", "2", (@careerexp == "2" )) %>
			<%= label_tag("careerexp_2", "Established (16-30 yrs)")%><br/>
			<%= radio_button_tag("careerexp", "3", (@careerexp == "3" )) %>
			<%= label_tag("careerexp_2", " Old School (>30 yrs)")%><br/>
		</div>
	</p><p>
<%#		<div id="emi_facet">
			<h2>Gross Estimated Music Income (EMI)</h2>
			<%= radio_button_tag("emigroup", "ALL", (@emigroup == "ALL" )) % >
			<%= label_tag("emigroup_ALL", "All reported income levels")% ><br/>
			<%= radio_button_tag("emigroup", "1", (@emigroup == "1" )) % >
			<%= label_tag("emigroup_1", "$1 to $24,999")% ><br/>
			<%= radio_button_tag("emigroup", "2", (@emigroup == "2" )) % >
			<%= label_tag("emigroup_2", "$25,000 to $$74,999")% ><br/>
			<%= radio_button_tag("emigroup", "3", (@emigroup == "3" )) % >
			<%= label_tag("emigroup_3", "$75,000 or more")% ><br/>
		</div>
		<p></p>
%>
		<div id="gender_facet">
			<h6>Gender</h6>
			<%= check_box_tag("male", "male", true)%>
			<%= label_tag("male", "Male")%><br/>
			<%= check_box_tag("female", "female", true)%>
			<%= label_tag("female", "Female")%>
			
		</div>
		<p></p>
		<%= submit_tag () %>
	<% end %> <%# form_tag %>
<br/>	
</div>
<p><br/></p>
<div id="outputs">
<%# 
  FTCLAIM 
%>

	<div id="aboutthisgroup" class="textual_output">
		<span class="output_title" title="Characteristics of this selected group of survey respondents">About This Group</span><br/>
		<ul class="textual_output">
			<li title="15 or more years of experience"><strong>[xx%] are experienced</strong></li>
			<li title="A union, trade association, PRO or service organization"><strong>[xx%] belong to a music organization</strong><li>
		<li title="Of those respondents who took the long path through the survey"><strong>Musical credits</strong></li>
			<li>[xx%] had more than 50 composing credits</li>
			<li>[xx%] had more than 50 recording credits</li>
			<li>[xx%] had more than 50 session credits</li>
			<li>[xx%] played more than 50 shows in the prior 12 months</li>
	</ul>
</div>
<p></p>
<div id="ftclaim"><%=render "ftclaim/theoutput"%></div>
<p></p>
</div>
</div>
</div> <%# container %>
</div> <%# super-container %>
<!-- Super Container - SubFooter Space -->
<div class="super-container full-width" id="section-sub-footer">

<!-- 960 Container -->
<div class="container">

<div class="sixteen columns">
<span class="copyright"><p><img alt="" src="http://money.futureofmusic.org/wordpress/wp-content/uploads/2012/02/FMClogonameblackback300.png" /></p></span><ul class="social">
<li><a href="http://twitter.com/future_of_music"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/twitter_32.png" alt="twitter" title="Twitter"/></a></li><li><a href="http://facebook.com/Futureofmusiccoalition"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/facebook_32.png" alt="facebook" title="Facebook" /></a></li><li><a href="http://money.futureofmusic.org/feed/" target="_blank"><img src="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/images/theme/social-icons/rss_32.png" alt="RSS" title="RSS" /></a></li>
</ul>
<span class="colophon"><p>&nbsp;</p>
<p style="text-align: left;"><span style="color: #c0c0c0;">Future of Music Coalition | 1615 L Street NW, Suite 520, Washington, DC 20036 | (202) 822-2051.</span><br /> <span style="color: #c0c0c0;"> The Artist Revenue Streams site is powered by Wordpress. Super-Skeleton theme by Brandon R. Jones.</span></p></span></div>

</div>
<!-- /End 960 Container -->
</div>
<!-- /End Super Container -->