<% otherIncomeLabels= {"rev_produce"=>"Producing",
"afm_srsp"=>"Sound Recording Special Payments Fund",
"rev_honoraria"=>"Honoraria",
"rev_grants"=>"Grants",
"afm_2"=>"Film Musicians Secondary Markets Fund",
"rev_fanfund"=>"Fan funding",
"rev_corp"=>"Corporate sponsorship",
"afm_aftra"=>"AFM/SAG-AFTRA Intellectual Property Rights Distribution Fund",
"ascaplus"=>"ASCAPLUS Awards",
"rev_acting"=>"Acting",
"rev_webads"=>"WebAds",
"aarc"=>"AARC royalties",
"rev_endorse"=>"Product endorsements",
"label_settle"=>"Label settlements",
"rev_sample"=>"Sample licensing",
"rev_pubadvance"=>"Publisher advance",
"rev_youtube"=>"YouTube Partnership Program",
"rev_persona"=>"Persona licensing",
"rev_fanclub"=>"Fan club",
"aftra_csp"=>"AFTRA Contingent Scale",
""=>""}
outputheight='200px'
 %> 
 
<div id="mobile_menu_toggle" class="twelve columns alpha omega ">
  <a href="" class="facets_on">Filters (genre, roles, and more...)</a>
  <div class="hide_exit_filtering_affordance none">
    <a class="facets_off" href="">&lt;</a>
    <span class="ncount">N=<span class="total_n_count_from_ajax"><%= number_with_delimiter(@NCount, :delimiter => ',') %></span>* based on the filters below. </span>
    <a href="/dashboard/show/">Reset</a>
  </div> 
</div>
<div id="facets" class="four columns alpha" style="margin-bottom: 6px;">
	  <%=render "facet_stack.html.erb" %>
</div>
<div id="outputs" class=" columns omega<%= if @NCount<=100 then " toolow seven" else " twelve" end %>" style="position:relative;">
  <main>
    <%# TOO LOW %>
    <div id="toolow_warning" class="textual_output output" >
      <div>
      <%= image_tag "caution.png" %>
      <p><strong>There weren't enough musicians matching your filter criteria to display accurate results. Please broaden your search filters.</strong></p>
      </div>
    </div> 
  	<div id="leftoutputs" class="six columns alpha">
      <!-- About this group -->
    	<div id="ftclaim"  class="textual_output output">
      	<%=render "ftclaim/theoutput"%>
      </div>
      <div class="output textual_output">
        <h2><%= @AboutPctExperienced %>% of this group&hellip;</h2>
        <ul>
          <li>&hellip;have 16+ years of experience </li>
          <li><%= @pctfulltime %>%  are full-time musicians</li>
        </ul>
      </div>
  		<%# Percent who perceive increase in [category] income over prior 5 years: xx%
  				Annual Income by Cat Chart
  		%>
  			<div class="output">
  				<h2>Avg. Annual  Income from Music: <span class=" special"  title="<%= @EMIPctAnswered %>% of respondents in filtered sample provided EMI"><%= number_to_currency(@AvgEMI, :precision=>0) %></span>&hellip;</h2>
  				<p class="subtitle">This is the average annual gross Estimated Music Income (EMI) for this group of <%= number_with_delimiter(@EMISampleSize, :delimiter => ',') %> musicians. Musicians may have had non-music income too (see Music vs. non-Music Income by Age chart). Here's how this group allocated their music-related income over a 12-month period:</p>
    			<div id="annincbycat"  class="has_highchart" style="height: 280px; "></div>
  			</div>
  			<div class="output">
  				<h2>Income Trend <%=makeHelpTip("Trend displays the number of musicians who perceived, over the prior 5 years, either an increase or decrease in income for the respective category of work. The percent difference is also displayed.")%></h2>
  				<p class="subtitle">Perceived changes in income over prior 5 years. <span class="ncount">(N=<%= number_with_delimiter(@EMISampleSize, :delimiter => ',') %>)</span></p>
  		    <div id="anninctrend"  class="has_highchart" style="height: 380px;">Change</div>
  		  </div>
  		<%#
  				Other Income Text Box
  		%>
  		<div id="otherincome" class="output textual_output">
  		  <h2>Other Music Income Sources <%=makeHelpTip("% of these musicians that have ever received any music-related income from&hellip;")%></h2>
  			<table>
  				<%   
  				 @OtherIncomeDist.select { |k,v| 5.0<=v }.sort_by { |k,v| -1.0*v}.each do |e|  %>
  			  	<tr>
    				 <td><strong><%=number_with_precision(e[1],:precision=>2, :significant=>true)%>%</strong></td>
  					 <td><div>&hellip; of respondents earned some $ from</div><strong class="special2"><%=otherIncomeLabels[e[0]]%></strong></td>
  					 </tr>
  				<% end %>
  			</table>
  			<p>&hellip; although <strong>fewer than 5%</strong> of this group earned any money from <%  sep=""
  				 @OtherIncomeDist.select { |k,v| v<5 }.sort_by { |k,v| -1.0*v}.each do |e| 
  					 outp=(sep ? sep : "")+otherIncomeLabels[e[0]]
  					 %><%= outp 
  					 %><% sep=", "; end %> 
  				</p>
  			</ul>
  		</div>
  		<%#
  				Primary Income Chart
  		
  				This chart displays only if at least one genre has been excluded from facets
  		%>		
    	<% if @genreincomeOn %>	
    		<div id="genreincome" class=" output" >
    			<div id="genreincometitle">
    				<h2>Impact of Genre On This Group's Income <%=makeHelpTip("Allocation of annual music-related income by category")%></h2>
    				<%#
    	Live performance	Compositions (mechanicals, PRO royalties, commissions)
    	Teaching	Sound recordings (sales, streams, synchs, SoundExchange)
    	Salaried player	Merchandise and branding
    	Session/freelance work (studio and/or live)	Other %>
    			</div>
    				<div id="genreincomechart" class="has_highchart" style="height: 470px;"></div>
    			</ul>
    		</div>
    	<% end %>
  	</div> <%# leftoutputs %>
  <%#
  
     RIGHT HAND OUTPUTS 
  
  %>
    <div id="rightoutputs" class="six columns omega">
    	<div id="aboutthisgroup" class="output textual_output" >
    		<h2>Credits and Activity <%=makeHelpTip("Respondents who took the medium or the long path survey answered these questions")%></h2>
    		<table>
    <%#			<li title="A union, trade association, PRO or service organization"><strong>[xx%] belong to a music organization</strong><li>%>
    		<%# l i title="Of those respondents who took the long path through the survey">< s trong>Musical credits</strong></li> %>
    			<tr>
      		  <td><strong><%= @AboutPctOver50Compositions %>%</strong></td>
    			  <td><div>&hellip; of respondents had more than </div>
      			   50 composing credits 
    				  <span title="Only <%= @AboutCompositionsPctAnswered %>% of respondents in filtered sample answered this question" class="ncount">(N=<%= @AboutCompositionsNCount %>)</span>
      		  </td>
      		</tr>
    			<tr>
      			<td><strong><%= @AboutPctOver50Recordings %>%</strong></td>
    			  <td><div>&hellip; of respondents had more than </div>
      			   50 recording credits 
      			  <span class="ncount" title="Only <%= @AboutRecordingsPctAnswered %>% of respondents in filtered sample answered this question">(N=<%= @AboutRecordingsNCount %>)</span>
    			  </td>
    		  </tr>
    <%#>			<li>[xx%] had >  50 session credits</li> %>
    			<tr>
      			<td><strong><%= @AboutPctOver50Shows %>%</strong></td>
    			  <td><div>&hellip; of respondents played more than </div>
      			   50 shows in the prior 12 months 
      			  <span class="ncount" title="Only <%= @AboutPctOver50Shows %>% of respondents in filtered sample answered this question"> (N=<%=@AboutShowsNCount%>)</span>
    			  </td>
          </tr>
    		</table>
    	</div>
    	<%if false %>
    	<div id="roles" class="output" >
    		<h2>Other Roles This Group Fills</h2>
    		<div id="roleschart" class="has_highchart" style="height: <%=outputheight%>;">Lovely chart goes here</div>
    	</div> 
    	<% end %>
    	<div id="ageincome" class="output" >
    		<h2>Music vs. Non-Music Income by Age</h2>
    		<p class="subtitle">Music-related income as a total of gross income by age strata. Dashed line represents Gross Estimated Music Income (EMI) for this group.</p>
    		<div id="ageincomechart" class="has_highchart" style="height: 270px">Lovely chart goes here</div>
    	</div>  
    	<div id="concentration" class="output">
    			<h2>Where This Group Lives <%=makeHelpTip("Allocation of annual music-related income by category")%></h2>
    		<div id="concentrationmap" class="has_highchart" style="height: 350px;">Nifty map goes right here! yes </div>
    		<%#
    			Live performance	Compositions (mechanicals, PRO royalties, commissions)
    			Teaching	Sound recordings (sales, streams, synchs, SoundExchange)
    			Salaried player	Merchandise and branding
    			Session/freelance work (studio and/or live)	Other 
    		%>
    	</div>
    	<div id="genresingroup" class="output" >
    		<h2>What Genres Do These <%= FilterProfileName().titlecase %> Spend The Most Time On?<%=makeHelpTip("Musicians were able to select multiple genres of focus, however, below, we are only displaying the primary genre of focus. This chart does not show the primary genre generating income.") %></h2>	  
    		<% unless FilterProfileName()=='All Musicians' %>
    		  <p class="subtitle">
      		The survey also asked this group of <strong class="total_n_count_from_ajax"><%= number_with_delimiter(@NCount, :delimiter => ',') %></strong> musicians &#151;who make most of their music income as <strong><%= FilterProfileName().downcase %></strong>&#151;on which genre they spent the most <strong>time</strong>. 
      		
      		This question seeks to answer, "do musicians always make the majority of their music income on the same genre they spend the most time on?" </p>
        <% end %>
    				<%#
    	Live performance	Compositions (mechanicals, PRO royalties, commissions)
    	Teaching	Sound recordings (sales, streams, synchs, SoundExchange)
    	Salaried player	Merchandise and branding
    	Session/freelance work (studio and/or live)	Other %> 
    		<div id="genresingroupchart" class="has_highchart" style="height: 220px"></div>
    	</div>
    </div> <%# rightoutputs %>
  </main>
</div> <%# outputs %>
<%# = debug(params) %>