<h1>Listing imp_surveys</h1>

<table>
  <thead>
    <tr>
      <th>Respondentid</th>
      <th>Collectorid</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Completetime</th>
      <th>Ipaddress</th>
      <th>Consent</th>
      <th>Birth year</th>
      <th>Age</th>
      <th>Age group</th>
      <th>Citizen</th>
      <th>Experience</th>
      <th>Experience group</th>
      <th>Hours</th>
      <th>Hours group</th>
      <th>Perspective</th>
      <th>Ascap</th>
      <th>Bmi</th>
      <th>Sesac</th>
      <th>Soundexchange</th>
      <th>No pro</th>
      <th>Member pro</th>
      <th>Foreign pro</th>
      <th>Afm</th>
      <th>Aftra</th>
      <th>Agma</th>
      <th>Sag</th>
      <th>Naras</th>
      <th>Songguild</th>
      <th>Nsai</th>
      <th>Countryma</th>
      <th>Acf</th>
      <th>Amc</th>
      <th>Mtc</th>
      <th>Chamberma</th>
      <th>Jen</th>
      <th>Aaj</th>
      <th>Jazzcorner</th>
      <th>Ama</th>
      <th>Ema</th>
      <th>Folkalliance</th>
      <th>Jpf</th>
      <th>Gma</th>
      <th>Ibma</th>
      <th>Fracatlas</th>
      <th>Napama</th>
      <th>Apap</th>
      <th>No music org</th>
      <th>Member music org</th>
      <th>Other music org</th>
      <th>Genre1</th>
      <th>Primary genre consolidated</th>
      <th>Genre group 1</th>
      <th>Genre2</th>
      <th>Genre3</th>
      <th>Other genre</th>
      <th>Moneygenre1</th>
      <th>Moneygenre consolidated</th>
      <th>Money genre group 1</th>
      <th>Moneygenre2</th>
      <th>Cowriter</th>
      <th>Band</th>
      <th>Producer</th>
      <th>Label</th>
      <th>Publisher</th>
      <th>Bizmanager</th>
      <th>Booking</th>
      <th>Tourmanager</th>
      <th>Soundperson</th>
      <th>Roadcrew</th>
      <th>Publicist</th>
      <th>Fanstreetteam</th>
      <th>Webmaster</th>
      <th>Graphicdesign</th>
      <th>Accountant</th>
      <th>Attorney</th>
      <th>Other team member</th>
      <th>Pie song</th>
      <th>Pie salary</th>
      <th>Pie live</th>
      <th>Pie record</th>
      <th>Pie session</th>
      <th>Pie merch</th>
      <th>Pie teach</th>
      <th>Pie other</th>
      <th>Pie total</th>
      <th>Change song</th>
      <th>Compose inc direction</th>
      <th>Change salary</th>
      <th>Salary inc direction</th>
      <th>Change live</th>
      <th>Perform inc direction</th>
      <th>Change record</th>
      <th>Record inc direction</th>
      <th>Change session</th>
      <th>Session inc direction</th>
      <th>Change merch</th>
      <th>Merch inc direction</th>
      <th>Change teach</th>
      <th>Teach inc direction</th>
      <th>Rev youtube</th>
      <th>Rev webads</th>
      <th>Rev fanfund</th>
      <th>Rev fanclub</th>
      <th>Rev persona</th>
      <th>Rev endorse</th>
      <th>Rev acting</th>
      <th>Rev corp</th>
      <th>Rev sample</th>
      <th>Rev honoraria</th>
      <th>Rev grants</th>
      <th>Rev produce</th>
      <th>Rev pubadvance</th>
      <th>Ascaplus</th>
      <th>Aarc</th>
      <th>Afm 2</th>
      <th>Afm srsp</th>
      <th>Afm aftra</th>
      <th>Aftra csp</th>
      <th>Label settle</th>
      <th>Income</th>
      <th>Midrange income</th>
      <th>Music inc share pct</th>
      <th>Income strata</th>
      <th>Income strata group</th>
      <th>Emi</th>
      <th>Full time</th>
      <th>Seasoning group</th>
      <th>Path</th>
      <th>Path group</th>
      <th>Short role music</th>
      <th>Short role lyrics</th>
      <th>Short role composer</th>
      <th>Short role recording</th>
      <th>Short role record</th>
      <th>Short role perform desc</th>
      <th>Short role perform</th>
      <th>Short role orchestra desc</th>
      <th>Short role orchestra</th>
      <th>Short role session desc</th>
      <th>Short role session</th>
      <th>Short role teach desc</th>
      <th>Short role teach</th>
      <th>Short role admin desc</th>
      <th>Short role admin</th>
      <th>Short moneyrole</th>
      <th>Med moneyrole</th>
      <th>Long composer</th>
      <th>Long recordings</th>
      <th>Long liveperformance</th>
      <th>Long session</th>
      <th>Long teacher</th>
      <th>Role composer</th>
      <th>Role recording</th>
      <th>Role performer</th>
      <th>Role session</th>
      <th>Role teacher</th>
      <th>Other inc streams</th>
      <th>Other dec streams</th>
      <th>Confirm perspective</th>
      <th>Radio com</th>
      <th>Freq commercial radio</th>
      <th>Radio noncom</th>
      <th>Freq noncommercial radio</th>
      <th>Radio internet</th>
      <th>Freq internet radio</th>
      <th>Radio satellite</th>
      <th>Freq satellite radio</th>
      <th>Radio cable</th>
      <th>Freq cable radio</th>
      <th>Web produce</th>
      <th>Comfort net produce</th>
      <th>Web promote</th>
      <th>Comfort net promote</th>
      <th>Web distro</th>
      <th>Comfort net distribute</th>
      <th>Web collab</th>
      <th>Comfort net collaborate</th>
      <th>Web fans</th>
      <th>Comfort net fanconnect</th>
      <th>Ableton</th>
      <th>Garageband</th>
      <th>Digitalperformer</th>
      <th>Finale</th>
      <th>Logic</th>
      <th>Maximuspe</th>
      <th>Prop reason</th>
      <th>Prop record</th>
      <th>Pro tools</th>
      <th>Sibelius</th>
      <th>Virtual dj</th>
      <th>Other software</th>
      <th>Webblog</th>
      <th>Bandcamp</th>
      <th>Bandletter</th>
      <th>Bandzoogle</th>
      <th>Cash music</th>
      <th>Cdbaby</th>
      <th>Facebook</th>
      <th>Fanbridge</th>
      <th>Flickr</th>
      <th>Foursquare</th>
      <th>Mailchimp</th>
      <th>Myspace</th>
      <th>Nextbigsound</th>
      <th>Nimbit</th>
      <th>Reverbnation</th>
      <th>Rootmusic</th>
      <th>Rumblefish</th>
      <th>Songkick</th>
      <th>Sonicbids</th>
      <th>Soundcloud</th>
      <th>Taxi</th>
      <th>Topspin</th>
      <th>Tumblr</th>
      <th>Tunecore</th>
      <th>Twitter</th>
      <th>Youtube</th>
      <th>Other web dist</th>
      <th>Tech money</th>
      <th>Tech self</th>
      <th>Tech collab</th>
      <th>Tech fans</th>
      <th>Tech merits</th>
      <th>Tech compete</th>
      <th>Tech promo</th>
      <th>Tech devalue</th>
      <th>Tech piracy</th>
      <th>Tech control</th>
      <th>Time compose</th>
      <th>Time perform</th>
      <th>Time record</th>
      <th>Time collab</th>
      <th>Time session</th>
      <th>Time teach</th>
      <th>Time socnet</th>
      <th>Time manage</th>
      <th>Time account</th>
      <th>Time fundraise</th>
      <th>Learn about survey</th>
      <th>Survey source</th>
      <th>Gender</th>
      <th>Gender group</th>
      <th>Race ethnicity</th>
      <th>Education level</th>
      <th>Edu level group</th>
      <th>Music school</th>
      <th>Music degree</th>
      <th>Specific degree</th>
      <th>Health ins</th>
      <th>Pension</th>
      <th>Zip</th>
      <th>Msa</th>
      <th>Msa code</th>
      <th>Med compcred12mos</th>
      <th>Med compcredcareer</th>
      <th>Med comp credits lifetime</th>
      <th>Med reccred12mos</th>
      <th>Med reccredcareer</th>
      <th>Med recording credits lifetime</th>
      <th>Med numshows</th>
      <th>Med shows 12months</th>
      <th>Med sesscred12mos</th>
      <th>Med sesscredcareer</th>
      <th>Med session credits lifetime</th>
      <th>Long compcred12mos</th>
      <th>Long compcredcareer</th>
      <th>Long composition credits lifetime</th>
      <th>Long reccred12mos</th>
      <th>Long reccredcareer</th>
      <th>Long recording credits lifetime</th>
      <th>Long numshows</th>
      <th>Long shows last year</th>
      <th>Long sesscred12mos</th>
      <th>Long sesscredcareer</th>
      <th>Long session credits lifetime</th>
      <th>Credits compositions life</th>
      <th>Credits recordings life</th>
      <th>Shows last year</th>
      <th>Credits sessions life</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imp_surveys.each do |imp_survey| %>
      <tr>
        <td><%= imp_survey.respondentid %></td>
        <td><%= imp_survey.collectorid %></td>
        <td><%= imp_survey.startdate %></td>
        <td><%= imp_survey.enddate %></td>
        <td><%= imp_survey.completetime %></td>
        <td><%= imp_survey.ipaddress %></td>
        <td><%= imp_survey.consent %></td>
        <td><%= imp_survey.birth_year %></td>
        <td><%= imp_survey.age %></td>
        <td><%= imp_survey.age_group %></td>
        <td><%= imp_survey.citizen %></td>
        <td><%= imp_survey.experience %></td>
        <td><%= imp_survey.experience_group %></td>
        <td><%= imp_survey.hours %></td>
        <td><%= imp_survey.hours_group %></td>
        <td><%= imp_survey.perspective %></td>
        <td><%= imp_survey.ascap %></td>
        <td><%= imp_survey.bmi %></td>
        <td><%= imp_survey.sesac %></td>
        <td><%= imp_survey.soundexchange %></td>
        <td><%= imp_survey.no_pro %></td>
        <td><%= imp_survey.member_pro %></td>
        <td><%= imp_survey.foreign_pro %></td>
        <td><%= imp_survey.afm %></td>
        <td><%= imp_survey.aftra %></td>
        <td><%= imp_survey.agma %></td>
        <td><%= imp_survey.sag %></td>
        <td><%= imp_survey.naras %></td>
        <td><%= imp_survey.songguild %></td>
        <td><%= imp_survey.nsai %></td>
        <td><%= imp_survey.countryma %></td>
        <td><%= imp_survey.acf %></td>
        <td><%= imp_survey.amc %></td>
        <td><%= imp_survey.mtc %></td>
        <td><%= imp_survey.chamberma %></td>
        <td><%= imp_survey.jen %></td>
        <td><%= imp_survey.aaj %></td>
        <td><%= imp_survey.jazzcorner %></td>
        <td><%= imp_survey.ama %></td>
        <td><%= imp_survey.ema %></td>
        <td><%= imp_survey.folkalliance %></td>
        <td><%= imp_survey.jpf %></td>
        <td><%= imp_survey.gma %></td>
        <td><%= imp_survey.ibma %></td>
        <td><%= imp_survey.fracatlas %></td>
        <td><%= imp_survey.napama %></td>
        <td><%= imp_survey.apap %></td>
        <td><%= imp_survey.no_music_org %></td>
        <td><%= imp_survey.member_music_org %></td>
        <td><%= imp_survey.other_music_org %></td>
        <td><%= imp_survey.genre1 %></td>
        <td><%= imp_survey.primary_genre_consolidated %></td>
        <td><%= imp_survey.genre_group_1 %></td>
        <td><%= imp_survey.genre2 %></td>
        <td><%= imp_survey.genre3 %></td>
        <td><%= imp_survey.other_genre %></td>
        <td><%= imp_survey.moneygenre1 %></td>
        <td><%= imp_survey.moneygenre_consolidated %></td>
        <td><%= imp_survey.money_genre_group_1 %></td>
        <td><%= imp_survey.moneygenre2 %></td>
        <td><%= imp_survey.cowriter %></td>
        <td><%= imp_survey.band %></td>
        <td><%= imp_survey.producer %></td>
        <td><%= imp_survey.label %></td>
        <td><%= imp_survey.publisher %></td>
        <td><%= imp_survey.bizmanager %></td>
        <td><%= imp_survey.booking %></td>
        <td><%= imp_survey.tourmanager %></td>
        <td><%= imp_survey.soundperson %></td>
        <td><%= imp_survey.roadcrew %></td>
        <td><%= imp_survey.publicist %></td>
        <td><%= imp_survey.fanstreetteam %></td>
        <td><%= imp_survey.webmaster %></td>
        <td><%= imp_survey.graphicdesign %></td>
        <td><%= imp_survey.accountant %></td>
        <td><%= imp_survey.attorney %></td>
        <td><%= imp_survey.other_team_member %></td>
        <td><%= imp_survey.pie_song %></td>
        <td><%= imp_survey.pie_salary %></td>
        <td><%= imp_survey.pie_live %></td>
        <td><%= imp_survey.pie_record %></td>
        <td><%= imp_survey.pie_session %></td>
        <td><%= imp_survey.pie_merch %></td>
        <td><%= imp_survey.pie_teach %></td>
        <td><%= imp_survey.pie_other %></td>
        <td><%= imp_survey.pie_total %></td>
        <td><%= imp_survey.change_song %></td>
        <td><%= imp_survey.compose_inc_direction %></td>
        <td><%= imp_survey.change_salary %></td>
        <td><%= imp_survey.salary_inc_direction %></td>
        <td><%= imp_survey.change_live %></td>
        <td><%= imp_survey.perform_inc_direction %></td>
        <td><%= imp_survey.change_record %></td>
        <td><%= imp_survey.record_inc_direction %></td>
        <td><%= imp_survey.change_session %></td>
        <td><%= imp_survey.session_inc_direction %></td>
        <td><%= imp_survey.change_merch %></td>
        <td><%= imp_survey.merch_inc_direction %></td>
        <td><%= imp_survey.change_teach %></td>
        <td><%= imp_survey.teach_inc_direction %></td>
        <td><%= imp_survey.rev_youtube %></td>
        <td><%= imp_survey.rev_webads %></td>
        <td><%= imp_survey.rev_fanfund %></td>
        <td><%= imp_survey.rev_fanclub %></td>
        <td><%= imp_survey.rev_persona %></td>
        <td><%= imp_survey.rev_endorse %></td>
        <td><%= imp_survey.rev_acting %></td>
        <td><%= imp_survey.rev_corp %></td>
        <td><%= imp_survey.rev_sample %></td>
        <td><%= imp_survey.rev_honoraria %></td>
        <td><%= imp_survey.rev_grants %></td>
        <td><%= imp_survey.rev_produce %></td>
        <td><%= imp_survey.rev_pubadvance %></td>
        <td><%= imp_survey.ascaplus %></td>
        <td><%= imp_survey.aarc %></td>
        <td><%= imp_survey.afm_2 %></td>
        <td><%= imp_survey.afm_srsp %></td>
        <td><%= imp_survey.afm_aftra %></td>
        <td><%= imp_survey.aftra_csp %></td>
        <td><%= imp_survey.label_settle %></td>
        <td><%= imp_survey.income %></td>
        <td><%= imp_survey.midrange_income %></td>
        <td><%= imp_survey.music_inc_share_pct %></td>
        <td><%= imp_survey.income_strata %></td>
        <td><%= imp_survey.income_strata_group %></td>
        <td><%= imp_survey.emi %></td>
        <td><%= imp_survey.full_time %></td>
        <td><%= imp_survey.seasoning_group %></td>
        <td><%= imp_survey.path %></td>
        <td><%= imp_survey.path_group %></td>
        <td><%= imp_survey.short_role_music %></td>
        <td><%= imp_survey.short_role_lyrics %></td>
        <td><%= imp_survey.short_role_composer %></td>
        <td><%= imp_survey.short_role_recording %></td>
        <td><%= imp_survey.short_role_record %></td>
        <td><%= imp_survey.short_role_perform_desc %></td>
        <td><%= imp_survey.short_role_perform %></td>
        <td><%= imp_survey.short_role_orchestra_desc %></td>
        <td><%= imp_survey.short_role_orchestra %></td>
        <td><%= imp_survey.short_role_session_desc %></td>
        <td><%= imp_survey.short_role_session %></td>
        <td><%= imp_survey.short_role_teach_desc %></td>
        <td><%= imp_survey.short_role_teach %></td>
        <td><%= imp_survey.short_role_admin_desc %></td>
        <td><%= imp_survey.short_role_admin %></td>
        <td><%= imp_survey.short_moneyrole %></td>
        <td><%= imp_survey.med_moneyrole %></td>
        <td><%= imp_survey.long_composer %></td>
        <td><%= imp_survey.long_recordings %></td>
        <td><%= imp_survey.long_liveperformance %></td>
        <td><%= imp_survey.long_session %></td>
        <td><%= imp_survey.long_teacher %></td>
        <td><%= imp_survey.role_composer %></td>
        <td><%= imp_survey.role_recording %></td>
        <td><%= imp_survey.role_performer %></td>
        <td><%= imp_survey.role_session %></td>
        <td><%= imp_survey.role_teacher %></td>
        <td><%= imp_survey.other_inc_streams %></td>
        <td><%= imp_survey.other_dec_streams %></td>
        <td><%= imp_survey.confirm_perspective %></td>
        <td><%= imp_survey.radio_com %></td>
        <td><%= imp_survey.freq_commercial_radio %></td>
        <td><%= imp_survey.radio_noncom %></td>
        <td><%= imp_survey.freq_noncommercial_radio %></td>
        <td><%= imp_survey.radio_internet %></td>
        <td><%= imp_survey.freq_internet_radio %></td>
        <td><%= imp_survey.radio_satellite %></td>
        <td><%= imp_survey.freq_satellite_radio %></td>
        <td><%= imp_survey.radio_cable %></td>
        <td><%= imp_survey.freq_cable_radio %></td>
        <td><%= imp_survey.web_produce %></td>
        <td><%= imp_survey.comfort_net_produce %></td>
        <td><%= imp_survey.web_promote %></td>
        <td><%= imp_survey.comfort_net_promote %></td>
        <td><%= imp_survey.web_distro %></td>
        <td><%= imp_survey.comfort_net_distribute %></td>
        <td><%= imp_survey.web_collab %></td>
        <td><%= imp_survey.comfort_net_collaborate %></td>
        <td><%= imp_survey.web_fans %></td>
        <td><%= imp_survey.comfort_net_fanconnect %></td>
        <td><%= imp_survey.ableton %></td>
        <td><%= imp_survey.garageband %></td>
        <td><%= imp_survey.digitalperformer %></td>
        <td><%= imp_survey.finale %></td>
        <td><%= imp_survey.logic %></td>
        <td><%= imp_survey.maximuspe %></td>
        <td><%= imp_survey.prop_reason %></td>
        <td><%= imp_survey.prop_record %></td>
        <td><%= imp_survey.pro_tools %></td>
        <td><%= imp_survey.sibelius %></td>
        <td><%= imp_survey.virtual_dj %></td>
        <td><%= imp_survey.other_software %></td>
        <td><%= imp_survey.webblog %></td>
        <td><%= imp_survey.bandcamp %></td>
        <td><%= imp_survey.bandletter %></td>
        <td><%= imp_survey.bandzoogle %></td>
        <td><%= imp_survey.cash_music %></td>
        <td><%= imp_survey.cdbaby %></td>
        <td><%= imp_survey.facebook %></td>
        <td><%= imp_survey.fanbridge %></td>
        <td><%= imp_survey.flickr %></td>
        <td><%= imp_survey.foursquare %></td>
        <td><%= imp_survey.mailchimp %></td>
        <td><%= imp_survey.myspace %></td>
        <td><%= imp_survey.nextbigsound %></td>
        <td><%= imp_survey.nimbit %></td>
        <td><%= imp_survey.reverbnation %></td>
        <td><%= imp_survey.rootmusic %></td>
        <td><%= imp_survey.rumblefish %></td>
        <td><%= imp_survey.songkick %></td>
        <td><%= imp_survey.sonicbids %></td>
        <td><%= imp_survey.soundcloud %></td>
        <td><%= imp_survey.taxi %></td>
        <td><%= imp_survey.topspin %></td>
        <td><%= imp_survey.tumblr %></td>
        <td><%= imp_survey.tunecore %></td>
        <td><%= imp_survey.twitter %></td>
        <td><%= imp_survey.youtube %></td>
        <td><%= imp_survey.other_web_dist %></td>
        <td><%= imp_survey.tech_money %></td>
        <td><%= imp_survey.tech_self %></td>
        <td><%= imp_survey.tech_collab %></td>
        <td><%= imp_survey.tech_fans %></td>
        <td><%= imp_survey.tech_merits %></td>
        <td><%= imp_survey.tech_compete %></td>
        <td><%= imp_survey.tech_promo %></td>
        <td><%= imp_survey.tech_devalue %></td>
        <td><%= imp_survey.tech_piracy %></td>
        <td><%= imp_survey.tech_control %></td>
        <td><%= imp_survey.time_compose %></td>
        <td><%= imp_survey.time_perform %></td>
        <td><%= imp_survey.time_record %></td>
        <td><%= imp_survey.time_collab %></td>
        <td><%= imp_survey.time_session %></td>
        <td><%= imp_survey.time_teach %></td>
        <td><%= imp_survey.time_socnet %></td>
        <td><%= imp_survey.time_manage %></td>
        <td><%= imp_survey.time_account %></td>
        <td><%= imp_survey.time_fundraise %></td>
        <td><%= imp_survey.learn_about_survey %></td>
        <td><%= imp_survey.survey_source %></td>
        <td><%= imp_survey.gender %></td>
        <td><%= imp_survey.gender_group %></td>
        <td><%= imp_survey.race_ethnicity %></td>
        <td><%= imp_survey.education_level %></td>
        <td><%= imp_survey.edu_level_group %></td>
        <td><%= imp_survey.music_school %></td>
        <td><%= imp_survey.music_degree %></td>
        <td><%= imp_survey.specific_degree %></td>
        <td><%= imp_survey.health_ins %></td>
        <td><%= imp_survey.pension %></td>
        <td><%= imp_survey.zip %></td>
        <td><%= imp_survey.msa %></td>
        <td><%= imp_survey.msa_code %></td>
        <td><%= imp_survey.med_compcred12mos %></td>
        <td><%= imp_survey.med_compcredcareer %></td>
        <td><%= imp_survey.med_comp_credits_lifetime %></td>
        <td><%= imp_survey.med_reccred12mos %></td>
        <td><%= imp_survey.med_reccredcareer %></td>
        <td><%= imp_survey.med_recording_credits_lifetime %></td>
        <td><%= imp_survey.med_numshows %></td>
        <td><%= imp_survey.med_shows_12months %></td>
        <td><%= imp_survey.med_sesscred12mos %></td>
        <td><%= imp_survey.med_sesscredcareer %></td>
        <td><%= imp_survey.med_session_credits_lifetime %></td>
        <td><%= imp_survey.long_compcred12mos %></td>
        <td><%= imp_survey.long_compcredcareer %></td>
        <td><%= imp_survey.long_composition_credits_lifetime %></td>
        <td><%= imp_survey.long_reccred12mos %></td>
        <td><%= imp_survey.long_reccredcareer %></td>
        <td><%= imp_survey.long_recording_credits_lifetime %></td>
        <td><%= imp_survey.long_numshows %></td>
        <td><%= imp_survey.long_shows_last_year %></td>
        <td><%= imp_survey.long_sesscred12mos %></td>
        <td><%= imp_survey.long_sesscredcareer %></td>
        <td><%= imp_survey.long_session_credits_lifetime %></td>
        <td><%= imp_survey.credits_compositions_life %></td>
        <td><%= imp_survey.credits_recordings_life %></td>
        <td><%= imp_survey.shows_last_year %></td>
        <td><%= imp_survey.credits_sessions_life %></td>
        <td><%= link_to 'Show', imp_survey %></td>
        <td><%= link_to 'Edit', edit_imp_survey_path(imp_survey) %></td>
        <td><%= link_to 'Destroy', imp_survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imp survey', new_imp_survey_path %>
