<p id="notice"><%= notice %></p>

<p>
  <strong>Respondentid:</strong>
  <%= @imp_survey.respondentid %>
</p>

<p>
  <strong>Collectorid:</strong>
  <%= @imp_survey.collectorid %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @imp_survey.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @imp_survey.enddate %>
</p>

<p>
  <strong>Completetime:</strong>
  <%= @imp_survey.completetime %>
</p>

<p>
  <strong>Ipaddress:</strong>
  <%= @imp_survey.ipaddress %>
</p>

<p>
  <strong>Consent:</strong>
  <%= @imp_survey.consent %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @imp_survey.birth_year %>
</p>

<p>
  <strong>Age:</strong>
  <%= @imp_survey.age %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @imp_survey.age_group %>
</p>

<p>
  <strong>Citizen:</strong>
  <%= @imp_survey.citizen %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @imp_survey.experience %>
</p>

<p>
  <strong>Experience group:</strong>
  <%= @imp_survey.experience_group %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @imp_survey.hours %>
</p>

<p>
  <strong>Hours group:</strong>
  <%= @imp_survey.hours_group %>
</p>

<p>
  <strong>Perspective:</strong>
  <%= @imp_survey.perspective %>
</p>

<p>
  <strong>Ascap:</strong>
  <%= @imp_survey.ascap %>
</p>

<p>
  <strong>Bmi:</strong>
  <%= @imp_survey.bmi %>
</p>

<p>
  <strong>Sesac:</strong>
  <%= @imp_survey.sesac %>
</p>

<p>
  <strong>Soundexchange:</strong>
  <%= @imp_survey.soundexchange %>
</p>

<p>
  <strong>No pro:</strong>
  <%= @imp_survey.no_pro %>
</p>

<p>
  <strong>Member pro:</strong>
  <%= @imp_survey.member_pro %>
</p>

<p>
  <strong>Foreign pro:</strong>
  <%= @imp_survey.foreign_pro %>
</p>

<p>
  <strong>Afm:</strong>
  <%= @imp_survey.afm %>
</p>

<p>
  <strong>Aftra:</strong>
  <%= @imp_survey.aftra %>
</p>

<p>
  <strong>Agma:</strong>
  <%= @imp_survey.agma %>
</p>

<p>
  <strong>Sag:</strong>
  <%= @imp_survey.sag %>
</p>

<p>
  <strong>Naras:</strong>
  <%= @imp_survey.naras %>
</p>

<p>
  <strong>Songguild:</strong>
  <%= @imp_survey.songguild %>
</p>

<p>
  <strong>Nsai:</strong>
  <%= @imp_survey.nsai %>
</p>

<p>
  <strong>Countryma:</strong>
  <%= @imp_survey.countryma %>
</p>

<p>
  <strong>Acf:</strong>
  <%= @imp_survey.acf %>
</p>

<p>
  <strong>Amc:</strong>
  <%= @imp_survey.amc %>
</p>

<p>
  <strong>Mtc:</strong>
  <%= @imp_survey.mtc %>
</p>

<p>
  <strong>Chamberma:</strong>
  <%= @imp_survey.chamberma %>
</p>

<p>
  <strong>Jen:</strong>
  <%= @imp_survey.jen %>
</p>

<p>
  <strong>Aaj:</strong>
  <%= @imp_survey.aaj %>
</p>

<p>
  <strong>Jazzcorner:</strong>
  <%= @imp_survey.jazzcorner %>
</p>

<p>
  <strong>Ama:</strong>
  <%= @imp_survey.ama %>
</p>

<p>
  <strong>Ema:</strong>
  <%= @imp_survey.ema %>
</p>

<p>
  <strong>Folkalliance:</strong>
  <%= @imp_survey.folkalliance %>
</p>

<p>
  <strong>Jpf:</strong>
  <%= @imp_survey.jpf %>
</p>

<p>
  <strong>Gma:</strong>
  <%= @imp_survey.gma %>
</p>

<p>
  <strong>Ibma:</strong>
  <%= @imp_survey.ibma %>
</p>

<p>
  <strong>Fracatlas:</strong>
  <%= @imp_survey.fracatlas %>
</p>

<p>
  <strong>Napama:</strong>
  <%= @imp_survey.napama %>
</p>

<p>
  <strong>Apap:</strong>
  <%= @imp_survey.apap %>
</p>

<p>
  <strong>No music org:</strong>
  <%= @imp_survey.no_music_org %>
</p>

<p>
  <strong>Member music org:</strong>
  <%= @imp_survey.member_music_org %>
</p>

<p>
  <strong>Other music org:</strong>
  <%= @imp_survey.other_music_org %>
</p>

<p>
  <strong>Genre1:</strong>
  <%= @imp_survey.genre1 %>
</p>

<p>
  <strong>Primary genre consolidated:</strong>
  <%= @imp_survey.primary_genre_consolidated %>
</p>

<p>
  <strong>Genre group 1:</strong>
  <%= @imp_survey.genre_group_1 %>
</p>

<p>
  <strong>Genre2:</strong>
  <%= @imp_survey.genre2 %>
</p>

<p>
  <strong>Genre3:</strong>
  <%= @imp_survey.genre3 %>
</p>

<p>
  <strong>Other genre:</strong>
  <%= @imp_survey.other_genre %>
</p>

<p>
  <strong>Moneygenre1:</strong>
  <%= @imp_survey.moneygenre1 %>
</p>

<p>
  <strong>Moneygenre consolidated:</strong>
  <%= @imp_survey.moneygenre_consolidated %>
</p>

<p>
  <strong>Money genre group 1:</strong>
  <%= @imp_survey.money_genre_group_1 %>
</p>

<p>
  <strong>Moneygenre2:</strong>
  <%= @imp_survey.moneygenre2 %>
</p>

<p>
  <strong>Cowriter:</strong>
  <%= @imp_survey.cowriter %>
</p>

<p>
  <strong>Band:</strong>
  <%= @imp_survey.band %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @imp_survey.producer %>
</p>

<p>
  <strong>Label:</strong>
  <%= @imp_survey.label %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @imp_survey.publisher %>
</p>

<p>
  <strong>Bizmanager:</strong>
  <%= @imp_survey.bizmanager %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @imp_survey.booking %>
</p>

<p>
  <strong>Tourmanager:</strong>
  <%= @imp_survey.tourmanager %>
</p>

<p>
  <strong>Soundperson:</strong>
  <%= @imp_survey.soundperson %>
</p>

<p>
  <strong>Roadcrew:</strong>
  <%= @imp_survey.roadcrew %>
</p>

<p>
  <strong>Publicist:</strong>
  <%= @imp_survey.publicist %>
</p>

<p>
  <strong>Fanstreetteam:</strong>
  <%= @imp_survey.fanstreetteam %>
</p>

<p>
  <strong>Webmaster:</strong>
  <%= @imp_survey.webmaster %>
</p>

<p>
  <strong>Graphicdesign:</strong>
  <%= @imp_survey.graphicdesign %>
</p>

<p>
  <strong>Accountant:</strong>
  <%= @imp_survey.accountant %>
</p>

<p>
  <strong>Attorney:</strong>
  <%= @imp_survey.attorney %>
</p>

<p>
  <strong>Other team member:</strong>
  <%= @imp_survey.other_team_member %>
</p>

<p>
  <strong>Pie song:</strong>
  <%= @imp_survey.pie_song %>
</p>

<p>
  <strong>Pie salary:</strong>
  <%= @imp_survey.pie_salary %>
</p>

<p>
  <strong>Pie live:</strong>
  <%= @imp_survey.pie_live %>
</p>

<p>
  <strong>Pie record:</strong>
  <%= @imp_survey.pie_record %>
</p>

<p>
  <strong>Pie session:</strong>
  <%= @imp_survey.pie_session %>
</p>

<p>
  <strong>Pie merch:</strong>
  <%= @imp_survey.pie_merch %>
</p>

<p>
  <strong>Pie teach:</strong>
  <%= @imp_survey.pie_teach %>
</p>

<p>
  <strong>Pie other:</strong>
  <%= @imp_survey.pie_other %>
</p>

<p>
  <strong>Pie total:</strong>
  <%= @imp_survey.pie_total %>
</p>

<p>
  <strong>Change song:</strong>
  <%= @imp_survey.change_song %>
</p>

<p>
  <strong>Compose inc direction:</strong>
  <%= @imp_survey.compose_inc_direction %>
</p>

<p>
  <strong>Change salary:</strong>
  <%= @imp_survey.change_salary %>
</p>

<p>
  <strong>Salary inc direction:</strong>
  <%= @imp_survey.salary_inc_direction %>
</p>

<p>
  <strong>Change live:</strong>
  <%= @imp_survey.change_live %>
</p>

<p>
  <strong>Perform inc direction:</strong>
  <%= @imp_survey.perform_inc_direction %>
</p>

<p>
  <strong>Change record:</strong>
  <%= @imp_survey.change_record %>
</p>

<p>
  <strong>Record inc direction:</strong>
  <%= @imp_survey.record_inc_direction %>
</p>

<p>
  <strong>Change session:</strong>
  <%= @imp_survey.change_session %>
</p>

<p>
  <strong>Session inc direction:</strong>
  <%= @imp_survey.session_inc_direction %>
</p>

<p>
  <strong>Change merch:</strong>
  <%= @imp_survey.change_merch %>
</p>

<p>
  <strong>Merch inc direction:</strong>
  <%= @imp_survey.merch_inc_direction %>
</p>

<p>
  <strong>Change teach:</strong>
  <%= @imp_survey.change_teach %>
</p>

<p>
  <strong>Teach inc direction:</strong>
  <%= @imp_survey.teach_inc_direction %>
</p>

<p>
  <strong>Rev youtube:</strong>
  <%= @imp_survey.rev_youtube %>
</p>

<p>
  <strong>Rev webads:</strong>
  <%= @imp_survey.rev_webads %>
</p>

<p>
  <strong>Rev fanfund:</strong>
  <%= @imp_survey.rev_fanfund %>
</p>

<p>
  <strong>Rev fanclub:</strong>
  <%= @imp_survey.rev_fanclub %>
</p>

<p>
  <strong>Rev persona:</strong>
  <%= @imp_survey.rev_persona %>
</p>

<p>
  <strong>Rev endorse:</strong>
  <%= @imp_survey.rev_endorse %>
</p>

<p>
  <strong>Rev acting:</strong>
  <%= @imp_survey.rev_acting %>
</p>

<p>
  <strong>Rev corp:</strong>
  <%= @imp_survey.rev_corp %>
</p>

<p>
  <strong>Rev sample:</strong>
  <%= @imp_survey.rev_sample %>
</p>

<p>
  <strong>Rev honoraria:</strong>
  <%= @imp_survey.rev_honoraria %>
</p>

<p>
  <strong>Rev grants:</strong>
  <%= @imp_survey.rev_grants %>
</p>

<p>
  <strong>Rev produce:</strong>
  <%= @imp_survey.rev_produce %>
</p>

<p>
  <strong>Rev pubadvance:</strong>
  <%= @imp_survey.rev_pubadvance %>
</p>

<p>
  <strong>Ascaplus:</strong>
  <%= @imp_survey.ascaplus %>
</p>

<p>
  <strong>Aarc:</strong>
  <%= @imp_survey.aarc %>
</p>

<p>
  <strong>Afm 2:</strong>
  <%= @imp_survey.afm_2 %>
</p>

<p>
  <strong>Afm srsp:</strong>
  <%= @imp_survey.afm_srsp %>
</p>

<p>
  <strong>Afm aftra:</strong>
  <%= @imp_survey.afm_aftra %>
</p>

<p>
  <strong>Aftra csp:</strong>
  <%= @imp_survey.aftra_csp %>
</p>

<p>
  <strong>Label settle:</strong>
  <%= @imp_survey.label_settle %>
</p>

<p>
  <strong>Income:</strong>
  <%= @imp_survey.income %>
</p>

<p>
  <strong>Midrange income:</strong>
  <%= @imp_survey.midrange_income %>
</p>

<p>
  <strong>Music inc share pct:</strong>
  <%= @imp_survey.music_inc_share_pct %>
</p>

<p>
  <strong>Income strata:</strong>
  <%= @imp_survey.income_strata %>
</p>

<p>
  <strong>Income strata group:</strong>
  <%= @imp_survey.income_strata_group %>
</p>

<p>
  <strong>Emi:</strong>
  <%= @imp_survey.emi %>
</p>

<p>
  <strong>Full time:</strong>
  <%= @imp_survey.full_time %>
</p>

<p>
  <strong>Seasoning group:</strong>
  <%= @imp_survey.seasoning_group %>
</p>

<p>
  <strong>Path:</strong>
  <%= @imp_survey.path %>
</p>

<p>
  <strong>Path group:</strong>
  <%= @imp_survey.path_group %>
</p>

<p>
  <strong>Short role music:</strong>
  <%= @imp_survey.short_role_music %>
</p>

<p>
  <strong>Short role lyrics:</strong>
  <%= @imp_survey.short_role_lyrics %>
</p>

<p>
  <strong>Short role composer:</strong>
  <%= @imp_survey.short_role_composer %>
</p>

<p>
  <strong>Short role recording:</strong>
  <%= @imp_survey.short_role_recording %>
</p>

<p>
  <strong>Short role record:</strong>
  <%= @imp_survey.short_role_record %>
</p>

<p>
  <strong>Short role perform desc:</strong>
  <%= @imp_survey.short_role_perform_desc %>
</p>

<p>
  <strong>Short role perform:</strong>
  <%= @imp_survey.short_role_perform %>
</p>

<p>
  <strong>Short role orchestra desc:</strong>
  <%= @imp_survey.short_role_orchestra_desc %>
</p>

<p>
  <strong>Short role orchestra:</strong>
  <%= @imp_survey.short_role_orchestra %>
</p>

<p>
  <strong>Short role session desc:</strong>
  <%= @imp_survey.short_role_session_desc %>
</p>

<p>
  <strong>Short role session:</strong>
  <%= @imp_survey.short_role_session %>
</p>

<p>
  <strong>Short role teach desc:</strong>
  <%= @imp_survey.short_role_teach_desc %>
</p>

<p>
  <strong>Short role teach:</strong>
  <%= @imp_survey.short_role_teach %>
</p>

<p>
  <strong>Short role admin desc:</strong>
  <%= @imp_survey.short_role_admin_desc %>
</p>

<p>
  <strong>Short role admin:</strong>
  <%= @imp_survey.short_role_admin %>
</p>

<p>
  <strong>Short moneyrole:</strong>
  <%= @imp_survey.short_moneyrole %>
</p>

<p>
  <strong>Med moneyrole:</strong>
  <%= @imp_survey.med_moneyrole %>
</p>

<p>
  <strong>Long composer:</strong>
  <%= @imp_survey.long_composer %>
</p>

<p>
  <strong>Long recordings:</strong>
  <%= @imp_survey.long_recordings %>
</p>

<p>
  <strong>Long liveperformance:</strong>
  <%= @imp_survey.long_liveperformance %>
</p>

<p>
  <strong>Long session:</strong>
  <%= @imp_survey.long_session %>
</p>

<p>
  <strong>Long teacher:</strong>
  <%= @imp_survey.long_teacher %>
</p>

<p>
  <strong>Role composer:</strong>
  <%= @imp_survey.role_composer %>
</p>

<p>
  <strong>Role recording:</strong>
  <%= @imp_survey.role_recording %>
</p>

<p>
  <strong>Role performer:</strong>
  <%= @imp_survey.role_performer %>
</p>

<p>
  <strong>Role session:</strong>
  <%= @imp_survey.role_session %>
</p>

<p>
  <strong>Role teacher:</strong>
  <%= @imp_survey.role_teacher %>
</p>

<p>
  <strong>Other inc streams:</strong>
  <%= @imp_survey.other_inc_streams %>
</p>

<p>
  <strong>Other dec streams:</strong>
  <%= @imp_survey.other_dec_streams %>
</p>

<p>
  <strong>Confirm perspective:</strong>
  <%= @imp_survey.confirm_perspective %>
</p>

<p>
  <strong>Radio com:</strong>
  <%= @imp_survey.radio_com %>
</p>

<p>
  <strong>Freq commercial radio:</strong>
  <%= @imp_survey.freq_commercial_radio %>
</p>

<p>
  <strong>Radio noncom:</strong>
  <%= @imp_survey.radio_noncom %>
</p>

<p>
  <strong>Freq noncommercial radio:</strong>
  <%= @imp_survey.freq_noncommercial_radio %>
</p>

<p>
  <strong>Radio internet:</strong>
  <%= @imp_survey.radio_internet %>
</p>

<p>
  <strong>Freq internet radio:</strong>
  <%= @imp_survey.freq_internet_radio %>
</p>

<p>
  <strong>Radio satellite:</strong>
  <%= @imp_survey.radio_satellite %>
</p>

<p>
  <strong>Freq satellite radio:</strong>
  <%= @imp_survey.freq_satellite_radio %>
</p>

<p>
  <strong>Radio cable:</strong>
  <%= @imp_survey.radio_cable %>
</p>

<p>
  <strong>Freq cable radio:</strong>
  <%= @imp_survey.freq_cable_radio %>
</p>

<p>
  <strong>Web produce:</strong>
  <%= @imp_survey.web_produce %>
</p>

<p>
  <strong>Comfort net produce:</strong>
  <%= @imp_survey.comfort_net_produce %>
</p>

<p>
  <strong>Web promote:</strong>
  <%= @imp_survey.web_promote %>
</p>

<p>
  <strong>Comfort net promote:</strong>
  <%= @imp_survey.comfort_net_promote %>
</p>

<p>
  <strong>Web distro:</strong>
  <%= @imp_survey.web_distro %>
</p>

<p>
  <strong>Comfort net distribute:</strong>
  <%= @imp_survey.comfort_net_distribute %>
</p>

<p>
  <strong>Web collab:</strong>
  <%= @imp_survey.web_collab %>
</p>

<p>
  <strong>Comfort net collaborate:</strong>
  <%= @imp_survey.comfort_net_collaborate %>
</p>

<p>
  <strong>Web fans:</strong>
  <%= @imp_survey.web_fans %>
</p>

<p>
  <strong>Comfort net fanconnect:</strong>
  <%= @imp_survey.comfort_net_fanconnect %>
</p>

<p>
  <strong>Ableton:</strong>
  <%= @imp_survey.ableton %>
</p>

<p>
  <strong>Garageband:</strong>
  <%= @imp_survey.garageband %>
</p>

<p>
  <strong>Digitalperformer:</strong>
  <%= @imp_survey.digitalperformer %>
</p>

<p>
  <strong>Finale:</strong>
  <%= @imp_survey.finale %>
</p>

<p>
  <strong>Logic:</strong>
  <%= @imp_survey.logic %>
</p>

<p>
  <strong>Maximuspe:</strong>
  <%= @imp_survey.maximuspe %>
</p>

<p>
  <strong>Prop reason:</strong>
  <%= @imp_survey.prop_reason %>
</p>

<p>
  <strong>Prop record:</strong>
  <%= @imp_survey.prop_record %>
</p>

<p>
  <strong>Pro tools:</strong>
  <%= @imp_survey.pro_tools %>
</p>

<p>
  <strong>Sibelius:</strong>
  <%= @imp_survey.sibelius %>
</p>

<p>
  <strong>Virtual dj:</strong>
  <%= @imp_survey.virtual_dj %>
</p>

<p>
  <strong>Other software:</strong>
  <%= @imp_survey.other_software %>
</p>

<p>
  <strong>Webblog:</strong>
  <%= @imp_survey.webblog %>
</p>

<p>
  <strong>Bandcamp:</strong>
  <%= @imp_survey.bandcamp %>
</p>

<p>
  <strong>Bandletter:</strong>
  <%= @imp_survey.bandletter %>
</p>

<p>
  <strong>Bandzoogle:</strong>
  <%= @imp_survey.bandzoogle %>
</p>

<p>
  <strong>Cash music:</strong>
  <%= @imp_survey.cash_music %>
</p>

<p>
  <strong>Cdbaby:</strong>
  <%= @imp_survey.cdbaby %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @imp_survey.facebook %>
</p>

<p>
  <strong>Fanbridge:</strong>
  <%= @imp_survey.fanbridge %>
</p>

<p>
  <strong>Flickr:</strong>
  <%= @imp_survey.flickr %>
</p>

<p>
  <strong>Foursquare:</strong>
  <%= @imp_survey.foursquare %>
</p>

<p>
  <strong>Mailchimp:</strong>
  <%= @imp_survey.mailchimp %>
</p>

<p>
  <strong>Myspace:</strong>
  <%= @imp_survey.myspace %>
</p>

<p>
  <strong>Nextbigsound:</strong>
  <%= @imp_survey.nextbigsound %>
</p>

<p>
  <strong>Nimbit:</strong>
  <%= @imp_survey.nimbit %>
</p>

<p>
  <strong>Reverbnation:</strong>
  <%= @imp_survey.reverbnation %>
</p>

<p>
  <strong>Rootmusic:</strong>
  <%= @imp_survey.rootmusic %>
</p>

<p>
  <strong>Rumblefish:</strong>
  <%= @imp_survey.rumblefish %>
</p>

<p>
  <strong>Songkick:</strong>
  <%= @imp_survey.songkick %>
</p>

<p>
  <strong>Sonicbids:</strong>
  <%= @imp_survey.sonicbids %>
</p>

<p>
  <strong>Soundcloud:</strong>
  <%= @imp_survey.soundcloud %>
</p>

<p>
  <strong>Taxi:</strong>
  <%= @imp_survey.taxi %>
</p>

<p>
  <strong>Topspin:</strong>
  <%= @imp_survey.topspin %>
</p>

<p>
  <strong>Tumblr:</strong>
  <%= @imp_survey.tumblr %>
</p>

<p>
  <strong>Tunecore:</strong>
  <%= @imp_survey.tunecore %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @imp_survey.twitter %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @imp_survey.youtube %>
</p>

<p>
  <strong>Other web dist:</strong>
  <%= @imp_survey.other_web_dist %>
</p>

<p>
  <strong>Tech money:</strong>
  <%= @imp_survey.tech_money %>
</p>

<p>
  <strong>Tech self:</strong>
  <%= @imp_survey.tech_self %>
</p>

<p>
  <strong>Tech collab:</strong>
  <%= @imp_survey.tech_collab %>
</p>

<p>
  <strong>Tech fans:</strong>
  <%= @imp_survey.tech_fans %>
</p>

<p>
  <strong>Tech merits:</strong>
  <%= @imp_survey.tech_merits %>
</p>

<p>
  <strong>Tech compete:</strong>
  <%= @imp_survey.tech_compete %>
</p>

<p>
  <strong>Tech promo:</strong>
  <%= @imp_survey.tech_promo %>
</p>

<p>
  <strong>Tech devalue:</strong>
  <%= @imp_survey.tech_devalue %>
</p>

<p>
  <strong>Tech piracy:</strong>
  <%= @imp_survey.tech_piracy %>
</p>

<p>
  <strong>Tech control:</strong>
  <%= @imp_survey.tech_control %>
</p>

<p>
  <strong>Time compose:</strong>
  <%= @imp_survey.time_compose %>
</p>

<p>
  <strong>Time perform:</strong>
  <%= @imp_survey.time_perform %>
</p>

<p>
  <strong>Time record:</strong>
  <%= @imp_survey.time_record %>
</p>

<p>
  <strong>Time collab:</strong>
  <%= @imp_survey.time_collab %>
</p>

<p>
  <strong>Time session:</strong>
  <%= @imp_survey.time_session %>
</p>

<p>
  <strong>Time teach:</strong>
  <%= @imp_survey.time_teach %>
</p>

<p>
  <strong>Time socnet:</strong>
  <%= @imp_survey.time_socnet %>
</p>

<p>
  <strong>Time manage:</strong>
  <%= @imp_survey.time_manage %>
</p>

<p>
  <strong>Time account:</strong>
  <%= @imp_survey.time_account %>
</p>

<p>
  <strong>Time fundraise:</strong>
  <%= @imp_survey.time_fundraise %>
</p>

<p>
  <strong>Learn about survey:</strong>
  <%= @imp_survey.learn_about_survey %>
</p>

<p>
  <strong>Survey source:</strong>
  <%= @imp_survey.survey_source %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @imp_survey.gender %>
</p>

<p>
  <strong>Gender group:</strong>
  <%= @imp_survey.gender_group %>
</p>

<p>
  <strong>Race ethnicity:</strong>
  <%= @imp_survey.race_ethnicity %>
</p>

<p>
  <strong>Education level:</strong>
  <%= @imp_survey.education_level %>
</p>

<p>
  <strong>Edu level group:</strong>
  <%= @imp_survey.edu_level_group %>
</p>

<p>
  <strong>Music school:</strong>
  <%= @imp_survey.music_school %>
</p>

<p>
  <strong>Music degree:</strong>
  <%= @imp_survey.music_degree %>
</p>

<p>
  <strong>Specific degree:</strong>
  <%= @imp_survey.specific_degree %>
</p>

<p>
  <strong>Health ins:</strong>
  <%= @imp_survey.health_ins %>
</p>

<p>
  <strong>Pension:</strong>
  <%= @imp_survey.pension %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @imp_survey.zip %>
</p>

<p>
  <strong>Msa:</strong>
  <%= @imp_survey.msa %>
</p>

<p>
  <strong>Msa code:</strong>
  <%= @imp_survey.msa_code %>
</p>

<p>
  <strong>Med compcred12mos:</strong>
  <%= @imp_survey.med_compcred12mos %>
</p>

<p>
  <strong>Med compcredcareer:</strong>
  <%= @imp_survey.med_compcredcareer %>
</p>

<p>
  <strong>Med comp credits lifetime:</strong>
  <%= @imp_survey.med_comp_credits_lifetime %>
</p>

<p>
  <strong>Med reccred12mos:</strong>
  <%= @imp_survey.med_reccred12mos %>
</p>

<p>
  <strong>Med reccredcareer:</strong>
  <%= @imp_survey.med_reccredcareer %>
</p>

<p>
  <strong>Med recording credits lifetime:</strong>
  <%= @imp_survey.med_recording_credits_lifetime %>
</p>

<p>
  <strong>Med numshows:</strong>
  <%= @imp_survey.med_numshows %>
</p>

<p>
  <strong>Med shows 12months:</strong>
  <%= @imp_survey.med_shows_12months %>
</p>

<p>
  <strong>Med sesscred12mos:</strong>
  <%= @imp_survey.med_sesscred12mos %>
</p>

<p>
  <strong>Med sesscredcareer:</strong>
  <%= @imp_survey.med_sesscredcareer %>
</p>

<p>
  <strong>Med session credits lifetime:</strong>
  <%= @imp_survey.med_session_credits_lifetime %>
</p>

<p>
  <strong>Long compcred12mos:</strong>
  <%= @imp_survey.long_compcred12mos %>
</p>

<p>
  <strong>Long compcredcareer:</strong>
  <%= @imp_survey.long_compcredcareer %>
</p>

<p>
  <strong>Long composition credits lifetime:</strong>
  <%= @imp_survey.long_composition_credits_lifetime %>
</p>

<p>
  <strong>Long reccred12mos:</strong>
  <%= @imp_survey.long_reccred12mos %>
</p>

<p>
  <strong>Long reccredcareer:</strong>
  <%= @imp_survey.long_reccredcareer %>
</p>

<p>
  <strong>Long recording credits lifetime:</strong>
  <%= @imp_survey.long_recording_credits_lifetime %>
</p>

<p>
  <strong>Long numshows:</strong>
  <%= @imp_survey.long_numshows %>
</p>

<p>
  <strong>Long shows last year:</strong>
  <%= @imp_survey.long_shows_last_year %>
</p>

<p>
  <strong>Long sesscred12mos:</strong>
  <%= @imp_survey.long_sesscred12mos %>
</p>

<p>
  <strong>Long sesscredcareer:</strong>
  <%= @imp_survey.long_sesscredcareer %>
</p>

<p>
  <strong>Long session credits lifetime:</strong>
  <%= @imp_survey.long_session_credits_lifetime %>
</p>

<p>
  <strong>Credits compositions life:</strong>
  <%= @imp_survey.credits_compositions_life %>
</p>

<p>
  <strong>Credits recordings life:</strong>
  <%= @imp_survey.credits_recordings_life %>
</p>

<p>
  <strong>Shows last year:</strong>
  <%= @imp_survey.shows_last_year %>
</p>

<p>
  <strong>Credits sessions life:</strong>
  <%= @imp_survey.credits_sessions_life %>
</p>

<%= link_to 'Edit', edit_imp_survey_path(@imp_survey) %> |
<%= link_to 'Back', imp_surveys_path %>
