<p id="notice"><%= notice %></p>

<p>
  <strong>Respondentid:</strong>
  <%= @survey.respondentid %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @survey.birth_year %>
</p>

<p>
  <strong>Age:</strong>
  <%= @survey.age %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @survey.age_group %>
</p>

<p>
  <strong>Experience group:</strong>
  <%= @survey.experience_group %>
</p>

<p>
  <strong>Hours group:</strong>
  <%= @survey.hours_group %>
</p>

<p>
  <strong>Member pro:</strong>
  <%= @survey.member_pro %>
</p>

<p>
  <strong>Member music org:</strong>
  <%= @survey.member_music_org %>
</p>

<p>
  <strong>Genre group 1:</strong>
  <%= @survey.genre_group_1 %>
</p>

<p>
  <strong>Money genre group 1:</strong>
  <%= @survey.money_genre_group_1 %>
</p>

<p>
  <strong>Pie song:</strong>
  <%= @survey.pie_song %>
</p>

<p>
  <strong>Pie salary:</strong>
  <%= @survey.pie_salary %>
</p>

<p>
  <strong>Pie live:</strong>
  <%= @survey.pie_live %>
</p>

<p>
  <strong>Pie record:</strong>
  <%= @survey.pie_record %>
</p>

<p>
  <strong>Pie session:</strong>
  <%= @survey.pie_session %>
</p>

<p>
  <strong>Pie merch:</strong>
  <%= @survey.pie_merch %>
</p>

<p>
  <strong>Pie teach:</strong>
  <%= @survey.pie_teach %>
</p>

<p>
  <strong>Pie other:</strong>
  <%= @survey.pie_other %>
</p>

<p>
  <strong>Compose inc direction:</strong>
  <%= @survey.compose_inc_direction %>
</p>

<p>
  <strong>Salary inc direction:</strong>
  <%= @survey.salary_inc_direction %>
</p>

<p>
  <strong>Perform inc direction:</strong>
  <%= @survey.perform_inc_direction %>
</p>

<p>
  <strong>Record inc direction:</strong>
  <%= @survey.record_inc_direction %>
</p>

<p>
  <strong>Session inc direction:</strong>
  <%= @survey.session_inc_direction %>
</p>

<p>
  <strong>Merch inc direction:</strong>
  <%= @survey.merch_inc_direction %>
</p>

<p>
  <strong>Teach inc direction:</strong>
  <%= @survey.teach_inc_direction %>
</p>

<p>
  <strong>Rev youtube:</strong>
  <%= @survey.rev_youtube %>
</p>

<p>
  <strong>Rev webads:</strong>
  <%= @survey.rev_webads %>
</p>

<p>
  <strong>Rev fanfund:</strong>
  <%= @survey.rev_fanfund %>
</p>

<p>
  <strong>Rev fanclub:</strong>
  <%= @survey.rev_fanclub %>
</p>

<p>
  <strong>Rev persona:</strong>
  <%= @survey.rev_persona %>
</p>

<p>
  <strong>Rev endorse:</strong>
  <%= @survey.rev_endorse %>
</p>

<p>
  <strong>Rev acting:</strong>
  <%= @survey.rev_acting %>
</p>

<p>
  <strong>Rev corp:</strong>
  <%= @survey.rev_corp %>
</p>

<p>
  <strong>Rev sample:</strong>
  <%= @survey.rev_sample %>
</p>

<p>
  <strong>Rev honoraria:</strong>
  <%= @survey.rev_honoraria %>
</p>

<p>
  <strong>Rev grants:</strong>
  <%= @survey.rev_grants %>
</p>

<p>
  <strong>Rev produce:</strong>
  <%= @survey.rev_produce %>
</p>

<p>
  <strong>Rev pubadvance:</strong>
  <%= @survey.rev_pubadvance %>
</p>

<p>
  <strong>Ascaplus:</strong>
  <%= @survey.ascaplus %>
</p>

<p>
  <strong>Aarc:</strong>
  <%= @survey.aarc %>
</p>

<p>
  <strong>Afm 2:</strong>
  <%= @survey.afm_2 %>
</p>

<p>
  <strong>Afm srsp:</strong>
  <%= @survey.afm_srsp %>
</p>

<p>
  <strong>Afm aftra:</strong>
  <%= @survey.afm_aftra %>
</p>

<p>
  <strong>Aftra csp:</strong>
  <%= @survey.aftra_csp %>
</p>

<p>
  <strong>Label settle:</strong>
  <%= @survey.label_settle %>
</p>

<p>
  <strong>Music inc share pct:</strong>
  <%= @survey.music_inc_share_pct %>
</p>

<p>
  <strong>Income strata:</strong>
  <%= @survey.income_strata %>
</p>

<p>
  <strong>Income strata group:</strong>
  <%= @survey.income_strata_group %>
</p>

<p>
  <strong>Emi:</strong>
  <%= @survey.emi %>
</p>

<p>
  <strong>Full time:</strong>
  <%= @survey.full_time %>
</p>

<p>
  <strong>Seasoning group:</strong>
  <%= @survey.seasoning_group %>
</p>

<p>
  <strong>Path group:</strong>
  <%= @survey.path_group %>
</p>

<p>
  <strong>Role composer:</strong>
  <%= @survey.role_composer %>
</p>

<p>
  <strong>Role recording:</strong>
  <%= @survey.role_recording %>
</p>

<p>
  <strong>Role performer:</strong>
  <%= @survey.role_performer %>
</p>

<p>
  <strong>Role session:</strong>
  <%= @survey.role_session %>
</p>

<p>
  <strong>Role teacher:</strong>
  <%= @survey.role_teacher %>
</p>

<p>
  <strong>Freq commercial radio:</strong>
  <%= @survey.freq_commercial_radio %>
</p>

<p>
  <strong>Freq noncommercial radio:</strong>
  <%= @survey.freq_noncommercial_radio %>
</p>

<p>
  <strong>Freq internet radio:</strong>
  <%= @survey.freq_internet_radio %>
</p>

<p>
  <strong>Freq satellite radio:</strong>
  <%= @survey.freq_satellite_radio %>
</p>

<p>
  <strong>Freq cable radio:</strong>
  <%= @survey.freq_cable_radio %>
</p>

<p>
  <strong>Comfort net produce:</strong>
  <%= @survey.comfort_net_produce %>
</p>

<p>
  <strong>Comfort net promote:</strong>
  <%= @survey.comfort_net_promote %>
</p>

<p>
  <strong>Comfort net distribute:</strong>
  <%= @survey.comfort_net_distribute %>
</p>

<p>
  <strong>Comfort net collaborate:</strong>
  <%= @survey.comfort_net_collaborate %>
</p>

<p>
  <strong>Comfort net fanconnect:</strong>
  <%= @survey.comfort_net_fanconnect %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @survey.gender %>
</p>

<p>
  <strong>Gender group:</strong>
  <%= @survey.gender_group %>
</p>

<p>
  <strong>Edu level group:</strong>
  <%= @survey.edu_level_group %>
</p>

<p>
  <strong>Music school:</strong>
  <%= @survey.music_school %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @survey.zip %>
</p>

<p>
  <strong>Credits compositions life:</strong>
  <%= @survey.credits_compositions_life %>
</p>

<p>
  <strong>Credits recordings life:</strong>
  <%= @survey.credits_recordings_life %>
</p>

<p>
  <strong>Shows last year:</strong>
  <%= @survey.shows_last_year %>
</p>

<p>
  <strong>Credits sessions life:</strong>
  <%= @survey.credits_sessions_life %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @survey.batch %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @survey.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @survey.longitude %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
