<p id="notice"><%= notice %></p>

<p>
  <strong>Respondentid:</strong>
  <%= @surveytest.respondentid %>
</p>

<p>
  <strong>Age:</strong>
  <%= @surveytest.age %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @surveytest.age_group %>
</p>

<p>
  <strong>Experience group:</strong>
  <%= @surveytest.experience_group %>
</p>

<p>
  <strong>Hours group:</strong>
  <%= @surveytest.hours_group %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @surveytest.integer %>
</p>

<p>
  <strong>Member pro:</strong>
  <%= @surveytest.member_pro %>
</p>

<p>
  <strong>Member music org:</strong>
  <%= @surveytest.member_music_org %>
</p>

<p>
  <strong>Genre group 1:</strong>
  <%= @surveytest.genre_group_1 %>
</p>

<p>
  <strong>Money genre group 1:</strong>
  <%= @surveytest.money_genre_group_1 %>
</p>

<p>
  <strong>Pie song:</strong>
  <%= @surveytest.pie_song %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @surveytest.integer %>
</p>

<p>
  <strong>Pie salary:</strong>
  <%= @surveytest.pie_salary %>
</p>

<p>
  <strong>Pie live:</strong>
  <%= @surveytest.pie_live %>
</p>

<p>
  <strong>Pie record:</strong>
  <%= @surveytest.pie_record %>
</p>

<p>
  <strong>Pie session:</strong>
  <%= @surveytest.pie_session %>
</p>

<p>
  <strong>Pie merch:</strong>
  <%= @surveytest.pie_merch %>
</p>

<p>
  <strong>Pie teach:</strong>
  <%= @surveytest.pie_teach %>
</p>

<p>
  <strong>Pie other:</strong>
  <%= @surveytest.pie_other %>
</p>

<p>
  <strong>Compose inc direction:</strong>
  <%= @surveytest.compose_inc_direction %>
</p>

<p>
  <strong>Salary inc direction:</strong>
  <%= @surveytest.salary_inc_direction %>
</p>

<p>
  <strong>Perform inc direction:</strong>
  <%= @surveytest.perform_inc_direction %>
</p>

<p>
  <strong>Record inc direction:</strong>
  <%= @surveytest.record_inc_direction %>
</p>

<p>
  <strong>Session inc direction:</strong>
  <%= @surveytest.session_inc_direction %>
</p>

<p>
  <strong>Merch inc direction:</strong>
  <%= @surveytest.merch_inc_direction %>
</p>

<p>
  <strong>Teach inc direction:</strong>
  <%= @surveytest.teach_inc_direction %>
</p>

<p>
  <strong>Rev youtube:</strong>
  <%= @surveytest.rev_youtube %>
</p>

<p>
  <strong>Rev webads:</strong>
  <%= @surveytest.rev_webads %>
</p>

<p>
  <strong>Rev fanfund:</strong>
  <%= @surveytest.rev_fanfund %>
</p>

<p>
  <strong>Rev fanclub:</strong>
  <%= @surveytest.rev_fanclub %>
</p>

<p>
  <strong>Rev persona:</strong>
  <%= @surveytest.rev_persona %>
</p>

<p>
  <strong>Rev endorse:</strong>
  <%= @surveytest.rev_endorse %>
</p>

<p>
  <strong>Rev acting:</strong>
  <%= @surveytest.rev_acting %>
</p>

<p>
  <strong>Rev corp:</strong>
  <%= @surveytest.rev_corp %>
</p>

<p>
  <strong>Rev sample:</strong>
  <%= @surveytest.rev_sample %>
</p>

<p>
  <strong>Rev honoraria:</strong>
  <%= @surveytest.rev_honoraria %>
</p>

<p>
  <strong>Rev grants:</strong>
  <%= @surveytest.rev_grants %>
</p>

<p>
  <strong>Rev produce:</strong>
  <%= @surveytest.rev_produce %>
</p>

<p>
  <strong>Rev pubadvance:</strong>
  <%= @surveytest.rev_pubadvance %>
</p>

<p>
  <strong>Ascaplus:</strong>
  <%= @surveytest.ascaplus %>
</p>

<p>
  <strong>Aarc:</strong>
  <%= @surveytest.aarc %>
</p>

<p>
  <strong>Afm 2:</strong>
  <%= @surveytest.afm_2 %>
</p>

<p>
  <strong>Afm srsp:</strong>
  <%= @surveytest.afm_srsp %>
</p>

<p>
  <strong>Afm aftra:</strong>
  <%= @surveytest.afm_aftra %>
</p>

<p>
  <strong>Aftra csp:</strong>
  <%= @surveytest.aftra_csp %>
</p>

<p>
  <strong>Label settle:</strong>
  <%= @surveytest.label_settle %>
</p>

<p>
  <strong>Music inc share pct:</strong>
  <%= @surveytest.music_inc_share_pct %>
</p>

<p>
  <strong>Income strata:</strong>
  <%= @surveytest.income_strata %>
</p>

<p>
  <strong>Income strata group:</strong>
  <%= @surveytest.income_strata_group %>
</p>

<p>
  <strong>Emi:</strong>
  <%= @surveytest.emi %>
</p>

<p>
  <strong>Full time:</strong>
  <%= @surveytest.full_time %>
</p>

<p>
  <strong>Seasoning group:</strong>
  <%= @surveytest.seasoning_group %>
</p>

<p>
  <strong>Path group:</strong>
  <%= @surveytest.path_group %>
</p>

<p>
  <strong>Role compose:</strong>
  <%= @surveytest.role_compose %>
</p>

<p>
  <strong>Role record:</strong>
  <%= @surveytest.role_record %>
</p>

<p>
  <strong>Role perform:</strong>
  <%= @surveytest.role_perform %>
</p>

<p>
  <strong>Role session:</strong>
  <%= @surveytest.role_session %>
</p>

<p>
  <strong>Role teach:</strong>
  <%= @surveytest.role_teach %>
</p>

<p>
  <strong>Freq commercial radio:</strong>
  <%= @surveytest.freq_commercial_radio %>
</p>

<p>
  <strong>Freq noncommercial radio:</strong>
  <%= @surveytest.freq_noncommercial_radio %>
</p>

<p>
  <strong>Freq internet radio:</strong>
  <%= @surveytest.freq_internet_radio %>
</p>

<p>
  <strong>Freq satellite radio:</strong>
  <%= @surveytest.freq_satellite_radio %>
</p>

<p>
  <strong>Freq cable radio:</strong>
  <%= @surveytest.freq_cable_radio %>
</p>

<p>
  <strong>Comfort net produce:</strong>
  <%= @surveytest.comfort_net_produce %>
</p>

<p>
  <strong>Comfort net promote:</strong>
  <%= @surveytest.comfort_net_promote %>
</p>

<p>
  <strong>Comfort net distribute:</strong>
  <%= @surveytest.comfort_net_distribute %>
</p>

<p>
  <strong>Comfort net collaborate:</strong>
  <%= @surveytest.comfort_net_collaborate %>
</p>

<p>
  <strong>Comfort net fanconnect:</strong>
  <%= @surveytest.comfort_net_fanconnect %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @surveytest.gender %>
</p>

<p>
  <strong>Gender group:</strong>
  <%= @surveytest.gender_group %>
</p>

<p>
  <strong>Edu level group:</strong>
  <%= @surveytest.edu_level_group %>
</p>

<p>
  <strong>Music school:</strong>
  <%= @surveytest.music_school %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @surveytest.zip %>
</p>

<p>
  <strong>Credits compose life:</strong>
  <%= @surveytest.credits_compose_life %>
</p>

<p>
  <strong>Credits record life:</strong>
  <%= @surveytest.credits_record_life %>
</p>

<p>
  <strong>Credits show life:</strong>
  <%= @surveytest.credits_show_life %>
</p>

<p>
  <strong>Credits session life:</strong>
  <%= @surveytest.credits_session_life %>
</p>

<p>
  <strong>Shows last year:</strong>
  <%= @surveytest.shows_last_year %>
</p>

<%= link_to 'Edit', edit_surveytest_path(@surveytest) %> |
<%= link_to 'Back', surveytests_path %>
