<!-- Super Container - SubFooter Space -->
<div id="section-sub-footer">   
  <footer>
    <div class="logos">   
      <%= image_tag("logo_create_300.jpg", :alt=> "Create UK")%>
      <img alt="Future of Music Coalition - Education, Research, and Advocacy for Musicians" src="http://money.futureofmusic.org/wordpress/wp-content/uploads/2012/02/FMClogonameblackback300.png" />
      <p class="made_possible">This data portal is made possible through the financial support of CREATe UK, Doris Duke Charitable Foundation, and Future of Music Coalition.</p>
    </div>
    <div class="">
      <ul class="social">
        <li><a href="https://twitter.com/intent/tweet?status=Survey data about musicians’ revenue streams, collected by @future_of_music 2011 Money from Music Survey ( design by @rhythmspice )"><span class="fa fa-twitter-square fa-2x"></span></a></li>
        <li><a href="http://facebook.com/Futureofmusiccoalition"><span class="fa fa-facebook-square fa-2x"></span></a></li>
        <li><a href="http://money.futureofmusic.org/feed/" target="_blank"><span class="fa fa-rss-square fa-2x"></span></a></li>
      </ul>
      <address><span>Future of Music Coalition</span><span><a href="https://www.google.com/maps/place/2217+14th+St+NW,+Washington,+DC+20009/data=!4m2!3m1!1s0x89b7b7e7153bdef7:0x3975182ccf239a39?sa=X&ved=0CB0Q8gEwAGoVChMI_6CDv57GyAIViHE-Ch2czAzF">2217 14th Street NW, 2nd floor, Washington, DC 20009</a></span><span>(202) 822-2051</span></address>
      <p>Interface design by <a href="http://rhythmspice.com">rhythmspice</a> aka <a href="http://twitter.com/orchestrotica">@orchestrotica</a>.</p>
      <p>Development by <a href="http://intouchcorp.com">inTouch Corp.</a>. Super-Skeleton theme by Brandon R. Jones. </p>
    </div>
  </footer>
</div>
<!--           title
text: 'Gross estimated music income: <%= number_to_currency(@avg_emi) %> <%#<tspan title="<%= @emi_pct_answered % >% of respondents in filtered sample provided EMI"></span>%>'
subtitle 
text: "Allocation of music-related income by category over past 12 months, and perceived changes in income over prior 5 years. N=<%= @EMISampleSize %>."
-->
<script src="http://code.highcharts.com/mapdata/countries/us/us-all-all.js"></script>
<%=render "charting.js"  %>
