<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <title>Artist Revenue Streams: Money from Music Survey Data Portal - a multi-method, cross-genre examination of how US based musicians and composers are earning a living.</title>
  <%= csrf_meta_tags %>
  <meta property="fb:admins" content="764628221" />
  <meta property="fb:admins" content="598115755" />
  <meta property="og:image" content="<%= image_url("screen-shot-for-sharing.png") %>"/>
  <meta property="og:type" content="website"/>
  <meta property="ob:url" content="<%=request.original_url%>" />
  <meta property="og:site_name" content="Future of Music Coalition&#39;s Artists Revenue Streams Project"/>
  <meta property="og:title" content="Money from Music Survey Data Portal"/>
  <meta property="og:description" content="View aggregated survey data from over 5,000 US-based musicians showing income sources by role, musical genre, career length, and educational training."/>
  <meta name="description" content="View aggregated survey data from over 5,000 US-based musicians showing income sources by role, musical genre, career length, and educational training."/>
  <meta name="keywords" content="musician incomes, musician earnings, copyright, royalties, compositions, sound recordings, digital download revenue, streaming revenue, live performance income" />
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/maps/modules/map.js"></script>
  <script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
  <script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
  <!-- money.fom.org specific headers follow -->
	<link rel="alternate" type="application/rss+xml" title="Artist Revenue Streams &raquo; Feed" href="http://money.futureofmusic.org/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Artist Revenue Streams &raquo; Comments Feed" href="http://money.futureofmusic.org/comments/feed/" />
  <!-- WP plugin for columns.css version was 3.7.4 ; jquery-collapse-o-matic/light_style.css?ver=1.5.7'	-->
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://money.futureofmusic.org/wordpress/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://money.futureofmusic.org/wordpress/wp-includes/wlwmanifest.xml" /> 
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://money.futureofmusic.org/feed/" />
	<link rel="alternate" type="text/xml" title="RSS .92" href="http://money.futureofmusic.org/feed/rss/" />
	<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://money.futureofmusic.org/feed/atom/" />
	<link rel="pingback" href="http://money.futureofmusic.org/wordpress/xmlrpc.php" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="/font-awesome-4.4.0/css/font-awesome.min.css">
	<!-- Favicons, StyleLoader, and basic WP stuff
	================================================== -->
	<link rel="shortcut icon"href="http://money.futureofmusic.org/wordpress/wp-content/uploads/2012/01/fmc_favicon.png" type="image/gif" />  
</head>
<body>
  
  <div id="page">
    <header> 
      <div id="masthead"><a href="http://money.futureofmusic.org"><span><%= image_tag("recordPlayer.svg") %></span><span><%= image_tag("logo_arsnameonly_portion.svg") %></span></a></div>
      <nav>
        <div id="nav">
          <ul>
            <li><a href="http://money.futureofmusic.org/about-the-project/">About the Project</a></li>
            <li><a href="http://money.futureofmusic.org/40-revenue-streams/">42 Revenue Streams</a></li> 
            <li><a href="http://money.futureofmusic.org/findings/">Data Memos and Reports	</a></li>  
            <li><a href="http://money.futureofmusic.org/financial-case-studies/">Financial Case Studies</a></li>  
            <li class="active"><strong>Survey Data Portal</strong></li>
            <li><a href="http://money.futureofmusic.org/contact/">Contact</a></li>  
            <li><a href="http://futureofmusic.org/donate">Support Us</a></li>           
          </ul>
        </div>
      </nav>
      <div class="feedback">
        <p><span class="fa fa-icon fa-envelope"></span> FMC Summit Attendees: <a href="mailto:ars@futureofmusic.org,brian@rhythmspice.com?subject=Data Portal Website Feedback">Send us your questions or feedback here</a></p>
      </div>
      <div class="page-title-container">
        <div>
          <h1>Artist Revenue Streams Data Portal</h1>						 
        </div>
        <div class="social_links">
          <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Ffmc%2dars%2d0.herokuapp.com%2Fdashboard%2Fshow&t=Future%20of%20Music%2dArtists%20Revenue%20Portal"><span class="fa fa-facebook-square fa-2x"></span></a>
          <a href="https://twitter.com/intent/tweet?status=Survey data about musicians’ revenue streams, collected by @future_of_music 2011 Money from Music Survey ( design by @rhythmspice )"><span class="fa fa-twitter-square fa-2x"></span></a>
        </div>
      </div>  	
    </header>
    <%= yield %>
  </div><!-- /End Super Container -->
    <%=render 'layouts/footer' %>
  </body>
</html>
