<!DOCTYPE html>
<html>
<head>
  <title>Future of Music Coalition -- Artists Revenue Portal</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:image" content="<%= image_url("fbimg.png") %>"/>
  <meta property="og:type" content="website"/>
  <meta property="ob:url" content="<%=request.original_url%>" />
  <meta property="og:title" content="Artist Revenue Streams Data Portal"/>
  <meta property="og:site_name" content="Future of Music Coalition&#39;s Artists Revenue Portal"/>
  <meta property="og:description" content="Users can explore, chart and map musicians and their incomes from the Future of Music Coalition&#39;s ground breaking survey of over 5000 musicians from around the USA."/>
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/maps/modules/map.js"></script>
  <script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
  <script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
  <!-- money.fom.org specific headers follow -->
  <title>Artist Revenue Streams Data Portal | a multi-method, cross-genre examination of how US based musicians and composers are earning a living.</title>
	<link rel="alternate" type="application/rss+xml" title="Artist Revenue Streams &raquo; Feed" href="http://money.futureofmusic.org/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Artist Revenue Streams &raquo; Comments Feed" href="http://money.futureofmusic.org/comments/feed/" />
  <!-- TODO: google analytics code removed from dev version -->			
  <link rel='stylesheet' id='columns-css'  href='http://money.futureofmusic.org/wordpress/wp-content/plugins/columns/columns.css?ver=3.7.4' type='text/css' media='all' />
  <link rel='stylesheet' id='collapseomatic-css-css'  href='http://money.futureofmusic.org/wordpress/wp-content/plugins/jquery-collapse-o-matic/light_style.css?ver=1.5.7' type='text/css' media='all' />
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://money.futureofmusic.org/wordpress/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://money.futureofmusic.org/wordpress/wp-includes/wlwmanifest.xml" /> 
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://money.futureofmusic.org/feed/" />
	<link rel="alternate" type="text/xml" title="RSS .92" href="http://money.futureofmusic.org/feed/rss/" />
	<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://money.futureofmusic.org/feed/atom/" />
	<link rel="pingback" href="http://money.futureofmusic.org/wordpress/xmlrpc.php" />

	<!-- CSS
  	================================================== -->
  	<!-- Load the basic skeleton and plugin CSS, then the main theme stylesheet -->   
    <link rel="stylesheet" type="text/css" media="all" href="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/stylesheets/base.css" />
	<link rel="stylesheet" type="text/css" media="all" href="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/stylesheets/skeleton.css" />
	<link rel="stylesheet" type="text/css" media="all" href="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/stylesheets/comments.css" />
	<link rel="stylesheet" type="text/css" media="all" href="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/stylesheets/buttons.css" />
	<link rel="stylesheet" type="text/css" media="all" href="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/stylesheets/superfish.css" />
	<link rel="stylesheet" type="text/css" media="all" href="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/stylesheets/flexslider.css" />
	<link rel="stylesheet" type="text/css" media="all" href="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/javascripts/chosen/chosen.css" />
	<link rel="stylesheet" type="text/css" media="all" href="http://money.futureofmusic.org/wordpress/wp-content/themes/super-skeleton/assets/stylesheets/styles.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<!-- Favicons, StyleLoader, and basic WP stuff
	================================================== -->
	<link rel="shortcut icon"href="http://money.futureofmusic.org/wordpress/wp-content/uploads/2012/01/fmc_favicon.png" type="image/gif" />  
</head>
<body>
  <div id="masthead"><a href="http://money.futureofmusic.org"><img src="http://money.futureofmusic.org/wordpress/wp-content/uploads/2012/02/ARSprojectheader940x70.png" alt="Artist Revenue Streams" /></a></div>
  <div id="page" class="super-container full-width">
	  <div class="container">
      <header>
        <div class="sixteen columns alpha omega"> 
          <nav>
            <div id="nav">
              <ul>
                <li><a href="http://money.futureofmusic.org/about-the-project/">Home</a></li>
                <li class="active"><strong>Data Portal</strong></li>
                <li><a href="http://money.futureofmusic.org/40-revenue-streams/">42 Revenue Streams</a></li> 
                <li><a href="http://money.futureofmusic.org/findings/">Data Memos and Reports	</a></li>  
                <li><a href="http://money.futureofmusic.org/financial-case-studies/">Financial Case Studies</a></li>  
                <li><a href="http://money.futureofmusic.org/contact/">Contact</a></li>  
                <li><a href="http://futureofmusic.org/donate">Support Us</a></li>           
              </ul>
            </div>
          </nav>
          <h6 class="">Artist Revenue Streams Data Portal</h6>
          <h1><%= FilterProfileName() %></h1>
          <div class="social_links">
            <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Ffmc%2dars%2d0.herokuapp.com%2Fdashboard%2Fshow&t=Future%20of%20Music%2dArtists%20Revenue%20Portal"><%= image_tag("fbicon.png")%></a>
            <a href="https://twitter.com/intent/tweet?status=Examine the data about musicians’ revenue streams, collected by @future_of_music Money from Music Survey in 2011, through an online portal"><%= image_tag("twiticon.png")%></a>
          </div>						 
          <!-- /DEFAULT NAVIGATION -->
  				<!-- TODO RESPONSIVE NAVIGATION FLIP -->
          <!-- REMOVED by Ira -->
  				<!-- /END RESPONSIVE NAV -->
  		  </div>
  		  <!-- END MENU -->			
      </header>
      <%= yield %>
	    </div><!-- /End 960 Container -->
    </div><!-- /End Super Container -->
    <%=render 'layouts/footer' %>
  </body>
</html>
